@model SFA.DAS.EAS.Web.ViewModels.TransferConnectionInvitations.TransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Transfer connection invitation details";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-invitations-details";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/invitations/details";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Connection request details</h1>
        <table>
            <tbody>
                @{
                    var peerAccount = Model.TransferConnectionInvitation.GetPeerAccount(Model.AccountId);
                }
                <tr>
                    <td>Account name</td>
                    <td>@peerAccount.Name</td>
                </tr>
                <tr>
                    <td>Account ID</td>
                    <td>@peerAccount.PublicHashedId</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>@Model.TransferConnectionInvitation.Status.ToString()</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs" id="js-breadcrumbs">
        <a aria-label="Back" class="back-link" href="@Url.Action("Index", "Transfers")">Back</a>
    </div>
}