@{
    ViewBag.Title = "Transfer connection invitations";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-invitations";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/invitations";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Connect with an employer</h1>
        <p>To connect with an employer you want to transfer funds to, you'll need to:</p>
        <ol class="list list-number">
            <li>agree the apprentices, training and costs that the transfer funds will cover</li>
            <li>ensure the employer has registered on the apprenticeship service</li>
            <li>request the employer's apprenticeship account ID. This can be found under the account name on the apprenticeship service homepage.</li>
        </ol>
        <p>You won't be able to complete the next step until you've received the employer's account ID.</p>
        <a class="button" href="@Url.Action("Start", "TransferConnectionInvitations")">Continue</a>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs" id="js-breadcrumbs">
        <ol role="navigation">
            <li><a class="link-back" href="@Url.Action("Index", "Transfers")">Back</a></li>
        </ol>
    </div>
}