@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.Models.TaskListViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Tasks</h1>
   
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        @if (Model.Tasks.Count == 0)
        {
            <p class="panel panel-info">
                You have no tasks to manage.
            </p>
        }
        else
        {
            <table class="tableResponsive tasksList">
                <thead>
                    <tr>
                        <th>Created on</th>
                        <th>Name</th>
                        <th colspan="2">Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model.Tasks)
                    {
                        <tr>
                            <td>
                            
                               @task.CreatedOn.ToGdsFormat() &nbsp;

                            </td>
                            <td>
                                @task.Name &nbsp;
                            </td>

                            <td>
                             
                             @task.Status.ToString()
                            </td>
                            <td>
                                <a href="@Url.Action("ViewTask", new { hashedTaskId = task.HashedTaskId })">View</a>
                            </td>
                       </tr>
                    }
                </tbody>
        </table>
        }
    </div>
</div>
