@using SFA.DAS.EmployerAccounts.Web.Helpers;
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h2 class="govuk-heading-m" id="set-up-an-apprenticeship">Set up an apprenticeship</h2>
<p class="govuk-body">You can set up an apprenticeship for an existing employee or for someone new.</p>
<a class="govuk-button govuk-button--start govuk-!-margin-bottom-0"
asp-route="@RouteNames.TriageCourse"
asp-route-hashedAccountId="@Model.HashedAccountId" role="button" draggable="false">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
</a>
