@using SFA.DAS.EAS.Domain.Models
@model SFA.DAS.EAS.Support.Web.Models.ChangeRoleCompletedModel;

<div class="panel">
    @if (Model.Success)
    {
        <h1 class="heading-large">
            Team member updated
            
        </h1>
        <p>
            @{
                var resultText = (Role)Model.Role switch
                {
                    Role.Owner => $"{Model.MemberEmail} can now accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members.",
                    Role.Transactor => $"{Model.MemberEmail} can now add apprentices and view information.",
                    Role.Viewer => $"{Model.MemberEmail} can now view information but can’t make changes.",
                    Role.None => $"{Model.MemberEmail} can now minimal access for Employer services.",
                    _ => string.Empty
                };
            }
            @resultText
        </p>
    }
    else
    {
        <h1 class="heading-large ">
            The team member role was update failed.
        </h1>
        <p>
            @Model.MemberEmail role remains unchanged.
        </p>
    }
</div>

<a href="@Model.ReturnToTeamUrl">Click to return to Team members</a>