@model SFA.DAS.EAS.Support.Web.Models.ChangeRoleViewModel
@{
    Layout = null;
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large heading-large__equal-margins">
            @Model.Name
        </h1>
    </div>
</div>
