/* GOV.UK OVERRIDES */
label.form-label {
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.25;
}

main {
    padding-bottom: 3em;
}
a.button {
    text-align: center;
}

button, a.button {
    margin-bottom: 0.75em;
}

#global-header-bar {
    background-color: #6f777b;
    height: 10px;
}

.phase-banner-beta {
    padding-bottom: 10px;
}

.phase-banner-beta p {
    display: table;
}

.phase-banner-beta span {
    display: table-cell;
    vertical-align: middle;
}

.service-info {
    margin-bottom: 10px;
}

.column-full {
    padding: 0 15px;
}

table {
    max-width: 640px;
    margin-bottom: 20px;
}

.form-group {
    max-width: 640px;
}

@media (min-width: 641px) {
    .form-group > form {
        display: inline-block;
    }
}

.button-start {
    background-image: url("/assets/images/icon-pointer-2x.png");
    background-size: 30px 19px;
}

.button-link,
a.button-link {
    background: #fff;
    color: #005ea5;
    box-shadow: 0 2px 0 #fff;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

@media (min-width: 641px) {
    .button-link,
    a.button-link {
        margin: 10px 15px 5px;
        padding: 0;
    }
}

.button-link:link, 
.button-link:hover, 
.button-link:focus, 
.button-link:visited {
    color: #005ea5;
    background: #fff;
}

.button-link:hover {
    background: #fff;
    box-shadow: 0 2px 0 #fff;
    color: #2e8aca;
}

.button-link:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
}

.govuk-box-highlight h1, 
.govuk-box-highlight p {
    margin-left:auto;
    margin-right:auto;
}
.inline .block-label {
    margin-right: 0;
}

@media (min-width: 641px) {
    .inline .block-label {
        margin-right: 10px;
    }
}

/* RESPONSIVE TABLES */
.responsive-table {
    display:table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;  
    max-width: 640px;
    margin-bottom: 20px;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    color: #0b0c0c;
}

.responsive-thead, .responsive-th {
    display:none;
}

.responsive-tbody {
    display:table;
    width:100%;
}

.responsive-tr {
    display:table-row-group;
}

/*.responsive-table, .responsive-tr, .responsive-tbody, */
.responsive-td {
    display: table-row;
}

.responsive-inner-caption, .responsive-td div {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: 0.75em 1.25em 0.5625em 0;   
}

.responsive-td div.full-width {
    display: block;
}

.responsive-td:first-child .responsive-inner-caption, .responsive-td:first-child div {
    font-weight:700;
    padding-top:2em;
}

.responsive-td:first-child .responsive-inner-caption {
    visibility: hidden;
}

.responsive-table .responsive-td.numeric, .responsive-table .responsive-th.numeric {
    font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	text-align: left;
}

.responsive-table .responsive-th {
  font-weight: 700;
}

.responsive-detail {
    font-weight: normal;
    color: #A7A9AB;
}

@media (min-width: 641px) {
  .responsive-table .responsive-th,
  .responsive-table .responsive-td {
    font-size: 16px;
    line-height: 1.25;
  }
  
    .responsive-thead {
        display:table-header-group;
    }

    .responsive-tr {
        display: table-row;
    }

    .responsive-th {
        display: table-cell;
    }

    .responsive-td {
        display: table-cell;
    }

    .responsive-tbody {
        display: table-row-group;
    }
	
	.responsive-inner-caption, .responsive-td div {
		border: none;
		padding: 0;		
	}

    .responsive-table .responsive-inner-caption {
        display: none;
    }
	
	.responsive-td div {
		display:block;
	}
	
	.responsive-td:first-child .responsive-inner-caption, .responsive-td:first-child div {
		font-weight:normal;
		padding-top:0;
	}

    .responsive-table .responsive-th,
    .responsive-table .responsive-td {
      padding: 0.75em 1.25em 0.5625em 0;
      border-bottom: 1px solid #bfc1c3;
    }
	
	.responsive-table .responsive-th.numeric, 
	.responsive-table .responsive-td.numeric {
	  text-align: right;
	}
	
}

.rightalign {
    text-align:right;
}

table.th-nopadding th {
    padding-top:0;
}

p.access-denied {
    margin-bottom: 60px;
}

h1.access-denied {
    margin-bottom: 5px; 
}

.govuk-box-highlight p , .govuk-box-highlight  h1 {
    max-width: 100%;
}

hr.wide {
    height:3px;
}

.nextto-h1 {
    margin-top: 60px;
}

table.full-width, .responsive-table.full-width {
    max-width:100%;
}


.breadcrumbs li,
.user-menu li {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  float: left;
  background-image: url("/assets/images/separator.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  list-style: none;
  margin-left: 0.6em;
  margin-bottom: 0.4em;
  padding-left: 0.9em;
}

@media (min-width: 641px) {
  .breadcrumbs li,
  .user-menu li {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .breadcrumbs li {
    background-image: url("/assets/images/separator-2x.png");
    background-size: 6px 11px;
  }
}

.breadcrumbs li:first-child, 
.user-menu li:first-child {
  background-image: none;
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs a
.user-menu a {
  color: #0b0c0c;
}

.breadcrumbs {
    padding: 0;
}
.breadcrumbs ol li {
    position: relative;
}
.back-link {
    padding-left: 15px;
    text-decoration: underline;
    display: inline-block;
}
.back-link:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
}

.user-menu.logged-in {
    border-bottom: 1px solid #bfc1c3;
    margin-bottom: 10px;
}

.user-menu li {
    display: inline-block;
    padding: 0;
    background: none;
    float: none;
    margin-bottom: 10px;
}

.link-user-profile {
    font-weight: 700;
}

@media (min-width: 641px) {
    .user-menu {
        text-align: right;
    }
}

/* Layout */

@media (min-width: 641px) {
    #global-header .header-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.header-global {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 15px;
}

@media (min-width: 641px) {
    .header-global {
        display: table;
        padding: 15px 0 10px;
        width: 100%;
    }
}

.header-global__title,
.header-global__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

.header-global__subtitle {
    font-size: 16px;
}

@media (min-width: 641px) {
    .header-global__title,
    .header-global__subtitle {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        font-size: 32px;
    }
    .header-global__subtitle {
        font-size: 24px;
        text-align: right;
        width: 50%;
    }
}


.header-global__title a,
.header-global__subtitle a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #ffffff;
    display: inline-block;
    padding: 2px 0;
    text-decoration: none;
}

.header-global__title a:hover, 
.header-global__subtitle a:hover {
    border-color: #ffffff;
}

.header-global a:focus {
    color: #0b0c0c;
}
aside.sidebar {
    font-size: 14px;
}

aside.sidebar li {
    margin-bottom: 5px;
}

@media (min-width: 641px) {
    .pull-right {
        float: right
    }
    aside.sidebar {
        margin-top: 60px;
        border-top: 10px solid #005ea5;
        font-size: 16px;
    }
}

/* Typography */

dt:before {
  content: "";
  display: block;
}
dt, dd {
  display: inline;
}

dd {
    font-weight: bold;
}

/* Tables */

table {
    margin-bottom: 20px;
}

th, td {
    vertical-align: top;
}

table.top-border {
    border-top: 1px solid #bfc1c3;
}


.notice {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

@media (min-width: 641px) {
  .notice {
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}