@using SFA.DAS.Activities.Client

@model SFA.DAS.EAS.Web.ViewModels.Activities.ActivitiesViewModel

@{
    ViewBag.Title = "Activity";
    ViewBag.Section = "home";
    ViewBag.PageID = "page-activity";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Activity</h1>
        <p class="lede">A timeline of all the activity on your account.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        @*@Html.Activities(Model.Result)*@
    </div>
</div>