@using SFA.DAS.Activities.Client

@model SFA.DAS.EAS.Web.ViewModels.Activities.ActivitiesViewModel

@{
    ViewBag.Title = "Activity";
    ViewBag.Section = "home";
    ViewBag.PageID = "page-activity";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Activity</h1>
        <p class="lede">A timeline of all the activity on your account.</p>
    </div>
</div>
<div class="grid-row">
    @*<div class="column-one-third">
        <h2 class="heading-medium">Filters</h2>
        <div class="filter">
            <fieldset>
                <legend class="vh">Filter by date range</legend>
                <h3>Date range</h3>
                <div class="multiple-choice">
                    <input id="this-month" type="radio" name="radio-date-range" value="Yes">
                    <label for="this-month">this month</label>
                </div>
                <div class="multiple-choice">
                    <input id="last-three-months" type="radio" name="radio-date-range" value="No">
                    <label for="last-three-months">last 3 months</label>
                </div>
                <div class="multiple-choice" data-target="custom-date-range-fields">
                    <input id="custom-date-range" type="radio" name="radio-date-range" value="No">
                    <label for="custom-date-range">Custom date range</label>
                </div>
                <div class="js-hidden form-group-filter" id="custom-date-range-fields">
                    <div class="form-group">
                        <label class="form-label" for="date-from">From</label>
                        <input class="form-control" name="date-from" type="text" id="date-from">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="date-to">To</label>
                        <input class="form-control" name="date-to" type="text" id="date-to">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="filter">
            <fieldset>
                <legend class="vh">Filter by keyword search</legend>
                <h3>Keyword search</h3>
                <div>
                    <label class="form-label vh" for="date-to">Keyword search</label>
                    <input class="form-control" name="date-to" type="text" id="date-to">
                </div>
                <div class="form-group">
                    <input class="button" type="submit">
                </div>
            </fieldset>
        </div>
    </div>*@
    <div class="column-two-thirds">
        @Html.Activities(Model.Result)
    </div>
</div>