@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h2 class="govuk-heading-m">Accept your agreement to access apprenticeship funding</h2>
<p class="govuk-body">Accept your agreement with the Department for Education (<abbr>DfE</abbr>) to access funding for apprenticeship training.</p>
<p class="govuk-body govuk-!-margin-0"><a asp-route="@RouteNames.AboutYourAgreement" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-hashedAgreementId="@Model.PendingAgreements.FirstOrDefault().HashedAgreementId" class="govuk-link govuk-link--inverse govuk-!-font-weight-bold">Accept your agreement</a> </p>
