@model SFA.DAS.EAS.Support.Web.Models.AccountDetailViewModel

@if (Model.Account != null)
{
    <h1 class="heading-xlarge">
        Organisations
    </h1>

    if (Model.Account.LegalEntities.Any())
    {
        <table class="responsive">
            <thead>
                <tr>
                    <th scope="col" class="">Name</th>
                    <th scope="col" class="">Address</th>
                    <th scope="col" class="">Source</th>
                    <th scope="col" class="">Agreement status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Account.LegalEntities)
                {
                    <tr>
                        <td data-label="Name" id="NameColumn">@item.Name</td>
                        <td data-label="Address" id="AddressColumn">@item.Address</td>
                        <td data-label="Source" id="SourceColumn">@item.Source</td>
                        <td data-label="AgreementStatus" id="AgreementStatusColumn">@item.AgreementStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Organisations found</p>
    }
}
else
{
    <p>Account not found</p>
}