@model SFA.DAS.EAS.Support.Web.Models.AccountDetailViewModel

@if (Model.Account != null)
{
    <h1>
        PAYE Schemes
    </h1>

    if (Model.Account.PayeSchemes.Any())
    {
        <p>Added PAYE Schemes</p>

        foreach (var payeScheme in Model.Account.PayeSchemes)
        {
            <dl>
                <dt>@payeScheme.Ref</dt>
            </dl>

            <hr/>
        }
    }
    else
    {
        <p>No PAYE schemes available</p>
    }
}
else
{
    <p>Account not found</p>
}