@model SFA.DAS.EAS.Support.Core.Models.Account
@{
    Layout = null;
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            @(Model?.DasAccountName)
            @if (!string.IsNullOrEmpty(Model?.PublicHashedAccountId))
            {
                <span class="heading-secondary"> Account ID @(Model?.PublicHashedAccountId), created @Model.DateRegistered.ToString("dd/MM/yyyy")</span>
            }
        </h1>
    </div>
</div>
