@model OrchestratorResponse<OrganisationUpdatedNextStepsViewModel>

@{ViewBag.PageID = "page-organisation-updated-what-next"; }
@{
    ViewBag.Title = "What's next";
    ViewBag.Section = "organisations";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (string.IsNullOrEmpty(Model.Data.ErrorMessage))
        {
            <div class="success-summary" tabindex="-1">
                <h1 class="bold-large">Details updated</h1>
                <p>You've successfully updated your organisation details</p>
            </div>
        }
        else
        {
            <div class="error-summary" tabindex="-1">
                <h1 class="bold-large">Details could not be updated</h1>
                <p class="govuk-error-message">@Model.Data.ErrorMessage</p>
            </div>
        }

        <form asp-route="@RouteNames.OrganisationPostUpdateSelection" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" method="post">
            <div class="govuk-form-group">
                <h2 class="govuk-heading-l">What's next?</h2>

                <div class="multiple-choice">
                    <input type="radio" name="nextStep" value="dashboard" />
                    <label for="acceptAgreement">Go to your organisations and agreements</label>
                </div>
                <div class="multiple-choice">
                    <input type="radio" name="nextStep" value="homepage" />
                    <label for="teamMembers">Go to the homepage</label>
                </div>
            </div>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("ViewTeam", "EmployerTeam")" class="govuk-back-link">Back to your team</a></li>
        </ol>
    </div>
}
