@model OrchestratorResponse<OrganisationUpdatedNextStepsViewModel>

@{ViewBag.PageID = "page-organisation-updated-what-next"; }
@{
    ViewBag.Title = "What's next";
    ViewBag.Section = "organisations";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (string.IsNullOrEmpty(Model.Data.ErrorMessage))
        {
            <div class="das-notification das-notification--success" tabindex="-1">
                <h1 class="das-notification__heading">Details updated</h1>
                <p>You've successfully updated your organisation details</p>
            </div>
        }
        else
        {
            <div class="govuk-error-summary" tabindex="-1">
                <h1 class="govuk-error-summary__title">Details could not be updated</h1>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>@Model.Data.ErrorMessage</li>
                    </ul>
                </div>
            </div>
        }

        <form asp-route="@RouteNames.OrganisationPostUpdateSelection" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" method="post">
            <div class="govuk-form-group">
                <h2 class="govuk-heading-l">What's next?</h2>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input type="radio" name="nextStep" value="dashboard" class="govuk-radios__input"  />
                        <label for="acceptAgreement" class="govuk-label govuk-radios__label">Go to your organisations and agreements</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input type="radio" name="nextStep" value="homepage" class="govuk-radios__input"  />
                        <label for="teamMembers" class="govuk-label govuk-radios__label">Go to the homepage</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <a href="@Url.Action("ViewTeam", "EmployerTeam")" class="govuk-back-link">Back to your team</a>
}