@model SFA.DAS.EmployerAccounts.Web.ViewModels.VacancyViewModel

<section>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        Your apprenticeship advert
    </h2>
    <p>You've created an advert for your apprenticeship.</p>
    <table class="govuk-table">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header das-table-cell-width-35">
                Title
            </th>
            <td class="govuk-table__cell das-table-cell-width-65">
                @(Model?.Title)
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                Status
            </th>
            <td class="govuk-table__cell">
                <span class="govuk-tag govuk-tag--red">Rejected</span>
            </td>
        </tr>
    </table>
    <p>
        <a href="@Model.ManageVacancyUrl" role="button" draggable="false" class="govuk-button">
            Review your advert
        </a>
    </p>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">