.dashboard-heading {
    font-size: 22px;
    color: #6f777b;
    margin-top: 30px;
}

@media (min-width: 641px) {
    .dashboard-heading {
        font-size: 27px;
    }
}

.dashboard-heading-company {
    margin-top: 0;
    margin-bottom: 0;
}

hr.dashboard-heading-separator {
    border-bottom: 5px solid #bfc1c3;
    margin: 10px 0;
}

.dashboard-section {
    border-bottom: 2px solid #bfc1c3;
    padding-bottom: 15px;
}

.dashboard-section-last {
    padding-top: 30px;
}

.section-heading {
    margin-top: .75em;
}

.section-description {
    color: #6f777b;
}

@media (min-width: 641px) {
    .section-description {
        margin: -10px 0 30px;
    }
}

.cards {
    background: white;
    margin: 0 -15px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

@media (min-width: 641px) {
    .cards {
        display: flex;
        display: -ms-flex;
    }
}

.card {
    padding: 0 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

@media (min-width: 641px) {
    .card {
        width: 50%;
    }
}

.card > h3 {
    margin-top: 0;
    margin-bottom: .5em;
}

.card > p {
    font-size: 14px;
}

@media (min-width: 641px) {
    .card > p {
        font-size: 16px;
    }
}

.das-favourites-link {
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    color: $link-colour;
    text-decoration: underline;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;


    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.das-favourites-link__icon {
    width: 1.6em;
    height: 1.6em;
    margin-right: 8px;

    & > svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.das-favourites-link__text {
    margin-top: 5px;
}

.das-favourites-link__count {
    font-weight: bold;
}

.das-panel {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;

    @media (min-width: 641px) {
        margin-bottom: 30px;
        padding: 30px;
    }
}

.das-panel--interruption {
    background: $govuk-blue;
    color: #fff;
    margin-top: 20px;

    & > p {
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & > dl {
        color: #fff;
        font-size: 1em;

        & > dd.das-definition-list__definition {
            border-color: rgba(255, 255, 255, .5);
        }
    }

    .das-panel__link {
        color: #fff;
        font-weight: 700;

        &:focus {
            color: #000;
        }

        &:hover {
            text-decoration: none
        }
    }
}

.das-panel--popular {
    margin-top: 20px;
    background: $mauve;
    color: #fff;

    .das-panel__link {
        color: #fff;
        font-weight: 700;

        &:focus {
            color: #000;
        }
    }
    .list {
        margin-bottom: -5px;
    }
}

.das-panel--summary {
    padding: 0px;
    margin-top: 30px;
}

.das-panel--action {
    background: $grey-3;
    color: #000;
    margin-top: 20px;

    & > p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .das-panel__link {
        font-weight: 700;

        &:hover {
            text-decoration: none
        }
    }
}

.das-panel__heading {
    font-size: 19px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

    @include media(tablet) {
        font-size: 24px;
    }

    .das-panel--featured & {
        font-size: 24px;

        @include media(tablet) {
            font-size: 36px;
            line-height: 1.2;
        }
    }

    .das-panel--action & {
        font-size: 24px;

        @include media(tablet) {
            font-size: 36px;
            line-height: 1.2;
        }
    }
}

