<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="SFA.DAS.Audit.Client" version="1.0.0.20553" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Client" version="1.65.0.33068" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Types" version="1.65.0.33068" targetFramework="net45" />
  <package id="SFA.DAS.Events.Api.Client" version="1.20.0.26497" targetFramework="net45" />
  <package id="SFA.DAS.Events.Api.Types" version="1.20.0.26497" targetFramework="net45" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.0.0.27426" targetFramework="net45" />
  <package id="SFA.DAS.ReferenceData.Api.Client" version="1.0.0.33424" targetFramework="net45" />
  <package id="SFA.DAS.TokenService.Api.Client" version="1.0.0.26382" targetFramework="net45" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net45" />
</packages>