@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.BeginNewPayeScheme>
@{ViewBag.Title = "Add PAYE Scheme";}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add a PAYE Scheme</h1>
        <p>You need the Government Gateway login details for the PAYE scheme you want to use to access levy funds.</p>
        <h2 class="heading-medium">By continuing you agree to the following:</h2>
        <div class="panel">
            <p>
                I have authority to add PAYE schemes to this account.
            </p>
            <p>
                I understand that all account users will be able to see levy funds from any PAYE schemes I add.
            </p>
            <p>
                All PAYE schemes I add are owned and operated by an organisation that'll use this account, or owned and operated by a
                <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" rel="external" target="_blank">connected organisation</a>.
            </p>
        </div>
        <form method="GET" action="@Url.Action("GetGateway","EmployerAccountPaye")">
            
            <input type="hidden" id="confirmPayeVisibility" name="confirmPayeVisibility" value="true">

            <button class="button" type="submit" id="continue">Continue</button>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountPaye")">PAYE Schemes</a></li>
            <li>Add PAYE Scheme</li>
        </ol>
    </div>
}
