@{
    ViewBag.Title = "Change your DfE Sign-in account details";
    ViewBag.PageID = "change-your-DfESign-in-account-details";
    ViewBag.HideNav = true;
}

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="javascript:window.history.back();" class="back-link">Back</a>
    </div>
}
<h1 class="heading-large">Change your DfE Sign-in account details</h1>
<p>You use DfE Sign-in to access Apprenticeship service for training providers.</p>
<p>You can change these details in your DfE Sign-in account:</p>
<ul class="list list-bullet">
    <li>email address</li>
    <li>password</li>
</ul>
<p><a target="_blank" rel="noopener noreferrer" href="https://profile.signin.education.gov.uk/">Change your sign-in details for your DfE Sign-in account (opens in new tab)</a>.</p>