@model OrchestratorResponse<SummaryUnsubscribeViewModel>

@{
    ViewBag.Title = "Unsubscribe from notification";
    ViewBag.PageId = "unsubscribe-notification";
    ViewBag.ShowNav = false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.Data.AlreadyUnsubscribed)
        {
            <h1 class="govuk-heading-xl">You've already unsubscribed</h1>

            <p>You've already unsubscribed from notifications for @{@Model.Data.AccountName}.</p>

            <p>You'll continue to receive important service emails, such as password resets.</p>
                }
                else
                {
            <h1 class="govuk-heading-xl">Unsubscribe successful</h1>
            <p>You've unsubscribed from any further email notifications for @{@Model.Data.AccountName}.</p>

            <p>You'll continue to receive important service emails, such as password resets.</p>
        }

        @Html.ActionLink("View notification settings","NotificationSettings", null, new { @class = "govuk-button" })

    </div>
</div>
