<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Goverment gateway ID</h1>
        <p class="first-para-spacing">Enter your Goverment Gateway credentials for the PAYE scheme you intend to link to this apprenticeship account.</p>
            <form method="POST" action="@Url.Action("Gateway")">
                <div class="form-group">
                    <label class="form-label" for="Email">Email</label>
                    <input class="form-control form-control-3-4" id="Email" name="Email" type="text"
                            aria-required="true"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="Password">Password</label>
                    <input class="form-control form-control-3-4" id="Password" name="Password" type="password"
                            aria-required="true"/>
                </div>             
                <button type="submit" class="button" id="continue">Continue</button>
            </form>
    </div>
</div>