<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Goverment Inform</h1>
        <p class="first-para-spacing">We are about to ....</p>
        
    </div>
</div>