@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Domain.Models.HmrcLevy.HmrcTokenResponse>
@{
    ViewBag.PageID = "page-paye-unexpected-response";
    ViewBag.Title = "Unexpected response";
    ViewBag.HideNav = "true"; 
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirm PAYE Scheme</h1>


        <p>The response from HMRC Government Gateway was not expected.</p>


        <a class="" id="start_again" href="@Url.Action("SelectEmployer", "EmployerAccount")">Start Again</a>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="/" class="back-link">Back to your accounts</a>
    </div>
}