@{ViewBag.PageID = "page-onboard-legal-agreement"; }
@{ViewBag.Title = "Your legal agreement"; }
@{ViewBag.HideNav = "true"; }


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        <p>Before May 2017 you'll be asked to accept an agreement for each of your organisations that will spend levy funds. This agreement will allow the <abbr title="Skills Funding Agency">SFA</abbr> to pay your training providers. </p>
        <p>We'll tell you when the agreement is available to read.</p>
        
        <form method="POST" action="@Url.Action("CreateAccount", "EmployerAccount")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <button type="submit" class="button" id="continue">Continue</button>
            </div>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="/" class="back-link">Back to your accounts</a>
    </div>
}
