@{
    ViewBag.Title = "Connection request details";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfers-details";
    ViewBag.GaData.Vpv = "/accounts/transfers/details";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Connection request details</h1>
        
    </div>
</div>