.govuk-width-container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
    @include media(tablet){
        margin-right: 30px;
        margin-left: 30px;
    }
    @include media(1020px){
        margin-right: auto;
        margin-left: auto;
    }
}

.govuk-grid-column-two-thirds {
    @extend .column-two-thirds;
}

.govuk-grid-row {
    @extend .grid-row;
}

.das-cookie-banner {
    display: none; // Hidden by default
    padding: 15px 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 2;
    background: #f3f2f1;
    border: none;
    @include media(tablet){
        padding: 20px 0;
    }
}

.das-cookie-banner__header {
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
    color: $text-colour;
}

.govuk-heading-m {
    @extend .heading-medium;
}

.das-cookie-banner__message {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: $text-colour;
    font-size: 16px;
    line-height: 1.2;
    @include media(tablet) {
        font-size: 19px;
        line-height: 1.3;
    }
    @include media(desktop) {
        margin: 0;
    }
}

.das-cookie-banner__service-name {
    display: inline-block;
}

.das-cookie-banner__buttons {
    display: block;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    @include media(tablet){
        margin: 0 -10px 10px;
    }
    @include media(desktop){
        padding-bottom: 10px;
        margin-bottom: 0;
    }
}

.das-cookie-banner__button-wrap {
    margin-top: 10px;
    vertical-align: top;
    float: none;
    width: 100%;
    @include media(tablet){
        width: 50%;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.govuk-button {
    @extend .button;
}

.das-cookie-banner__button {
    margin: 0;
    width: 100%;
    text-align: center;
    @include media(tablet) {
        font-size: 19px;
    }
    @include media(desktop){
        vertical-align: baseline;
    }
}

.das-cookie-banner__confirmation {
    position: relative;
    padding: 5px;
    display: none;
}

.das-cookie-banner__confirmation-message {
    margin: 0;
    font-size: 16px;
    @include media(desktop) {
        font-size: 19px;
    }
}

.das-cookie-banner__hide-button {
    outline: 0;
    border: 0;
    background: none;
    text-decoration: underline;
    color: $link-colour;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        color: $link-hover-colour;
    }

    &:focus {
        color: $link-active-colour;
        background: $focus-colour;
        outline: 3px solid $focus-colour;
    }

    @include media(desktop) {
        position: absolute;
        right: 5px;
        top: 5px;
        margin: 0;
        font-size: 19px;
    }
}
