.finance-figure {
    border: 1px solid $border-colour;
    border-left-color: $black;
    border-left-width: 10px;
    line-height: 1;
    padding: 17px 10px 13px;
    font-size: 30px;
}

.finance-figure--expiring {
    border-left-color: $red;
}

.finance-figure__label {
    margin-top: 10px;
    margin-bottom: 30px;
}

.finance-figure__title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.finance_funds {
    .finance-figure {
        font-size: 24px;
    }

    .finance-figure__label {
        font-size: 16px;
    }
}

.current-funds {
    margin-bottom: 40px;
}

.finance-highlight {
    background: $panel-colour;
    padding: 20px;
    display: inline-block;
}