.finance-figure {
    border: 1px solid $border-colour;
    border-left-color: $black;
    border-left-width: 10px;
    line-height: 1;
    padding: 17px 10px 13px;
    font-size: 30px;
}

.finance-figure--expiring {
    border-left-color: $red;
}

.finance-figure__label {
    margin-top: 10px;
    margin-bottom: 30px;
}

.finance-figure__title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.finance_funds {
    .finance-figure {
        font-size: 24px;
    }

    .finance-figure__label {
        font-size: 16px;
    }
}

.current-funds {
    margin-bottom: 40px;
}

.finance-highlight {
    background: $panel-colour;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.finance-highlight--estimate {
    background: $govuk-blue;
    color: $white;
}

.finance-data {
    margin: 10px 0;
    dl {
        @include box-sizing(border-box);
        padding: 15px; 
        background: $grey-3;
        color: $black;
        dt {
            @include bold-14;
            margin-bottom: 5px
        }
        dd {
            @include bold-48;
        }
    }
    @include media(tablet) { 
        padding: 0 $gutter-half;
        @include box-sizing(border-box);
        margin: 0 30px;
        max-width: 340px;
    }
}

.finance-data--highlight {
    dl {
        background: $govuk-blue;
        color: $white;
    }
}

.finance-data--future {
    dl {
        background: $white;
        color: $black;
        padding: 0;
        dt {
            border-top: 1px solid $border-colour;
            padding-top: 10px;
        }
        dd {
            @include bold-24;
        }
    }
    @include media(tablet) { 
        margin: 0;
        padding: 0 0 0 15px;
        border-left: 3px solid $border-colour;
        dl {
            dt {
                border-top: none;
            }
        }
    }
}

.finance-notice {
    margin-bottom: 30px;
}
