.previous-next-navigation {
    margin: 40px -3px;
    padding: 3px;
    overflow: hidden;
    li {
        display: block;
        padding: 0;
        margin: 0;
        width: 50%;
        float: left;
        a {
            display: block;
            padding: 15px 0 15px 38px;
            text-decoration: none;
            @include core-24;
            &:before {
                background: url('/dist/images/arrow-sprite.png');
                background-position: -4px -2px;
                margin-top: -2px;
                margin-left: -30px;
                display: block;
                float: left;
                width: 30px;
                height: 40px;
                content: " ";
                @include media(tablet) {
                    margin-top: 6px;
                }
            }
            &:hover {
                background: $grey-4;
            }
            &:focus {
                background: $grey-3;
            }
        }
        .detail {
            display: block;
            @include core-19;
        }
        &.next {
            text-align: right;
            float: right;
            a {
                padding: 15px 38px 15px 0;
                &:before {
                    float: right;
                    margin-left: 0;
                    margin-right: -30px;
                    background-position: -86px -2px;
                }
            }
        }
    }
}


/*floating menu style - EMPLOYER */
#floating-menu-holder {

    background: $mauve;

    @include media (tablet) {
        padding: 0 30px;
    }
}

.sticky-nav {
    .floating-menu {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100%;
    }

    .js-float {
        max-width: 960px;
        margin: 0 auto;

        @include media (tablet) {
            padding: 0 30px;
        }
    }
}

.floating-menu { 
	clear:both;
	max-width:960px;
	width:100%;
	background:$mauve;
	color:#fff;
    z-index:1;
    margin:0 auto;
  
    nav#user-nav {
        clear:both;
        float:left;
        margin:0 0 0 20px;

        @include media(tablet) {
            margin:0;                  
            clear:none;
            float:right;
        }


        li {

            a {
                border:0;                     
                color:#fff;  
            }

            .has-sub-menu{ 
                a.menu-main{
                    border:0;
                    color:#fff;
                }  
            } 

            .open {
                a.menu-main{color:#4c2c92;}
            }  
                        
        }         
    }
    
    p.floating-head-text{
        float:left; 
        margin:10px 0 0 10px;
        text-align: left;
        font-weight:bold;
        font-size:19px;

        @include media(tablet){
            margin:10px 0 0 0px;
        }
    }
  }

 /* - END floating menu style */

  .js-enabled #user-nav li.has-sub-menu>a:before{
      border-left-color:#fff;
  }
.js-enabled #user-nav li.has-sub-menu.open>a{
    color:#4c2c92;
}

.floating-menu nav#user-nav #settings-menu{
    a.sub-menu-item{
        color:#4c2c92;
    }
}

.floating-menu nav#user-nav #settings-menu a.sub-menu-item {
    color: #fff;
}

.js-enabled .floating-menu nav#user-nav #settings-menu a.sub-menu-item {
    @include media(tablet) {
        color: #4c2c92;
    }
}