<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Invitations pending</h1>
        <hr />
    </div>

</div>
<div class="grid-row">
    <div class="column-full">
        <p>You have one or more pending invitations to an employer account. Please click below to sign in or register as a new user</p>
        <a class="button button-start" href="@Url.Action("SignIn","Home")">Sign in or register</a>
    </div>
</div>