<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationStorageConnectionString" value="__ConfigurationStorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmployerCommitmentsBaseUrl" value="__EmployerCommitmentsBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmployerAccountsWebBaseUrl" value="__EmployerAccountsWebBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmployerFinanceWebBaseUrl" value="__EmployerFinanceWebBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmployerRecruitBaseUrl" value="__EmployerRecruitBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmployerProjectionsBaseUrl" value="__EmployerProjectionsBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnvironmentName" value="__EnvironmentName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="InstrumentationKey" value="__InstrumentationKey__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingRedisConnectionString" value="__LoggingRedisConnectionString__" xdt:Transform="Insert" />
    <add key="LoggingRedisKey" value="__LoggingRedisKey__" xdt:Transform="Insert" />
    <add key="LogLevel" value="__LogLevel__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="__StorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RedisConnection" value="__RedisConnection__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageConnectionString" value="__StorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenCertificateThumbprint" value="__TokenCertificateThumbprint__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <nlog xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions xdt:Transform="Insert">
      <add assembly="SFA.DAS.NLog.Targets.Redis" />
    </extensions>
    <targets>
      <target xsi:type="Redis" name="Redis" appName="${appName}" environmentKey="EnvironmentName" connectionStringKey="LoggingRedisConnectionString" includeAllProperties="true" keySettingsKey="LoggingRedisKey" layout="${message}" xdt:Transform="Insert" />
    </targets>
    <rules>
      <logger minlevel="Info" writeTo="Redis" xdt:Transform="SetAttributes" />
    </rules>
  </nlog>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="SetAttributes(errorMode, existingResponse)" />
  </system.webServer>
</configuration>
