<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="LocalConfig" value="false" />
    <add key="EventHubConnectionString" value="ConnectionString" />
    <add key="EventHubName" value="EventHubName" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
    <add key="EventHubConnectionString" value="ConnectionString" />
    <add key="EventHubName" value="EventHubName" />
    <add key="ConfigurationStorageConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="EnvironmentName" value="LOCAL" />
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.${appName}.log">
    <extensions>
      <add assembly="SFA.DAS.NLog.Targets.AzureEventHub" />
    </extensions>
    <variable name="appName" value="das-eas-web" />
    <variable name="simplelayout" value="${longdate} [${uppercase:${level}}] [${logger}] - ${message} ${onexception:${exception:format=tostring}}" />
    <targets>
      <target xsi:type="File" name="Disk" fileName="${basedir}/logs/${appName}.${shortdate}.log" layout="${simplelayout}" />
      <target name="EventHubBuffered" xsi:type="BufferingWrapper" flushTimeout="5000">
        <target xsi:type="AzureEventHub" name="EventHub" appName="${appName}" layout="${simplelayout}" eventHubConnectionStringKey="EventHubConnectionString" eventHubNameKey="EventHubName" partitionKey="" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="debug" writeTo="Disk" />
    </rules>
  </nlog>
</configuration>