@{ViewBag.Title = "Homepage"; }

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Manage your apprenticeships
        </h1>
    </div>
</div>
    <div class="grid-row">
        <div class="column-two-thirds">       
            <p class="lede">You can use this service to access and spend your levy on apprenticeships in England.</p>
            <h2 class="heading-medium">Create an account</h2>
            <p>You will need:</p>
            <ul class="list list-bullet">
                <li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/search/" rel="external" target="_blank">find my Companies House number</a></li>
                <li>your Government Gateway login details - <a href="http://www.gateway.gov.uk/Help/Help.aspx?content=help_more_info_gateway.htm&languageid=0" rel="external" target="_blank">what's Government Gateway?</a></li>
            </ul>
            
            <div class="form-group radios-inline">
                <h3 class="heading-medium">Do you have everything you need?</h3>
                <label for="everything-yes" class="block-label">
                    <input type="radio" name="everything-you-need" id="everything-yes" value="yes" />
                    Yes, I have everything
                </label>
                <label for="everything-no" class="block-label">
                    <input type="radio" name="everything-you-need" id="everything-no" value="no" />
                    No, I don't
                </label>
            </div>
            <p><a class="button button-start" id="create_account" href="@Url.Action("RegisterUser", "Home")">Create account</a> </p>
            <h2 class="heading-medium">Sign in</h2>
            <p>If you already have an account, you just need your email address and password to sign in.</p>
            <p><a class="button" id="sign_in" href="@Url.Action("SignIn", "Home")">Sign in</a></p>
        </div>
    </div>
