@{ViewBag.Title = "Homepage"; }

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Access my levy
        </h1>
        <p class="">You can use this service to access and spend your levy on apprenticeships in England.</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Create an account</h2>
        <p>
            You need to create an account to:
        </p>
        <ul class="list list-bullet">
            <li>view financial information</li>
            <li>create or amend apprenticeships</li>
            <li>spend money</li>
            <li>accept invitations you've recieved</li>
        </ul>
        <a class="button button-start" id="create_account" href="@Url.Action("RegisterUser", "Home")">Create account</a> 
    </div>

</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Sign in</h2>

        <p>If you already have an account, you just need your email address and password to sign in.</p>

        <a class="button" id="sign_in" href="@Url.Action("SignIn", "Home")">Sign in</a>
</div>
</div>