<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
    <rules>
      <logger minlevel="Info" writeTo="RedisLog" xdt:Transform="SetAttributes" />
    </rules>
  </nlog>
</configuration>