@model OrchestratorResponse<EmployerAgreementViewModel>

@{
    ViewBag.PageID = "document-about";
    ViewBag.Title = "About your document";
    ViewBag.Section = "organisations";
    ViewBag.GaData.Vpv = "/accounts/agreements/about-your-document/document-about";
    ViewBag.ShowNav = false;
}

<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@Model.Data.EmployerAgreement.LegalEntityName</span>
            About this document
        </h1>

        <p>This document details our requirements of your organisation during the private beta testing period.</p>
        <p>This is not a contract, but the ESFA expects that when you have signed it, you will comply with its terms.</p>
        <p>You’ll need to have authority from your organisation before you sign this.</p>

        <form method="get" action="@Url.Action(ControllerConstants.SignAgreementActionName ,ControllerConstants.EmployerAgreementControllerName)">
            @Html.AntiForgeryToken()
            <input class="button" type="submit" value="Continue to the document" />
        </form>
    </div>
</div>