@model OrchestratorResponse<EmployerAgreementNextStepsViewModel>
@{ViewBag.PageID = "page-sign-agreement-next-steps";}
@{ViewBag.Title = "What's next";}
@{ViewBag.Section = "organisations";}
@{
    ViewBag.GaData.Vpv = "/accounts/agreements/next/page-sign-agreement-next-steps";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">
            What's next
        </h2>
        <form method="POST" action="@Url.Action("NextSteps")">
            @Html.AntiForgeryToken()
            <div class="form-group  @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? "error" : "")">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">What's next?</span>
                        @if (!string.IsNullOrWhiteSpace(Model.Data.ErrorMessage))
                        {
                            <span class="error-message" id="select-option">@Model.Data.ErrorMessage</span>
                        }
                    </legend>
                    <label for="choice1" class="block-label">
                        <input id="choice1" type="radio" name="choice" value="1" />
                        Review organisations and agreements
                    </label>
                    
                    <label for="choice2" class="block-label">
                        <input id="choice2" type="radio" name="choice" value="2" />
                        Go to transfers
                    </label>
                    <label for="choice4" class="block-label">
                        <input id="choice4" type="radio" name="choice" value="3" />
                        Go to the homepage
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="accept">Continue</button>
            </div>
        </form>
    </div>
</div>