@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SignEmployerAgreementViewModel
@{
    ViewBag.PageID = "agreement-sign";
    ViewBag.Title = "Agreement";
    ViewBag.Section = "organisations";
    ViewBag.GaData.Vpv = "/accounts/agreements/sign-your-agreement/agreement-sign";
    ViewBag.HideNav = true;
    ViewBag.ZenDeskLabel = "reg-agreement";
}

@if (Html.ViewExists(Model.EmployerAgreement.TemplatePartialViewName + "_changes"))
{
    @Html.Partial(Model.EmployerAgreement.TemplatePartialViewName + "_changes");
}

@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item">
                <a href="@Url.Action(ControllerConstants.AboutYourAgreementActionName, ControllerConstants.EmployerAgreementControllerName)" class="govuk-breadcrumbs__link govuk-back-link">Back</a>
            </li>
        </ol>
    </div>
}

@Html.Partial(@Model.EmployerAgreement.TemplatePartialViewName)
