@inject IHtmlHelpers HtmlHelpers;
@model SignEmployerAgreementViewModel
@{
    ViewBag.PageID = "agreement-sign";
    ViewBag.Title = "Agreement";
    ViewBag.Section = "organisations";
    ViewBag.GaData.Vpv = "/accounts/agreements/sign-your-agreement/agreement-sign";
    ViewBag.ShowNav = false;
    ViewBag.ZenDeskLabel = "reg-agreement";
}

@if (HtmlHelpers.ViewExists(Html, Model.EmployerAgreement.TemplatePartialViewName + "_changes"))
{
    @await Html.PartialAsync(Model.EmployerAgreement.TemplatePartialViewName + "_changes")
}


@section breadcrumb {
    <div class="das-js-back-link"></div>
}

<partial name="@Model.EmployerAgreement.TemplatePartialViewName"/>
