@{ViewBag.Title = "Invitations pending"; }
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Invitations pending</h1>
        <p>You have one or more pending invitations to an employer account. Please follow the link below to sign in or register as a new user</p>
        <p><a class="govuk-button" href="@Url.Action("All","Invitation")">Sign in or register</a></p>
    </div>
</div>