@{ViewBag.PageID = "page-help"; }
@{ViewBag.Title = "Manage apprenticeships service help"; }
@{ViewBag.HideNav = "true"; }

@{
    ViewBag.GaData.Vpv = "/page-help";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            @ViewBag.Title
        </h1>
        <p>Contact the <strong>Manage apprenticeships</strong> service helpdesk on:</p>
        <ul class="list list-bullet">
            <li>08000 150 600</li>
            <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
        </ul>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your accounts</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}
