@model SFA.DAS.EAS.Support.Web.Models.ResendInvitationCompletedModel;

@if (Model.Success)
{
    <div class="info-summary">
        <h1>
            Invitation resent
        </h1>
        <p>
            You've resent an invitation to @Model.MemberEmail.
        </p>
        <p>
            <a href="@Model.ReturnToTeamUrl">Click to return to Team members</a>
        </p>
    </div>
}
else
{
    <div class="error-summary">
        <h1>
            The resend invitation request failed.
        </h1>
        <p>
            <a href="@Model.ReturnToTeamUrl">Click to return to Team members</a>
        </p>
    </div>
}