@using SFA.DAS.EmployerAccounts.Web.Extensions
@model SFA.DAS.EmployerAccounts.Web.ViewModels.ApprenticeshipViewModel

<section>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2" id="call-to-action-your-apprentice-status">
        Continue setting up an apprenticeship
    </h2>
    <table class="govuk-table">
        @if (@Model.CourseName != string.Empty)
        {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                Course
            </th>
            <td id="course-name" class="govuk-table__cell">
                @(Model.CourseName)
            </td>
        </tr>
        }
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header das-table-cell-width-35">
                Training Provider
            </th>
            <td id="provider-name" class="govuk-table__cell das-table-cell-width-65">
                @(Model?.TrainingProvider?.Name)
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                Status
            </th>
            <td id="with-training-provider" class="govuk-table__cell">
                <span class="govuk-tag govuk-tag--grey">With training provider</span>
            </td>
        </tr>
    </table>
</section>