@model OrchestratorResponse<SearchOrganisationViewModel>

@{ 
    ViewBag.PageID = "search-for-organisation";
    ViewBag.Title = "Search for your organisation";
    ViewBag.Section = "organisations";
    ViewBag.HideNav = !Model.Data.IsExistingAccount;
    ViewBag.ZenDeskLabel = "eas-search-for-your-organisation";
}

@{
    ViewBag.GaData.Vpv = Model.Data.IsExistingAccount ? "/accounts/organisations/search/search-for-organisation" : "/onboarding/search/search-for-organisation";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <form action="@Url.Action("SearchForOrganisation")" method="POST">
            <div class="govuk-form-group">
                <label class="govuk-label" for="searchTerm">Enter organisation name</label>
                <input type="text" id="searchTerm" name="searchTerm" value="" class="govuk-input" />
            </div>
            <input class="govuk-button" type="submit" value="Search" />
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="das-js-back-link"></div>
}
