@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

    <div class="das-panel">
        <h3 class="govuk-heading-l">Apprentice details </h3>

        <dl class="das-definition-list das-definition-list--table">
            <dt class="das-definition-list__title">Name</dt>
            <dd class="das-definition-list__definition">@Model.AccountViewModel</dd>

            <dt class="das-definition-list__title das-definition-list__title--spacer">Cohort reference</dt>
            <dd class="das-definition-list__definition das-definition-list__definition--spacer">VKKG8P</dd>

            <dt class="das-definition-list__title">Training course</dt>
            <dd class="das-definition-list__definition">Bespoke Saddler, Level 5 (Standard)</dd>

            <dt class="das-definition-list__title">Start date</dt>
            <dd class="das-definition-list__definition">February 2019</dd>

            <dt class="das-definition-list__title das-definition-list__title--spacer">Planned end date</dt>
            <dd class="das-definition-list__definition das-definition-list__definition--spacer">March 2020</dd>

            <dt class="das-definition-list__title">Agreed training course price</dt>
            <dd class="das-definition-list__definition">&pound;1,500 excluding VAT</dd>
        </dl>

        <p><a href="#" class="das-panel__link govuk-link--no-visited-state">Review and approve</a> </p>
    </div>