
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Check if funding is available for apprenticeship training </h3>
<p>Use funding to pay for part or all of the cost of apprenticeship training.</p>

<p><a href="@Url.ReservationsAction("reservations")" class="das-panel__link">Check and reserve funding now</a> </p>
