
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Check if government funding is available for apprenticeship training </h3>
<p>Use government funding to pay for part or all of the cost of apprenticeship training.</p>

<p><a href="#" class="das-panel__link">Check and secure funding now</a> </p>
