
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Create an apprentice vacancy</h3>
<p>Advertise your apprenticeship vacancies.  This is your opportunity to make your vacancy attract the best candidates.</p>
<p><a href="#" class="govuk-link">Create a vacancy</a> </p>