
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Create an apprentice vacancy</h3>
<p>Advertise your apprenticeship vacancies. This is your opportunity to make your vacancy attract the best candidates.</p>
<p><a href="@Url.EmployerRecruitAction("create-vacancy/")" class="govuk-link">Create vacancy</a></p>
@*<p><a href="@Url.EmployerRecruitAction()" class="govuk-link">Manage your vacancies</a> </p>*@