@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Recruitment</h3>
<p>Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.</p>
<p><a href="@Url.EmployerRecruitAction()" class="govuk-link">Manage your vacancies</a></p>
<p><a href="@Url.EmployerRecruitAction("create-options/")" class="govuk-link">Create vacancy</a></p>
