<section class="das-section das-section--overlay" aria-labelledby="other-tasks-link" id="das-dashbaord-other-tasks">
    <div class="govuk-width-container das-section__inner-wrap" tabindex="-1">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <section class="das-section-dashboard">
                    <h2 class="das-section__heading govuk-heading-l">Apprenticeships</h2>
                    <p class="das-section__description">Manage your apprentices, recruit apprentice and set training provider permissions.</p>
                    <div class="das-cards">
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Apprentices</a></h3>
                            <p>Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
                        </div>
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Recruitment</a></h3>
                            <p>Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.</p>
                        </div>
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Training provider permissions</a></h3>
                            <p>Set training provider permissions and control what tasks they can do on your behalf.</p>
                        </div>
                        <div class="das-card">
                            <h3 class="govuk-heading-m"><a href="#" rel="external" class="govuk-link">Find apprenticeship training</a></h3>
                            <p>Search for apprenticeships and see details of approved providers who can deliver the training.</p>
                        </div>
                    </div>
                </section>
                <section class="das-section-dashboard">
                    <h2 class="das-section__heading govuk-heading-l">Finances</h2>
                    <p class="das-section__description">Manage your apprenticeship funds.</p>
                    <div class="das-cards">
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Manage your funds</a></h3>
                            <p>Reserve and manage funding.</p>
                        </div>
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Manage your levy</a></h3>
                            <p>View your financial transactions, connect with other employers and send or receive transfer funds.</p>
                        </div>
                    </div>
                </section>
                <section class="das-section-dashboard--last">
                    <h2 class="das-section__heading govuk-heading-l">Account</h2>
                    <p class="das-section__description">Manage your account details and team.</p>
                    <div class="das-cards">
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Your organisations and agreements</a></h3>
                            <p>Add your organisations that will make contracts with training providers.</p>
                        </div>
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">Your team</a></h3>
                            <p>Control what your team can do and invite new team members.</p>
                        </div>
                        <div class="das-card">
                            <h3 class="govuk-heading-m das-card__heading"><a href="#" class="govuk-link">PAYE schemes</a></h3>
                            <p>Add or remove PAYE schemes.</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-tabs" data-module="tabs">

                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#tab-tasks">
                                Tasks
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#tab-activity">
                                Activity
                            </a>
                        </li>
                    </ul>

                    <section class="govuk-tabs__panel" id="tab-tasks">
                        TASKS
                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-activity">
                        ACTIVITY
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>