
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Create an apprentice vacancy</h3>
<p>Sign your employer agreement first, then you can advertise apprenticeship vacancies.</p>