
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Create an apprentice vacancy</h3>
<p>Add your PAYE scheme first, then you can advertise apprenticeship vacancies.</p>