@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Training provider permissions</h3>
<p>You must sign your employer agreement before you can give your training provider permission to do tasks on your behalf.</p>


