@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Training providers</h3>

<p>Set permissions for what you want training providers to do on your behalf.</p>
<p><a href="@Url.ProviderRelationshipsAction("providers")" class="govuk-link">View permissions</a> </p>

