@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Add a training provider</h3>
<p>You must accept your employer agreement before you can add a training provider and control what tasks you would like your training provider to do on your behalf.</p>


