@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Training provider permissions</h3>

<p>Control what tasks you would like your training provider to do on your behalf.</p>
<p><a href="#" class="govuk-link">Set permissions</a> </p>

