@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Training provider permissions</h3>

<p>Add a training provider and control what tasks you would like your training provider to do on your behalf.</p>
<p><a href="@Url.ProviderRelationshipsAction("providers")" class="govuk-link">Add a new training provider</a> </p>

