@model SFA.DAS.EmployerAccounts.Web.ViewModels.PanelViewModel<SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel>

@if (!Model.ViewName.Equals("Empty"))
{
    <div class="das-panel @(Model.IsFeaturedPanel ? "das-panel--featured" : "das-panel--non-featured")">
        @Html.Action(Model.ViewName, new { model = Model.Data })
    </div>
}