<section class="das-section das-section--search">
    <div class="govuk-width-container">
        <div class="das-dashboard-header__row">
            <div class="das-dashboard-header__col das-dashboard-header__col--primary">
                <form>
                    <div class="govuk-form-group das-form-group-inline das-dashboard-search">
                        <label for="search" class="govuk-visually-hidden">Search</label>
                        <input class="govuk-input das-dashboard-search__input" id="search" type="search" placeholder="Search" disabled="disabled">
                        <div class="das-form-group-inline__button-wrap">
                            <button class="govuk-button das-dashboard-search__button" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="das-dashboard-header__col das-dashboard-header__col--secondary">
                <a class="das-dashboard-header__tasks-link" href="#das-dashbaord-other-tasks" id="other-tasks-link">
                    Other tasks you can do
                </a>
            </div>
        </div>
    </div>
</section>