
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">You've successfully registered your account</h3>
<p>Sign your employer agreement with the Education and Skills Funnding Agency to get government funding for apprenticeship training.</p>
<p><a href="@Url.Action("AboutYourAgreement", "EmployerAgreement", new { agreementId = Model.PendingAgreements.First().HashedAgreementId, hashedAccountId = Model.HashedAccountId })" class="das-panel__link">Sign your employer agreement</a> </p>
