@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.TaskListViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Tasks</h1>
        <hr />
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        @if (Model.Tasks.Count == 0)
        {
            <p class="panel panel-info">
                You have no tasks to manage.
            </p>
        }
        else
        {
            <div class="responsive-table">
                <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th">CreatedOn</div>
                        <div class="responsive-th">Name</div>
                        <div class="responsive-th">Status</div>
                        <div class="responsive-th"> </div>
                    </div>
                </div>
                <div class="responsive-tbody">
                    @foreach (var task in Model.Tasks)
                    {
                        <div class="responsive-tr">
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">CreatedOn</div>
                                <div>@task.CreatedOn.ToGdsFormat()</div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Name</div>
                                <div>@task.Name</div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Status</div>
                                <div>@task.TaskStatus.ToString()</div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <a href="@Url.Action("View", new { taskId = task.Id })" class="button">View</a>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
