<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net45" />
  <package id="AzureTableStorageNLogTarget" version="1.0.9" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.3.7" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Client" version="1.44.0.28906" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Types" version="1.44.0.28906" targetFramework="net45" />
  <package id="SFA.DAS.Configuration" version="1.0.0.6634" targetFramework="net45" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.0.0.6634" targetFramework="net45" />
  <package id="SFA.DAS.Configuration.FileStorage" version="1.0.0.6634" targetFramework="net45" />
  <package id="SFA.DAS.Events.Api.Client" version="1.18.0.24078" targetFramework="net45" />
  <package id="SFA.DAS.Events.Api.Types" version="1.18.0.24078" targetFramework="net45" />
  <package id="SFA.DAS.Messaging" version="2.0.0.6450" targetFramework="net45" />
  <package id="SFA.DAS.Messaging.AzureServiceBus" version="2.0.0.6450" targetFramework="net45" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.16102" targetFramework="net45" />
  <package id="SFA.DAS.TokenService.Api.Client" version="1.0.0.26382" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net45" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net45" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net45" />
</packages>