<div class="info-summary">
    <h2 class="govuk-heading-s">New employer agreement</h2>
    <p>From 14 April 2020, you must accept a new employer agreement to:</p>
    <ul class="govuk-list  govuk-list--bullet list-standard-margin">
        <li>access apprenticeship funding for new apprentices</li>
        <li>approve any changes in your account</li>
    </ul>
    <p>
        <a href="https://www.gov.uk/guidance/new-apprenticeship-service-employer-agreement" target="_blank">
            Find out more about the new agreement
        </a>
    </p>
</div>