@model SFA.DAS.EmployerAccounts.Web.ViewModels.OrganisationAgreementViewModel


<insettext>This is a new agreement.</insettext>

<h2>About the agreement</h2>

<p>
    This agreement creates a legal contract between @Model.Name and ESFA. It allows you to transfer funds to other employers and pay training providers for apprenticeships.
    You need to ensure you have authority from your organisation before you accept this agreement on their behalf.
</p>

<form method="get" action="@Url.EmployerAccountsAction($"agreements/{Model.SignedAgreementId}/about-your-agreement")">
    @*HashedAgreementId TODO*@
    @Html.AntiForgeryToken()
    <input class="govuk-button" type="submit" value="View agreement" />
</form>