<div class="das-notification">
    <h3 class="das-notification__heading">New employer agreement</h3>
    <p class="das-notification__body">From 14 April 2020, you must accept a new employer agreement to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>access apprenticeship funding for new apprentices</li>
        <li>approve any changes in your account</li>
    </ul>
    <p class="das-notification__body">
        <a href="https://www.gov.uk/guidance/new-apprenticeship-service-employer-agreement" target="_blank" class="govuk-link">
            Find out more about the new agreement
        </a>
    </p>
</div>