
@model string

<!-- remove .heading-xlarge and .button when ConfirmPayeScheme is upgraded to CDN -->
<h1 class="govuk-heading-xl heading-xlarge">No <abbr>PAYE</abbr> scheme found</h1>
<p>The Government Gateway details you entered aren't linked to any <abbr>PAYE</abbr> schemes</p>
<p>
    <a class="govuk-button button" href="@Model">Enter different details</a>
</p>


