<div id="service-console-header" class="header-wrapper">
    <div class="header-global">
        <div class="header-logo">
            <p class="heading-large">
                Apprenticeship Service Console
            </p>
        </div>
    </div>
    <div class="header-proposition">
        <div class="content">
            Service user <span>(T2 Support)</span>
        </div>
    </div>


</div>

<div id="service-console-msg">

    <div id="global-header-bar"></div>

    <div class="header-wrapper">

        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="">lorem ipsum here</a></p>
        </div>

    </div>
</div>
