@model ModelStateDictionary

@if(!Model.IsValid)
{
    <div class="grid-row notification-wrapper">
        <div class="column-two-thirds">
            <div class="error-summary">
                <ul class="error-summary-list">
                    @foreach (var modelState in Model)
                    {
                        foreach (var error in modelState.Value.Errors)
                        {
                            <li>
                                @if (string.IsNullOrWhiteSpace(modelState.Key))
                                {
                                    <a href="#">@error.ErrorMessage</a>
                                }
                                else
                                {
                                    <a href="#@Html.Id(modelState.Key)">@error.ErrorMessage</a>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}