@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<GatewayInformViewModel>

@{
    ViewBag.PageID = "page-onboard-gov-gateway-inform";
    ViewBag.Title = "Check details";
    ViewBag.ZenDeskLabel = "eas-use-your-government-gateway-details";
    ViewBag.Section = "paye"; 
    ViewBag.HideNav = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Using your Government Gateway details</h1>
        <p class="govuk-body">You'll now be taken to the HMRC Government Gateway site where you'll be asked to sign in using your Government Gateway credentials.</p>
        <p class="govuk-body">When you sign in to your Government Gateway account you'll be asked to ‘grant authority' to allow your tax details to be used.</p>
        <div class="govuk-button-group">
            <a href="@Model.Data.ConfirmUrl" id="agree_and_continue" class="govuk-button">Continue</a>
            <a href="@Url.Action(ControllerConstants.SkipRegistrationActionName, ControllerConstants.EmployerAccountControllerName)" class="govuk-link">Skip this step for now</a>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="das-js-back-link"></div>
}