@model SFA.DAS.EmployerAccounts.Web.ViewModels.SupportUserHeaderViewModel

<div class="header-wrapper">
    <div class="header-proposition">
        <div class="content">
            <a id="proposition-name" href="/">Apprenticeship service console: Account id = @Model.Account.PublicHashedId</a>
        </div>       
    </div>
</div>