@model SFA.DAS.EmployerAccounts.Web.ViewModels.ReservationViewModel

<section>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2" id="call-to-action-continue-setting-up-an-apprenticeship">
        Continue setting up an apprenticeship
    </h2>
    <p>You've reserved funding for the following apprenticeship: </p>
    <table class="govuk-table">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header das-table-cell-width-35">
                Course
            </th>
            <td class="govuk-table__cell das-table-cell-width-65">
                @(Model?.CourseDescription)
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                Start date
            </th>
            <td class="govuk-table__cell">
                @(Model?.TrainingDate.ToString())
            </td>
        </tr>
    </table>
    <a asp-route="@RouteNames.CreateAdvert" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" role="button" draggable="false" class="govuk-button">
        Continue
    </a>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">