@using SFA.DAS.EmployerApprenticeshipsService.Web.Models;

@model EmployerAgreementViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Employer agreement</h1>
    </div>
</div>

@Model.EmployerAgreement.LegalEntityName