@{ var errorMessage = string.Empty;}

@if (!ViewContext.ViewData.ModelState.IsValid)
{
    foreach (var state in ViewContext.ViewData.ModelState.Values)
    {
        foreach (var error in state.Errors)
        {
            errorMessage = error.ErrorMessage;
        }
    }

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Errors to fix
        </h1>
        <ul class="error-summary-list">
            <li><a href="#change-role-selection">@errorMessage</a></li>
        </ul>
    </div>

}
@{
    ViewBag.PageID = "page-error";
    ViewBag.Title = "Error";
    ViewBag.HideNav = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">There's been an error</h1>
        <p>Sorry, there seems to be an error with this page. Please refresh your browser or <a href="@Url.Action("Index","Home")">go back to the homepage</a>.</p>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/" class="back-link">Back to the homepage</a></li>
        </ol>
    </div>
}