<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.17.0" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="net45" />
  <package id="Moq" version="4.5.23" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.3.7" targetFramework="net45" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="SFA.DAS.Audit.Client" version="1.0.0.20553" targetFramework="net45" />
  <package id="SFA.DAS.Audit.Client.Web" version="1.0.0.20510" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Client" version="1.65.0.33068" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Types" version="1.65.0.33068" targetFramework="net45" />
  <package id="SFA.DAS.CookieService" version="1.0.0.27423" targetFramework="net45" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.26805" targetFramework="net45" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.0.0.27426" targetFramework="net45" />
  <package id="SFA.DAS.ReferenceData.Api.Client" version="1.0.0.33424" targetFramework="net45" />
  <package id="SFA.DAS.TokenService.Api.Client" version="1.0.0.26382" targetFramework="net45" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net45" />
</packages>