<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.3.7" targetFramework="net48" />
  <package id="SFA.DAS.Messaging" version="3.0.0.63765" targetFramework="net48" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.17615" targetFramework="net48" />
</packages>