<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationStorageConnectionString" xdt:Transform="SetAttributes" value="__ConfigurationStorageConnectionString__" xdt:Locator="Match(key)"/>
    <add key="EnvironmentName" xdt:Transform="SetAttributes" value="__EnvironmentName__" xdt:Locator="Match(key)"/>
    <add key="LoggingRedisConnectionString" xdt:Transform="SetAttributes" value="__LoggingRedisConnectionString__" xdt:Locator="Match(key)"/>
    <add key="LoggingRedisKey" xdt:Transform="SetAttributes" value="__LoggingRedisKey__" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
    <targets>
      <target xsi:type="Redis" name="Redis" appName="${appName}" environmentKey="EnvironmentName" connectionStringKey="LoggingRedisConnectionString" includeAllProperties="true" keySettingsKey="LoggingRedisKey" layout="${message}" xdt:Transform="Insert"/>
    </targets>
    <rules>
      <logger minlevel="Info" writeTo="Redis" xdt:Transform="SetAttributes" />
    </rules>
  </nlog>
</configuration>