
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Set up an apprenticeship</h3>
<p>You can set up an apprenticeship for an existing employee or for someone new.</p>

<p><a class="button button-start" href="@Url.ReservationsAction("reservations")" role="button">Start now</a></p>
