
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<h3 class="das-panel__heading">Funding your apprentice's training</h3>
<p>Reserve apprentiship funding to guarantee you receive funds to pay for your apprentice's training and assessment.</p>

<p><a href="@Url.ReservationsAction("reservations")" class="das-panel__link">Check funding availability and make a reservation</a> </p>
