@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SFA.DAS.EmployerAccounts.Web.ViewModels.CohortV2ViewModel

<section class="dashboard-section">
    <h2 class="section-heading heading-large" id="call-to-action-continue-setting-up-an-apprenticeship">
        Continue setting up an apprenticeship
    </h2>

    <table class="responsive">
        <tr>
            <th scope="row" class="tw-35">
                Course
            </th>
            <td class="tw-65" id="course-name">                                
                @(Model?.Apprenticeships?.First().CourseName)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Training Provider
            </th>
            <td id="training-provider">                
                @(Model?.Apprenticeships?.First().TrainingProvider?.Name)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Status
            </th>
            <td class="govuk-tag govuk-tag--inactive">
                DRAFT
            </td>
        </tr>
    </table>
    <p>
        <a href="@Url.EmployerCommitmentsV2Action($"{Model.ViewOrEditApprenticeDetails}")" role="button" draggable="false" class="button">
            Add more details
        </a>
    </p>
</section>

