@model SFA.DAS.EmployerAccounts.Web.ViewModels.ReservationViewModel

<section class="dashboard-section">
    <h2 class="section-heading heading-large">
        Continue setting up an apprenticeship
    </h2>
    <p>You've reserved funding for the following apprenticeship: </p>

    <table class="responsive">
        <tr>
            <th scope="row" class="tw-35">
                Course
            </th>
            <td class="tw-65">
                @(Model?.CourseDescription)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Start date
            </th>
            <td>
                @(Model?.TrainingDate.ToString())
            </td>
        </tr>
    </table>
    <p>
        <a href="@Url.Action("ContinueSetupCreateAdvert", "EmployerTeam")" role="button" draggable="false" class="button">
            Continue
        </a>
    </p>
</section>