@model OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.InviteTeamMemberNextStepsViewModel>
@{
    ViewBag.PageID = "page-invite-team-member-next-steps";
    ViewBag.PageID = "page-invite-team-member-next-steps";
    ViewBag.Title = "What's next";
    ViewBag.Section = "team";
    ViewBag.GaData.Vpv = "/accounts/teams/invite/next/page-invite-team-member-next-steps";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            What's next
        </h1>
        <form method="POST" 
            asp-route="@RouteNames.EmployerTeamInviteNextPost"
            asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]">
            <div class="form-group  @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? "error" : "")">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">What's next?</span>
                        @if (!string.IsNullOrWhiteSpace(Model.Data.ErrorMessage))
                        {
                            <span class="error-message" id="select-option">@Model.Data.ErrorMessage</span>
                        }
                    </legend>
                    <label for="choice1" class="block-label">
                        <input id="choice1" type="radio" name="choice" value="1" />
                        Add another team member
                    </label>
                    <label for="choice2" class="block-label">
                        <input id="choice2" type="radio" name="choice" value="2" />
                        View all team members
                    </label>
                    <label for="choice3" class="block-label">
                        <input id="choice3" type="radio" name="choice" value="3" />
                        Return to homepage
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="accept">Continue</button>
            </div>
        </form>
    </div>
</div>
