@inject IUrlActionHelper UrlHelper;
@{ViewBag.PageID = "set-up-an-apprenticeship-for-an-existing-employee"; }
@{ViewBag.Title = "Set up an apprenticeship for an existing employee"; }
@{ViewBag.MetaDesc = "Set up an apprenticeship for an existing employee"; }
@{ViewBag.GaData.Vpv = "/account/setupapprentice/set-up-an-apprenticeship-for-an-existing-employee"; }

@section breadcrumb
{
    <a href="javascript:history.back()" class="govuk-back-link js-show">Back</a>    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <h2 class="govuk-heading-m">What you'll need to do:</h2>
        <ol class="govuk-list govuk-list--number">
            <li>Reserve funding for apprenticeship training and assessment (if you have not already).</li>
            <li>Add the employee's details.</li>
        </ol>
        <h2 class="govuk-heading-m">What you'll need</h2>
        <p class="govuk-body">You’ll need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the name of the apprenticeship training course</li>
            <li>which month the employee will start their apprenticeship training</li>
            <li>your training provider’s UK Provider Reference Number (UKPRN)</li>
            <li>the employee’s name and date of birth</li>
            <li>the cost of the apprenticeship training (as agreed with your training provider)</li>
        </ul>
        <a href="@UrlHelper.ReservationsAction("reservations/start")" class="govuk-button" id="reserve-funding">Continue to reserve funding</a>
    </div>
</div>