@inject IUrlActionHelper UrlHelper;
@{ViewBag.PageID = "set-up-an-apprenticeship-for-a-new-employee"; }
@{ViewBag.Title = "Set up an apprenticeship for a new employee"; }
@{ViewBag.MetaDesc = "Set up an apprenticeship for a new employee"; }
@{ViewBag.GaData.Vpv = "/account/setupapprentice/set-up-an-apprenticeship-for-a-new-employee"; }

@section breadcrumb
{
    <a href="javascript:history.back()" class="govuk-back-link js-show">Back</a>    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <h2 class="govuk-heading-m">What you'll need to do:</h2>
        <ol class="govuk-list govuk-list--number">
            <li>Reserve funding for apprenticeship training and assessment.</li>
            <li>Create an advert (if you want to advertise your apprenticeship).</li>
            <li>Decide which apprentice you want to take on.</li>
            <li>Sign in to your account and add the apprentice's details.</li>
        </ol>
        <p class="govuk-inset-text">
            You do not have to set up an apprenticeship in one go. You can complete each section when you're ready.
        </p>
        <a href="@UrlHelper.ReservationsAction("reservations/start")" class="govuk-button" id="reserve-funding">Continue to reserve funding</a>
    </div>
</div>