@{
    ViewBag.PageID = "you-cannot-setup-an-apprenticeship-yet-course-provider";
    ViewBag.Title = "You cannot set up an apprenticeship yet";
    ViewBag.MetaDesc = "You cannot set up an apprenticeship yet";
    ViewBag.GaData.Vpv = "/account/setupapprentice/you-cannot-setup-an-apprenticeship-yet-course-provider";
}

@section breadcrumb
{
    <a href="javascript:history.back()" class="govuk-back-link js-show">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <p class="govuk-body">Before you can set up an apprenticeship, you need to <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk" class="govuk-link" rel="noopener" target="_blank">find apprenticeship training</a> and choose a training provider.</p>
        <p class="govuk-body">Try again once you've chosen a course and have found a training provider to deliver it.</p>
        <a asp-route="@RouteNames.EmployerTeamIndex" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" class="govuk-button" id="return-to-homepage">Return to account home</a>
    </div>
</div>