@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@model SuccessMessageViewModel


<div class="grid-row">
    <div class="column-full">
        <div class="panel panel-info  ">
            @if (!string.IsNullOrWhiteSpace(Model.HeadingMessage))
            {
                <h2>@Model.HeadingMessage</h2>
            }
            @if (!string.IsNullOrEmpty(Model.CompanyName))
            {
                <p>@Model.CompanyName is now available in your list of associated employer accounts</p>
            }
            @if (!string.IsNullOrEmpty(Model.CustomSuccessMessage))
            {
                <p>@Model.CustomSuccessMessage</p>
            }
        </div>
    </div>
</div>
