.js-enabled {
    .accordion-tab {
        position: relative;
        color: $link-colour;
        padding-left: 15px;
        cursor: pointer;
        &:before {
            @include closed-arrow($govuk-blue);
            left: 0;
        }
        &:focus {
            outline: 3px solid $focus-colour;
        }
        &.open {
            &:before {
                @include open-arrow($govuk-blue);
            }
        }
    }
    .accordion-panel {
        
    }

}

details.feedback {
    background: $govuk-blue;
    margin-bottom: 15px;
    summary {
        color: #fff;
        display: block;
        padding: 5px;
        span {
            
        }
    }
    .survey {
        padding: 0 10px 3px;
    }
}