
.vh {
    @extend .visually-hidden;
}

.mobile-hide {
    display: none;
    @include media(tablet) {
        display: block;
    }
}

.mobile-hide-inline {
    display: none;
    @include media(tablet) {
        display: inline;
    }
}

.mobile-hide-cell {
    display: none;
    @include media(tablet) {
        display: table-cell;
    }
}