#svg-defs {
    @extend .vh;
}

svg {
    fill: #000;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

// Link styles

a:link svg {
  fill: $link-colour;
}

a:visited svg {
  fill: $link-visited-colour;
}

a:hover svg {
  fill: $link-hover-colour;
}

a:active svg {
  fill: $link-active-colour;
}

a.link-with-icon {
    text-decoration: none;
    .link-text {
        display:inline-block;
        vertical-align: middle;
    }
}