@mixin closed-arrow ($borCol: black) {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-width: 4px 7px;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $borCol;
    border-style: solid;
    left: 10px;
    top: 50%;
    margin-top: -5px;
}

@mixin open-arrow ($borCol: black) {
    border-width: 7px 4px;
    border-top-color: $borCol;
    border-left-color: transparent;
}