.govuk-tag {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #fff;
  background-color: $govuk-blue;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 8px 1px;
}

.govuk-tag--inactive {
  background-color: $grey-2;
}

.govuk-tag--active {
  background-color: $green;
}

.govuk-tag--error {
  background-color: $red;
}