
@include media(tablet) {
    .heading-xlarge {
        margin-bottom: 0.625em;
        margin-top: 1.25em;
    }
}

.list-bullet {
    margin-bottom: 40px;
    list-style: disc;
}

dl.inline {
    dt, dd {
        display: inline;
    }
    dt {
        &:before {
            content: "";
            display: block;
        }
    }
    dd {
        font-weight: bold;
    }
    &.course-details {
        margin-bottom: 15px;
    }
}

.responsive-detail {
    color: $grey-1;
}

.heading-dashboard {
    border-bottom: 5px solid $grey-2;
    padding-bottom: .25em;
    @include media(tablet) { 
        padding-bottom: .5em;
    }
}

.page-dashboard {
    h2 {
        margin-bottom: 0;
    }
}

.account-id, 
.secondary-text {
    @include core-16;
    display: block;
    color: $secondary-text-colour;
    margin: 0;
}

.data-wrap {
    @extend %contain-floats;
    margin: 0 (-$gutter-half);
}

.data {
    dl {
   
        @include box-sizing(border-box);
        padding: 15px; 
        background: $fuschia;
        color: white;
        dt {
            display: table-footer-group;
            @include bold-19;
        }
        dd {
            display: table-header-group;
            @include bold-48;
        }
    }
    @include media(tablet) { 
        padding: 0 $gutter-half;
        float: left;
        width: 50%;
        @include box-sizing(border-box);
        dd.long {
            font-size: 42px;
            line-height: 50px;
        }
        dd.longer {
            font-size: 32px;
            line-height: 50px;
        }
    }
    @include media(960px) {
        width: 33.33%;
        dd.long {
            font-size: 48px;
            line-height: 50px;
        }
        dd.longer {
            font-size: 42px;
            line-height: 50px;
        }
    }
}