<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationStorageConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__StorageConnectionString__" />
    <add key="EnvironmentName" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__EnvironmentName__"/>
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="__StorageConnectionString__" />
    <add key="LocalConfig" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="false" />
    <add key="StorageConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__StorageConnectionString__" />
  </appSettings>
  <nlog xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions xdt:Transform="Insert">
      <add assembly="SFA.DAS.NLog.Targets.Redis" />
    </extensions>
    <targets>
      <target xsi:type="Redis" name="Redis" appName="${appName}" environmentKey="EnvironmentName" connectionStringKey="LoggingRedisConnectionString" includeAllProperties="true" keySettingsKey="LoggingRedisKey" layout="${message}" xdt:Transform="Insert" />
    </targets>
    <rules>
      <logger minlevel="Info" writeTo="Redis" xdt:Transform="SetAttributes" />
    </rules>
  </nlog>
</configuration>
