@using System.Globalization
@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Domain.Models.Transaction
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.ViewModels.TransactionViewModel
@{
    var culture = new CultureInfo("en-GB");
}
@{ViewBag.PageID = "page-transactions"; }
@{ViewBag.Section = "finance"; }
@{ViewBag.Title = "Your transactions";}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your transactions</h1>
            <p>
                No funds will be paid into your account until May 2017.
            </p>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <p class="panel panel-info">
            No transaction data exists for this account, please try again later.
        </p>   
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam", new {HashedAccountId = @Model.Data.HashedAccountId})">Home</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}
