@using System.Globalization
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.TransactionsDownloadResultViewModel>
@{
    var culture = new CultureInfo("en-GB");
}
@{ViewBag.PageID = "page-transactions"; }
@{ViewBag.Section = "finance"; }
@{ViewBag.Title = "Download transactions";}

@{
    ViewBag.GaData.Vpv = "/accounts/finance/downloadtransactions";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Download transactions
        </h1>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam", new {HashedAccountId = Model.Data.HashedAccountId})">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions", new {HashedAccountId = Model.Data.HashedAccountId})">Finance</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}