@model dynamic

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View yout transactions</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <div class="home-figures">
                <h2 class="heading-small">This is your current balance:</h2>
                <h2 class="bold-xlarge" data-bind="text: displayBalance"></h2> <!--style="color:#08c"-->
                <p style="font-size: 16px">on <span data-bind="text: displaySystemDate"></span></p>
            </div>
        </div>
    </div>
</div>
