@model SFA.DAS.EAS.Web.ViewModels.LegalEntitySignedAgreementViewModel
@{
    ViewBag.Title = "Agreement not signed";
    ViewBag.PageId = "agreement-not-signed";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Agreement not signed</h1>
        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>

            <strong class="bold-small">

               @Model.LegalEntityName 
                    doesn't have a signed agreement with the Education and Skills Funding Agency (ESFA). Without a signed agreement you can add apprentice details, but won't be able to authorise payments to training providers.
                <br /><br />
                Only account owners can sign ESFA agreements. If you're not sure who the owner is, you can <a href="@Url.Action("ViewTeam", "EmployerTeam")">check your team details</a>.
            </strong>

        </div>
        <p><a class="button" href="@Url.Action("Index", "EmployerAgreement")" aria-label="Review your agreement">Review agreement</a>
        <p><a href="@Url.Action("SearchProvider", new {Model.HashedAccountId, Model.LegalEntityCode, Model.CohortRef})">Continue anyway</a></p>
    </div>
</div>
