@using SFA.DAS.EAS.Web.Models

@model CreateCommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Who should add apprentices?</h1>
        <p class="">You can add details of your apprentices (your cohort) or ask your training provider to add them for you.</p>
        <p>If you ask your training provider to add them, you will still need to check and approve the details they add.</p>


        <form method="POST" action="@Url.Action("CreateCommitment")">
            @Html.AntiForgeryToken()
            <fieldset>
                <!--h2 class="heading-medium">Choose</h2-->
                <legend class="visuallyhidden">Choose provider to enter details</legend>
                <div class="form-group">
                    <label class="block-label" for="radio1">
                        <input id="radio1" type="radio" name="radio-group" value="employer">
                        I will add apprentices
                    </label>
                    <label class="block-label selected" for="radio2">
                        <input id="radio2" type="radio" name="radio-group" value="provider">
                        I'd like my provider to add apprentices
                    </label>
                </div>
            </fieldset>
            <input type="hidden" id="legalEntityCode" name="legalEntityCode" value="@Model.LegalEntityCode" />
            <input type="hidden" id="providerId" name="providerId" value="@Model.ProviderId" />
            <button type="submit" class="button">Save and continue</button>
        </form>
    </div>
    <div class="column-one-third"></div>
</div>