@model String

@{ViewBag.PageID = "apprentices-home-page";}
@{ViewBag.Title = "Apprentices";}

 
<form method="POST" action="@Url.Action("SetLegalEntity")">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Apprentices</h1>
            <hr class="hr-double">
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="grid-row">
                <div class="column-half ">
                    <h2 class="heading-medium"><a href="@Url.Action("Inform")">Add an apprentice</a></h2>
                    <p class="rj-home-spacer">Add an apprentice to your account, so your training provider gets paid for their training.</p>
                    <hr />
                </div>
                <div class="column-half ">
                    <h2 class="heading-medium"><a href="@Url.Action("Cohorts")">Requests in progress</a></h2>
                    <p class="rj-home-spacer">Review, edit, approve and add more apprentices to requests you’ve already started.</p>
                    <hr />
                </div>

                <div class="column-half">
                    <h2 class="heading-medium">Update existing apprentices</h2>
                    <p class="rj-home-spacer">
                        View, pause and stop apprentices that you've already added and approved.
                    </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</form>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = ViewBag.HashedAccountId })">Employer Account Homepage</a></li>
            <li>Apprentices</li>
        </ol>
    </div>
}
