@using SFA.DAS.EAS.Web

@{
    ViewBag.Title = "Add an apprentice";
    ViewBag.PageID = "add-apprentice-start-page";
}

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.CommitmentInformViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add an apprentice</h1>
        <p>Add details of one or more apprentices to your account, and authorise payments to their training provider.</p>
        <h2 class="heading-medium">Before you start</h2>
        <p>You must:</p>
        <ul class="list-bullet">
            <li>know the names of your apprentices </li>
            <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
            <li>make sure the organisation that's named on the contract you have with your training provider is in your account - <a href="@Url.Action("Index", "EmployerAgreement", new { Model.Data.HashedAccountId })">view organisations in this account</a> </li>     
            <li>make sure the PAYE scheme that each apprentice is paid through is in your account - <a href="@Url.Action("Index", "EmployerAccountPaye", new { Model.Data.HashedAccountId })">view PAYE schemes in this account</a></li>
        </ul>
        <a href="@Url.Action("SelectLegalEntity")" class="button button-start">Start now</a>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">    
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}
