@using SFA.DAS.EAS.Web.Models

@{
    ViewBag.Title = "Start request";
    ViewBag.PageID = "start-request";
}

@model CommitmentInformViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add an apprentice</h1>
       
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>Use this service to:</p>
            <ul class="list-bullet">
                <li>add details of one or more apprentices to your account
</li>
                <li>make sure your training provider gets paid through your account
</li>
               
            </ul>
        
     
          <h2 class="heading-medium">Before you start</h2>
        <p>You must:</p>
            <ul class="list-bullet" >
                <li>make sure the organisation your apprentices will be employed through is in your account - <a href="@Url.Action("Index", "EmployerAgreement", new { accountId = Model.HashedAccountId })">view organisations in this account</a> </li>
                <li>know the names of your apprentices</li>
                <li>know the UK Provider Reference Number (UKPRN) of your training provider - your training provider can tell you this
</li>
               
            </ul>
       
        <a href="@Url.Action("SelectLegalEntity")" class="button button-start">Start now</a>
    </div>
</div>
