@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Models

@{
    ViewBag.Title = "Add an apprentice";
    ViewBag.PageID = "add-apprentice-start-page";
}

@model OrchestratorResponse<CommitmentInformViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add an apprentice</h1>
        <p>You can:</p>
        <ul class="list-bullet">
            <li>add details of one or more apprentices to your account</li>
            <li>make sure your training provider gets paid through your account</li>               
        </ul>
        <h2 class="heading-medium">Before you start</h2>
        <p>You must:</p>
        <ul class="list-bullet">
            <li>make sure the organisation your apprentices will be employed through is in your account - <a href="@Url.Action("Index", "EmployerAgreement", new { Model.Data.HashedAccountId })">view organisations in this account</a> </li>
            <li>know the names of your apprentices</li>
            <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
        </ul>
        <a href="@Url.Action("SelectLegalEntity")" class="button button-start">Start now</a>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">    
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}
