@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model SubmitCommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add a note</h1>
        <div class="form-group">
            <p>You're about to send a request to your training provider, asking them to add one or more apprentices to your cohort. Once you send it, they'll be able to see your request in their online account.</p>
            <p>Before you send your request, you can add a note for your training provider to read.</p>
        </div>
        <form method="POST" action="@Url.Action("SubmitCommitment")">
            @Html.AntiForgeryToken()
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>TODO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Training provider name</th>
                        <td>TODO</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label class="form-label" for="Message">Note (optional)</label>
                <p>For example, please add the 25 engineers we agreed on contract #30815</p>
                <textarea class="form-control form-control-3-4" id="Message" name="Message"
                          cols="40" rows="10"
                          aria-required="true">@Model.SubmitCommitmentModel.Message</textarea>
                </div>
                <button type="submit" class="button">Send request to provider</button>
            </form>
        </div>
    </div>
