@model SFA.DAS.EAS.Web.OrchestratorResponse<string>

@{ViewBag.PageID = "page-onboard-organisation-added-what-next"; }
@{
    ViewBag.Title = "What Next";
    ViewBag.Section = "organisations";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">What next?</h1>
        
        <form action="@Url.Action("GoToNextStep")" method="post">
            <label for="acceptAgreement">
                <span class="form-label-bold">Accept agreement in order to add apprentice</span>
            </label>
            <input type="radio" aria-labelledby="NextStep" name="nextStep" value="agreement" id="acceptAgreement"/>

            <label for="addAnotherOrganisation">
                <span class="form-label-bold">Add another organisation</span>
            </label>
            <input type="radio" aria-labelledby="NextStep" name="nextStep" value="addOrganisation" id="addAnotherOrganisation"/>

            <label for="GoToDashboard">
                <span class="form-label-bold">Go back to your dashboard</span>
            </label>
            <input type="radio" aria-labelledby="NextStep" name="nextStep" value="dashboard" id="GoToDashboard"/>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>