<article class="agreement">
    <header>
        <div class="headings">
            <div class="agreement-title">
                <p class="context">Agreement</p>
                <h1>
                    Apprenticeship levy:
                    legal agreement to enable spending
                </h1>
            </div>
            <p class="updated">Updated 31 January 2017</p>
        </div>
        <nav>
            <h2>Contents</h2>
            <ol>
                <li><a href="#1">Definitions and Interpretation </a></li>
                <li><a href="#2">Purpose and Use of Funding</a></li>
                <li><a href="#3">Commencement and Duration</a></li>
                <li><a href="#4">Payment of Funding</a></li>
                <li><a href="#5">Employer's Obligations</a></li>
                <li><a href="#6">Employer Co-Investment</a></li>
                <li><a href="#7">Withholding, Suspension and repayment of Funding</a></li>
                <li><a href="#8">State Aid</a></li>
                <li><a href="#9">Provision of Information</a></li>
                <li><a href="#10">Intellectual Property Rights</a></li>
                <li><a href="#11">Confidentiality</a></li>
                <li><a href="#12">Freedom of information</a></li>
                <li><a href="#13">Data protection</a></li>
                <li><a href="#14">Anti-discrimination</a></li>
                <li><a href="#15">Limitation of liability</a></li>
                <li><a href="#16">Warranties</a></li>
                <li><a href="#17">Termination</a></li>
                <li><a href="#18">Assignment</a></li>
                <li><a href="#19">Variation</a></li>
                <li><a href="#20">Waiver</a></li>
                <li><a href="#21">Notices</a></li>
                <li><a href="#22">Dispute resolution</a></li>
                <li><a href="#23">No partnership or agency</a></li>
                <li><a href="#24">Joint and several liability</a></li>
                <li><a href="#25">Contracts (Rights of Third Parties) Act 1999</a></li>
                <li><a href="#26">Governing law</a></li>
            </ol>
        </nav>
    </header>
    <div class="agreement-contents">
        <h2 id="1"><span class="number">1.</span> Definitions and Interpretation</h2>
        <p>In this Agreement the following terms shall have the following meanings:</p>
        <p><strong>Apprentice:</strong> a person who works under an Apprenticeship Agreement.</p>
        <p><strong>Apprenticeship:</strong> the training and (where applicable) end-point assessment for an employee as part of a job with an accompanying skills development programme.</p>
        <p><strong>Apprenticeship Agreement:</strong> (a) an approved English apprenticeship agreement; or (b) an apprenticeship agreement within the meaning given in section 32 of the Apprenticeship, Skills, Children and Learning Act 2009 as it applies in relation to England by virtue of provision made under section 115(9) of the Deregulation Act 2015.</p>
        <p><strong>Apprenticeship Funding Service:</strong> the service provided by the SFA to fund apprenticeship training undertaken by approved training providers using government funds. </p>
        <p><strong>Apprenticeship Levy:</strong> the levy payable by all employers with an annual pay bill of more than £3 million which is used to support the funding of Apprenticeships.</p>
        <p><strong>Bribery Act:</strong> the Bribery Act 2010 and any subordinate legislation made under that Act from time to time together with any guidance or codes of practice issued by the relevant government department concerning the legislation.</p>
        <p><strong>Commencement Date:</strong> 1 May 2017 or the date of the Employer’s electronic acceptance of these terms and conditions (whichever is later).</p>
        <p><strong>Connected Employer:</strong> any entity (being a distinct legal entity from the Employer) which is connected with the Employer within the meaning of Schedule 1 Parts 1 and 2 of the National Insurance Contributions Act 2014, and which, not being a contracting party to this Agreement, carries out activities on behalf of the Employer in relation to the Apprenticeship Funding Service or employs an Apprentice whose Training is Funded in whole or in part from the Employer’s Digital Account.</p>
        <p><strong>Employer:</strong> the employer which enters into a contract with a Training Provider to commission Training (a) for its own Apprentices and/or (b) on behalf of a Connected Employer for the Connected Employer’s Apprentices, to be funded in whole or in part from the Employer’s Digital Account.
        <p><strong>Employer Co-Investment:</strong> a financial contribution towards the cost of Training which is payable by the Employer to the Provider when there are insufficient funds in the Employer’s Digital Account. </p>
        <p><strong>Employer’s Digital Account:</strong> the part of the Apprenticeship Funding Service which shows the amount of Funding available to the Employer or a Connected Employer to spend on Training of Apprentices in accordance with this Agreement.</p>
        <p><strong>Funding:</strong> the funding paid to the Training Provider on behalf of the Employer towards the cost of Training of Apprentices in accordance with this Agreement.</p>
        <p><strong>Funding Rules:</strong> the SFA’s “Apprenticeship Funding: Rules and Guidance for Levy-Paying Employers” (available at <a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules</a> ), as revised and amended from time to time. </p>
        <p><strong>Intellectual Property Rights:</strong> all patents, copyrights and design rights (whether registered or not) and all applications for any of the foregoing and all rights of confidence and Know-How however arising for their full term and any renewals and extensions.</p>
        <p><strong>Know-How:</strong> information, data, know-how or experience whether patentable or not and including but not limited to any technical and commercial information relating to research, design, development, manufacture, use or sale.</p>
        <p><strong>Prohibited Act: means:</strong></p>
        <ol class="list" style="list-style-type:lower-alpha;">
            <li>
                offering, giving or agreeing to give to any servant of the Crown any gift or consideration of any kind as an inducement or reward for:
                <ol class="list" style="list-style-type:lower-roman; padding-left: 40px;">
                    <li>doing or not doing (or for having done or not having done) any act in relation to the obtaining or performance of this Agreement or any other contract with the Crown; or</li>
                    <li>showing or not showing favour or disfavour to any person in relation to this Agreement or any other contract with the Crown;</li>
                </ol>
            </li>
            <li>entering into this Agreement or any other contract with the Crown where a commission has been paid or has been agreed to be paid by the Employer or on its behalf, or to its knowledge, unless before the relevant contract is entered into particulars of any such commission and of the terms and conditions of any such contract for the payment thereof have been disclosed in writing to the SFA;</li>
            <li>
                committing any offence:
                <ol class="list">
                    <li>under the Bribery Act;</li>
                    <li>under legislation creating offences in respect of fraudulent acts; or</li>
                    <li>at common law in respect of fraudulent acts in relation to this Agreement or any other contract with the Crown; or</li>
                </ol>
            </li>
            <li>defrauding or attempting to defraud or conspiring to defraud the Crown.</li>
        </ol>
        <p><strong>SFA:</strong> the Secretary of State for Education, acting through the Skills Funding Agency, an executive agency of the Department for Education, whose principal address is at Cheylesmore House, Quinton Road, Coventry, CV1 2WT.</p>
        <p><strong>Technical Funding Guide:</strong> the Skills Funding Agency’s Apprenticeship Technical Funding Guide as revised and amended from time to time. </p>
        <p><strong>Training:</strong> the delivery of training and on-programme assessment by the Training Provider to one or more Apprentices.</p>
        <p><strong>Training Provider:</strong> an organisation registered on the Register of Apprenticeship Training Providers which has a contract with the Employer to provide Training to one or more Apprentices.</p>


        <h3 class="number-only"><span class="number">1.2</span></h3>
        <p>Unless the context otherwise requires, words in the singular shall include the plural and in the plural shall include the singular.</p>


        <h3 class="number-only"><span class="number">1.3</span></h3>
        <p>Unless the context otherwise requires, a reference to one gender shall include a reference to the other genders.</p>

        <h3 class="number-only"><span class="number">1.4</span></h3>
        <p>A reference to a statute or statutory provision is a reference to it as amended, extended or re-enacted from time to time.</p>

        <h3 class="number-only"><span class="number">1.5</span></h3>
        <p>Any words following the terms including, include, in particular, for example or any similar expression shall be construed as illustrative and shall not limit the sense of the words, description, definition, phrase or term preceding those terms.</p>
    </div>
</article>