@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel>
@{
    ViewBag.PageID = "agreement-about";
    ViewBag.Title = "About your SFA agreement";
    ViewBag.Section = "organisations";
} 
<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">About your SFA agreement</h1>
        <p>To spend levy funds on apprentices for an organisation, you need to accept the SFA agreement for that organisation.</p>
        <p>By accepting the agreement you agree to:</p>
        <ul class="list list-bullet">
            <li>allow the SFA to pay levy funds to your training providers</li>
            <li>keep records according to specific record keeping requirements</li>
            <li>participate in audits</li>
            <li>the fundings rules</li>
            <li>the funding rates and calculations</li>
        </ul>
        <div class="panel panel-thin">
            <p>Only account 'owners' can accept SFA agreements. If you're not sure who the owner is, you can <a href="@Url.Action("ViewTeam", "EmployerTeam")">check your team details.</a></p>
        </div>
        <form method="get" action="@Url.Action("SignAgreement","EmployerAgreement")">
            @Html.AntiForgeryToken()
            <input class="button" type="submit" value="Continue to your agreement"/>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to your organisations</a></li>
        </ol>
    </div>
}
