@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Domain.Extensions
@using SFA.DAS.EAS.Web;
@using SFA.DAS.EAS.Web.Models;

@model OrchestratorResponse<EmployerAgreementListViewModel>
@{
    ViewBag.PageID = "organisations-agreements-home"; 
    ViewBag.Title = "Organisations";
    ViewBag.Section = "organisations";

    if (TempData.ContainsKey("extraCompanyAdded"))
    {
        ViewBag.PageID = "page-organisations-added";
        TempData.Remove("extraCompanyAdded");
    }
}

<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Organisations</h1>
    </div>
    <div class="column-one-third">
        <form action="@Url.Action("Add")" method="GET">
            <input class="button action-add" id="addNewPaye" type="submit" value="Add new organisation">
        </form>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p class="lede">Add the organisations that you want to hire apprentices through.</p>

        <table class="tableResponsive orgListing">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var employerAgreement in Model.Data.EmployerAgreements)
            {
                    <tr>
                        <td>@employerAgreement.LegalEntityName</td>
                        
                    </tr>
                }
            </tbody>
        </table>

        

    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {HashedAccountId = @Model.Data.HashedAccountId})">Employer Account Homepage</a></li>
            <li>Organisations</li>
        </ol>
    </div>
}
