@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel>
    
<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Sign your organisation agreement</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <p>@Model.Data.EmployerAgreement.LegalEntityName</p>
        <p>Sign your SFA Agreement.</p>
    </div>
    <form method="post" action="@Url.Action("Sign","EmployerAgreement")">
        @Html.AntiForgeryToken()
        
        <input class="button action-add" type="submit" value="Sign" />
    </form>
</div>
