<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Moq" version="4.10.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net462" />
  <package id="NUnit" version="3.11.0" targetFramework="net462" />
  <package id="Polly" version="5.1.0" targetFramework="net462" />
  <package id="SFA.DAS.AutoConfiguration" version="2.0.1" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="1.1.142" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.1.5" targetFramework="net462" />
  <package id="SFA.DAS.Sql.Client" version="1.0.0.44965" targetFramework="net462" />
  <package id="StructureMap" version="4.5.0" targetFramework="net462" />
  <package id="SFA.DAS.Testing.AzureStorageEmulator" version="3.0.99" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net462" />
</packages>