@using SFA.DAS.EAS.Web.Extensions
@using SFA.DAS.EAS.Web.ViewModels
@model SFA.DAS.Activities.Client.AggregatedActivitiesResult

@if (Model.Aggregates.Any())
{
    var now = DateTime.UtcNow.ToGMTStandardTime();

    <ol id="item-list">
        @foreach (var aggregate in Model.Aggregates)
        {
            var activity = aggregate.TopHit;
            var at = activity.At.ToGMTStandardTime();

            <li class="item">
                <div class="item-label">@at.ToRelativeFormat(now)</div>
                <div class="item-description">
                    @Html.Partial("Activities/_" + activity.Type, new ActivityViewModel { Activity = activity, Count = aggregate.Count })
                </div>
            </li>
        }
        <li class="item all-activity">
            <div class="item-label">
                <a href="@Url.Action("Activity", "EmployerTeam")">See all activity</a>
            </div>
        </li>
    </ol>
}
else
{
    <p>You have no recent activity</p>
}