<section>
    <nav>
        <ul class="js-tabs" role="tablist">
            <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks">Tasks</a></li>
            <li role="tab" id="tab-activity" aria-controls="pane-activity"><a href="#pane-activity">Activity</a></li>
        </ul>
    </nav>
    <div class="panes">
        <div class="js-tab-pane" id="pane-tasks" role="tabpanel">
            Tasks
        </div>
        <div class="js-tab-pane" id="pane-activity" role="tabpanel">
            Activity
        </div>
    </div>
</section>