<section>
    <nav>
        <ul class="js-tabs" role="tablist">
            <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks">Tasks</a></li>
            <li role="tab" id="tab-activity" aria-controls="pane-activity"><a href="#pane-activity">Activity</a></li>
        </ul>
    </nav>
    <div class="panes">
        <div class="js-tab-pane" id="pane-tasks" role="tabpanel">
            You have no tasks
        </div>
        <div class="js-tab-pane" id="pane-activity" role="tabpanel">
            <ol class="timeline">
                <li class="first">
                    <h4 class="when" title="10th August 2017 at 1:25pm">Today</h4>
                    <p class="activity">1 levy transfer pending</p>
                    <p class="meta">At <time>1:25pm</time> <a href="index.html">See details</a></p>
                </li>
                <li>
                    <h4 class="when" title="10th August 2017 at 12:15pm">Today</h4>
                    <p class="activity">2 apprentice changes approved</p>
                    <p class="meta">At <time>12:15pm</time> <a href="index.html">See details</a></p>
                </li>
                <li class="first">
                    <h4 class="when" title="9th August 2017 at 9:57am">Yesterday</h4>
                    <p class="activity">1 levy transfer pending</p>
                    <p class="meta">At <time>9:57am</time> <a href="index.html">See details</a></p>
                </li>
                <li class="first">
                    <h4 class="when" title="27 June 2017 at 9:57am">27 June 2017</h4>
                    <p class="activity">Start date change requested for Anne Smith</p>
                    <p class="meta">At <time>9:57am</time> by <span class="author">Acme Training Ltd</span> <a href="index.html">See details</a></p>
                </li>
                <li>
                    <h4 class="when" title="27 June 2017 at 9:57am">27 June 2017</h4>
                    <p class="activity">Cohort approved: Acme Training ltd</p>
                    <p class="meta">At <time>9:57am</time> by <span class="author">Over Enout</span> <a href="index.html">See details</a></p>
                </li>
                <li>
                    <a href="#">See all activity</a>
                </li>
            </ol>
        </div>
    </div>
</section>