<section>
    <nav>
        <ul class="js-tabs">
            <li><a href="#tasks">Tasks</a></li>
            <li><a href="#activity">Activity</a></li>
        </ul>
    </nav>
    <div class="panels">
        <div class="js-tab-pane" id="tasks">
            Tasks
        </div>
        <div class="js-tab-pane" id="activity">
            Activity
        </div>
    </div>
</section>