
<section id="welcome" data-total-steps="4">
    <a href="" class="close link-with-icon">
        <svg class="icon" focusable="false" aria-hidden="true">
            <use xlink:href="#icon-cross" />
        </svg>
        <span class="link-text">Close <i class="vh">this welcome message</i></span>
    </a>
    <h1 class="heading-xlarge">Hi @Model.Data.UserFirstName, welcome to your new digital account</h1>
    <p>Follow these steps to set up your account.</p>
    <ol class="todo-list">
        <li data-step="1" class="todo-list--item">
            <h2>Step 1 of 4</h2>
            <ul>
                <li class="todo">
                    <fieldset class="inline">
                        <legend class="heading-small">Have you added all your PAYE schemes? </legend>
                        <p>This allows levy to be paid into your account.</p>
                        <label class="block-label selection-button-radio" for="add-paye-1">
                            <input id="add-paye-1" type="radio" name="add-paye-group" value="1">
                            Yes
                        </label>
                        <label class="block-label selection-button-radio" for="add-paye-2"  data-target="add-paye-schemes-guide">
                            <input id="add-paye-2" type="radio" name="add-paye-group" value="2">
                            No
                        </label>
                        <div class="panel panel-border-narrow js-hidden" id="add-paye-schemes-guide">
                            <a href="@Url.Action("Index", "EmployerAccountPaye")">Add PAYE schemes now</a> - you'll need your Government Gateway login details.
                        </div>
                    </fieldset>
                </li>
                <li class="done">
                    <p>PAYE schemes added</p>
                    <div class="status">
                        Done
                        <svg class="icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#icon-tick" />
                        </svg>
                    </div>
                </li>
            </ul>
        </li>
        <li class="js-hidden todo-list--item" aria-hidden="true" data-step="2">
            <h2>Step 2 of 4</h2>
            <ul>
                <li class="todo">
                    <fieldset class="inline">
                        <legend class="heading-small">organisations? </legend>
                        <p>Guide</p>
                        <label class="block-label selection-button-radio" for="add-organisations-1">
                            <input id="add-organisations-1" type="radio" name="" value="1">
                            Yes
                        </label>
                        <label class="block-label selection-button-radio" for="add-organisations-2" data-target="guide-wizard-step-organisations">
                            <input id="add-organisations-2" type="radio" name="" value="2">
                            No
                        </label>
                        <div class="panel panel-border-narrow js-hidden" id="guide-wizard-step-organisations">
                            Words
                        </div>
                    </fieldset>
                </li>
                <li class="done">
                    <p>SOMETHING added</p>
                    <div class="status">
                        Done
                        <svg class="icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#icon-tick" />
                        </svg>
                    </div>
                </li>
            </ul>
        </li>
        <li class="js-hidden todo-list--item" aria-hidden="true" data-step="3">
            <h2>Step 3 of 4</h2>
            <ul>
                <li class="todo">
                    <fieldset class="inline">
                        <legend class="heading-small">members? </legend>
                        <p>Guide</p>
                        <label class="block-label selection-button-radio" for="add-members-1">
                            <input id="add-members-1" type="radio" name="" value="1">
                            Yes
                        </label>
                        <label class="block-label selection-button-radio" for="add-members-2" data-target="guide-wizard-step-members">
                            <input id="add-members-2" type="radio" name="" value="2">
                            No
                        </label>
                        <div class="panel panel-border-narrow js-hidden" id="guide-wizard-step-members">
                            Words
                        </div>
                    </fieldset>
                </li>
                <li class="done">
                    <p>SOMETHING added</p>
                    <div class="status">
                        Done
                        <svg class="icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#icon-tick" />
                        </svg>
                    </div>
                </li>
            </ul>
        </li>
        <li class="js-hidden todo-list--item" aria-hidden="true" data-step="4">
            <h2>Step 4 of 4</h2>
            <ul>
                <li class="todo">
                    <fieldset class="inline">
                        <legend class="heading-small">Agreements? </legend>
                        <p>Guide</p>
                        <label class="block-label selection-button-radio" for="add-agreements-1">
                            <input id="add-agreements-1" type="radio" name="" value="1">
                            Yes
                        </label>
                        <label class="block-label selection-button-radio" for="add-agreements-2" data-target="guide-wizard-step-agreements">
                            <input id="add-agreements-2" type="radio" name="" value="2">
                            No
                        </label>
                        <div class="panel panel-border-narrow js-hidden" id="guide-wizard-step-agreements">
                            Words
                        </div>
                    </fieldset>
                </li>
                <li class="done">
                    <p>SOMETHING added</p>
                    <div class="status">
                        Done
                        <svg class="icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#icon-tick" />
                        </svg>
                    </div>
                </li>
            </ul>
        </li>
    </ol>
</section>