
<section id="welcome" tabindex="-1">
    <a href="" class="close link-with-icon">
        <svg class="icon" focusable="false" aria-hidden="true">
            <use xlink:href="#icon-cross" />
        </svg>
        <span class="link-text">Close <i class="vh">this welcome message</i></span>
    </a>
    <h1 class="heading-xlarge">Hi {firstName}, welcome to your new digital account</h1>
    <p>Follow these steps to set up your account.</p>
    <form>
        <div class="form-group">
            <fieldset class="inline">

                <legend>
                    <h1 class="heading-medium">
                        Do you already have a personal user account?
                    </h1>
                </legend>

                <div class="multiple-choice">
                    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                    <label for="radio-inline-1">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                    <label for="radio-inline-2">No</label>
                </div>

            </fieldset>
        </div>
    </form>
    <ol class="todo-list">
        <li>
            <h2>Step 1 of 4</h2>
            <ul>
                <li class="todo">
                    <fieldset class="inline">
                        <legend class="heading-small">Have you added all your PAYE schemes? </legend>
                        <p>This allows levy to be paid into your account.</p>
                        <label class="block-label selection-button-radio" for="add-paye-1">
                            <input id="add-paye-1" type="radio" name="add-paye-group" value="1">
                            Yes
                        </label>
                        <label class="block-label selection-button-radio selected" for="add-paye-2">
                            <input id="add-paye-2" type="radio" name="add-paye-group" value="2">
                            No
                        </label>
                    </fieldset>
                </li>
                <li class="done">
                    <p>PAYE schemes added</p>
                    <div class="status">
                        Done
                        <svg class="icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#icon-tick" />
                        </svg>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h2>Step 2 of 4</h2>

        </li>
        <li>
            <h2>Step 3 of 4</h2>

        </li>
        <li>
            <h2>Step 4 of 4</h2>

        </li>
    </ol>
</section>