<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Pdf" version="17.2.0" targetFramework="net462" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net462" />
  <package id="ClosedXML" version="0.90.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net462" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net462" />
  <package id="MediatR" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.16.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.3.7" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="RestSharp" version="105.2.3" targetFramework="net462" requireReinstallation="true" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.11.29" targetFramework="net462" />
  <package id="SFA.DAS.Audit.Client" version="1.0.0.20553" targetFramework="net462" />
  <package id="SFA.DAS.Audit.Client.Web" version="1.0.0.20510" targetFramework="net462" />
  <package id="SFA.DAS.Commitments.Api.Client" version="1.68.0.34798" targetFramework="net462" />
  <package id="SFA.DAS.Commitments.Api.Types" version="2.0.0.44695" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.3.0.44308" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="1.0.0.49931" targetFramework="net462" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.0.0.49931" targetFramework="net462" />
  <package id="SFA.DAS.Configuration.FileStorage" version="1.0.0.49931" targetFramework="net462" />
  <package id="SFA.DAS.CookieService" version="1.0.0.27423" targetFramework="net462" />
  <package id="SFA.DAS.Messaging" version="3.0.0.63765" targetFramework="net462" />
  <package id="SFA.DAS.Messaging.AzureServiceBus" version="3.0.0.63765" targetFramework="net462" />
  <package id="SFA.DAS.Messaging.AzureServiceBus.StructureMap" version="3.0.0.63765" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.56651" targetFramework="net462" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.1.2" targetFramework="net462" />
  <package id="SFA.DAS.ReferenceData.Api.Client" version="1.0.0.33424" targetFramework="net462" />
  <package id="SFA.DAS.Sql.Client" version="1.0.0.32930" targetFramework="net462" />
  <package id="SFA.DAS.Tasks.Api.Client" version="1.7.0.49084" targetFramework="net462" />
  <package id="SFA.DAS.Tasks.Api.Types" version="1.7.0.49084" targetFramework="net462" />
  <package id="SFA.DAS.TokenService.Api.Client" version="1.0.0.26382" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
  <package id="StructureMap" version="4.6.0" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net462" />
</packages>