@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.ViewModels.ActivityViewModel

@if (Model.Count > 1)
{
    <p class="activity">@Model.Count accounts created</p>
}
else
{
    <p class="activity">Account created by @Model.Activity.Data["CreatorName"]</p>
    
    if (Model.MetaIsVisible)
    {
        <p class="meta">
            At <time>@Model.Activity.At.ToGMTStandardTime().ToString("h:mm tt")</time>
        </p>
    }
}