@model bool

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Legal Agreement Template</title>

    <link href="~/dist/css/fonts.css" media="all" rel="stylesheet" />
    <link href="@Styles.Url("~/bundles/screen")" media="all" rel="stylesheet" />

</head>
<body id="layout-agreement">

    <main role="main" id="content">

        @if (Model)
        {
            <div class="grid-row">
                <div class="column-full">
                    <table class="sign-agreement">
                        <tr>
                            <th>Signed by:</th>
                            <td>__SignedByName__</td>
                        </tr>
                        <tr>
                            <th>On behalf of:</th>
                            <td>__LegalEntityName__</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>
                                <span>__LegalEntityAddress_0__</span><br/>
                                <span>__LegalEntityAddress_1__</span><br />
                                <span>__LegalEntityAddress_2__</span><br />
                                <span>__LegalEntityAddress_3__</span><br />
                                <span>__LegalEntityAddress_4__</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Signed on:</th>
                            <td>__SignedDate__</td>
                        </tr>
                    </table>
                </div>
            </div>
        }

        <div class="grid-row" id="publication-banner">
            <div class="column-third">
                <div class="sfa-logo">
                    <h1>
                        <span class="organisation-logo">
                            <span>
                                Education &amp; Skills  <br>
                                Funding Agency
                            </span>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
        @Html.Partial("_Agreement_V1")


    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">
        
    </footer>
    

</body>
</html>
