@*@model SFA.DAS.EAS.Web.Models.PrivacyViewModel*@
@{ViewBag.PageID = "page-privacy"; }
@{ViewBag.Title = "Privacy and cookies"; }
@{ViewBag.HideNav = "true"; }

@{
    ViewBag.GaData.Vpv = "/page-privacy";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header">
            <div>
                <h1 class="heading-xlarge">
                    Privacy and cookies
                </h1>
            </div>
        </header>

        <h2 class="heading-large">Privacy</h2>

        <h3 class="heading-medium">How we use your personal information</h3>

        <p>The manage apprenticeships service is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
        <p>This privacy notice explains how we (<abbr title="Department for Education">DfE</abbr> and <abbr title="Education and Skills Funding Agency">ESFA</abbr>) use your personal information.</p>
        <p>For the purposes of relevant data protection legislation, DfE is the data controller for personal information it processes, so that it can carry out its functions.</p>
        <p>Where you register on the service the personal information you give us will be used for administration and research purposes.</p>

        <h3 class="heading-medium">How long we hold personal information</h3>

        <p>We’ll retain the personal information for administration purposes only for as long as necessary. Personal data required for research purposes may be retained indefinitely.</p>

        <h3 class="heading-medium">Who we share your personal information with</h3>

        <p>We may share your information where the law allows it to enable the running of the manage apprenticeships service, or where we have a legal obligation to do so.</p>

        <h3 class="heading-medium">Your individual rights</h3>

        <p>You have the right to:</p>
        <ul class="list list-bullet">
            <li>request a copy of personal information that we hold about you</li>
            <li>request that we correct any wrong or incomplete personal information</li>
        </ul>
        <p>You can access the information we hold on you by signing in to your account.</p>

        <h3 class="heading-medium">How to complain</h3>

        <p>Contact us using our <a href="https://www.education.gov.uk/contactus/efa">secure online contact form</a> or by writing to:</p>
        <p>
            Ministerial and Public Communications Division<br />
            Department for Education<br />
            Piccadilly Gate Store Street<br />
            Manchester<br />
            M1 2WD
        </p>
        <p>If you wish to contact the DfE’s data protection officer, please use the secure online form or write to the address above.</p>
        <p>You also have the right to complain to the <a href="https://ico.org.uk/concerns/">Information Commissioner’s Office</a>.</p>

        <h2 class="heading-large">Cookies</h2>

        <p>The Education and Skills Funding Agency (ESFA) puts small files (known as ‘cookies’) onto your computer to collect information about how you browse our sites.</p>

        <p>Cookies are used to:</p>
        <ul class="list list-bullet">
            <li>measure how you use our websites so they can be updated and improved based on your needs</li>
            <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
        </ul>

        <div role="note" aria-label="Information" class="panel panel-border-narrow">
            <p>ESFA cookies aren’t used to identify you personally.</p>
        </div>

        <p>Specific cookies we use are for this site:</p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires after</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sfa-das-employerapprenticeshipsservice-employeraccount</td>
                    <td>
                        To store temporarily, information about your company that you have entered and information that we have recieved from <abbr title="Her Majesty’s Revenue and Customs">HMRC</abbr> about your <abbr title="Pay as you earn">PAYE</abbr> scheme through the account creation process. All the information is encrypted.
                    </td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>sfa-das-employerapprenticeshipsservice-apprentices</td>
                    <td>
                        To store temporarily, information about your individual apprentices. We only store this apprentice information while you're editing it on the website. All the information is encrypted.
                    </td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>sfa-das-employerapprenticeshipsservice-flashmessage</td>
                    <td>
                        To store temporarily, a record of your activity on the website; for example, when you progress to a new page, or when you enter correct or incorrect data. All the information is encrypted.
                    </td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>sfa-das-employerapprenticeshipsservice-lastCohortPage</td>
                    <td>To store temporarily, a record of your activity on the website; for example, to know which page to return you to after deleting a cohort. All the information is encrypted.</td>
                    <td>1 day</td>
                </tr>
                <tr>
                    <td>setup-employer</td>
                    <td>To temporarily store information about your current session.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>vacancyStatusFilter</td>
                    <td>To store the last filter applied by the user on their dashboard of the vacancies under a specified status.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>recruit-temp-data</td>
                    <td>To temporarily store data for the next server request.</td>
                    <td>Immediately on next request.</td>
                </tr>
                <tr>
                    <td>.AspNet.Cookies</td>
                    <td>To temporarily store information about your account. All the information is encrypted.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>recruit-data</td>
                    <td>To temporarily store information about your account. All the information is encrypted.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>__RequestVerificationToken</td>
                    <td>To store an encrypted value used to verify that page actions are made from the same website that issued the form page.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>recruit-x-csrf</td>
                    <td>To store an encrypted value used to verify that page actions are made from the same website that issued the form page.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>vacancy-startDate-{vacancyId}</td>
                    <td>Stored for temporary form data between pages when editing a specific vacancy’s dates.</td>
                    <td>30 minutes</td>
                </tr>
                <tr>
                    <td>vacancy-closingDate-{vacancyId}</td>
                    <td>Stored for temporary form data between pages when editing a specific vacancy’s dates.</td>
                    <td>30 minutes</td>
                </tr>
                <tr>
                    <td>TempData</td>
                    <td>To temporarily store data for the next server request.</td>
                    <td>Immediately on next request</td>
                </tr>
                <tr>
                    <td>recruit-seen-outage-message</td>
                    <td>Informs us that you don't want to see our planned outage message.</td>
                    <td>Today at midnight</td>
                </tr>
                <tr>
                    <td>recruit-levy</td>
                    <td>To temporarily store information about your account. All the information is encrypted.</td>
                    <td>End of session</td>
                </tr>
            </tbody>
        </table>

        <p>
            You’ll normally see a message on the site before we store a cookie on your computer.
        </p>

        <p>
            Find out more about <a rel="external" href="http://www.aboutcookies.org">how to manage cookies.</a>
        </p>

        <h3 class="heading-medium">
            Google Analytics
        </h3>

        <p>
            We use Google Analytics software to collect information about how you use ESFA sites. We do this to help make sure our sites are meeting the needs of its users and to help us make improvements.
        </p>

        <p>Google Analytics stores information about:</p>

        <ul class="list list-bullet">
            <li>the pages you visit on <abbr title="Education and Skills Funding Agency">ESFA</abbr> sites </li>
            <li>how long you spend on each <abbr title="Education and Skills Funding Agency">ESFA</abbr> page</li>
            <li>how you got to our sites</li>
            <li>what you click on while you’re visiting our sites</li>
        </ul>

        <p>We don’t collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>

        <div role="note" aria-label="Information" class="panel panel-border-narrow">
            <p>
                We don’t allow Google to use or share our analytics data. You can <a rel="external" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.
            </p>
        </div>

        <p>Google Analytics sets the following cookies:</p>

        <h4 class="heading-small">
            Universal Analytics
        </h4>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires after</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td>This helps us count how many people visit <abbr title="Education and Skills Funding Agency">ESFA</abbr> sites by tracking if you’ve visited before</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>Used to manage the rate at which page view requests are made</td>
                    <td>10 minutes</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>To count how many people visit our sites.</td>
                    <td>1 day</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium">
            Google Maps
        </h3>
        <p>We use Google Maps to display the location of apprenticeships/traineeships.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires after</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>gsScrollPos</td>
                    <td>To display Google Maps</td>
                    <td>End of session</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium">
            Application Insight
        </h3>

        <p>We use Microsoft Azure Application Insights to monitor and improve the performance.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires after</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ai_session</td>
                    <td>
                        Allow us to track a user over current session.
                    </td>
                    <td>10 minutes</td>
                </tr>
                <tr>
                    <td>ai_user</td>
                    <td>
                        Allow us to track a user over a longer period of time.
                    </td>
                    <td>1 year</td>
                </tr>

            </tbody>
        </table>

        <p>
            Read more about <a rel="external" href="https://azure.microsoft.com/en-us/documentation/articles/app-insights-data-retention-pirvacy/">Application Insights data retention</a>
        </p>

        <h3 class="heading-medium">
            Cookies pop-up message
        </h3>

        <p>You may see a pop-up welcome message when you first visit an <abbr title="Education and Skills Funding Agency">ESFA</abbr> site. When you click this message we store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires after</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>seen_cookie_message</td>
                    <td>Saves a message to let us know that you’ve seen our cookie message.</td>
                    <td>30 days</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium">
            Other government services
        </h3>

        <p>
            Most services we link to are run by different government departments, eg HM Revenue and Customs (<abbr title="Her Majesty’s Revenue and Customs">HMRC</abbr>) or the Home Office. These services may set additional cookies and, if so, will have their own cookies policy.
        </p>

        <h3 class="heading-medium">
            Our survey
        </h3>

        <p>
            We use <a rel="external" href="http://www.smartsurvey.co.uk/">SmartSurvey</a> to collect responses to the survey. If you take part, SmartSurvey will save extra cookies to your computer to track your progress through it.
        </p>

        <h3 class="heading-medium">
            Identity Management
        </h3>

        <p>Required for sign-in and sign-out.</p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires after</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IDS</td>
                    <td>Required for identity management, i.e. sign-in and sign-out.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td class="force-word-wrap">SignInMessage</td>
                    <td>Required for identity management, i.e. sign-in and sign-out.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>idsrv</td>
                    <td>Required for identity management, i.e. sign-in and sign-out.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>idsvr.session</td>
                    <td>Required for identity management, i.e. sign-in and sign-out.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>idsvr.clients</td>
                    <td>Required for identity management, i.e. sign-in and sign-out.</td>
                    <td>End of session</td>
                </tr>
                <tr>
                    <td>idsvr.partial</td>
                    <td>Required for identity management, i.e. sign-in and sign-out.</td>
                    <td>End of session</td>
                </tr>
            </tbody>
        </table>

        <div class="meta-data group">
            <p class="modmodified-date">Last updated: 02 November 2018</p>
        </div>

    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your accounts</a></li>
            <li>Privacy and cookies</li>
        </ol>
    </div>
}
