@{ViewBag.PageID = "page-service-homepage"; }
@{ ViewBag.Title = "Homepage"; }

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Have you used this service before?
        </h1>
        
        <form method="POST" action="@Url.Action("Index", "Home")" >
            @Html.AntiForgeryToken()
            <div class="form-group ">
                <fieldset>
                    <legend class="visuallyhidden">Yes, I've used this service before</legend>
                    <label for="used-service-before" class="block-label">
                        <input type="radio" name="choice" id="used-service-before" value="2" />
                        Yes, I have everything
                    </label>
                    <label for="not-used-service-before" class="block-label" data-target="have-not-got-everything">
                        <input type="radio" name="choice" id="not-used-service-before" value="1" />
                        No, this is my first time
                    </label>
                </fieldset>
                <button class="button" type="submit" id="submit-button">Continue</button>
            </div>
        </form>
    </div>
</div>

@section pageSpecificJS {
<script>

    $(function () {
        sfa.homePage.init();
    });

</script>
}