@{ViewBag.PageID = "page-service-homepage"; }
@{ViewBag.Title = "Homepage"; }

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Manage your apprenticeships
        </h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">       
        <p class="lede">What you'll need.</p>
        <h2 class="heading-medium">Getting started</h2>
        <p>Your funds come from HMRC via your PAYE schemes.</p>
        <p>To access your funds you will need:</p>
        <ul class="list list-bullet">
            <li>the Government Gateway login details and PAYE scheme numbers used for your payroll</li>
            <li>your organisation's Companies House Number or Charity number (only if your organisation has one)</li>
        </ul>
        <p>Search for <a href="https://beta.companieshouse.gov.uk/" rel="external" target="_blank">your Companies House number</a> or <a href="https://www.gov.uk/find-charity-information" rel="external" target="_blank">your Charity number</a></p>
        <form>
        <div class="form-group radios-inline">
            <h3 class="heading-medium">Do you have everything you need?</h3>
            <fieldset>
                <legend class="visuallyhidden">Do you have everything you need?</legend>
                <label for="everything-yes" class="block-label">
                    <input type="radio" name="everything-you-need" id="everything-yes" value="yes" />
                    Yes, I have everything I need
                </label>
                <label for="everything-no" class="block-label" data-target="have-not-got-everything">
                    <input type="radio" name="everything-you-need" id="everything-no" value="no" />
                    No, I don't have everything I need
                </label>
                <div class="error js-hidden" aria-hidden="true" id="have-not-got-everything">
                    <p class="error-message">You need your Companies House number and your Government Gateway login details to create an account.</p>
                </div>
            </fieldset>
        </div>
        </form>
        <p><a class="button button-start" id="create_account" href="@Url.Action("RegisterUser", "Home")">Start</a> </p>
        <h2 class="heading-medium">Sign in</h2>
        <p>If you already have an account, you just need your email address and password to sign in.</p>
        <p><a class="button" id="sign_in" href="@Url.Action("SignIn", "Home")">Sign in</a></p>
    </div>
</div>

@section pageSpecificJS {
<script>

    $(function () {
        sfa.homePage.init();
    });

</script>
}

@section gaDataLayer {
    <script>
    window.dataLayer = window.dataLayer || []; dataLayer.push({
        'event': 'dataLoaded',
        'loggedIn': '@HttpContext.Current.User.Identity.IsAuthenticated',
        'userID': '',
        'vpv': '/service/whatYoullNeed/page-what-youll-need'
    });
    </script>
}
