@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.UserAccountsViewModel>

@{ViewBag.PageID = "page-auth-setupaccount"; }
@{ViewBag.Section = "home"; }
@{ViewBag.Title = "Setup your account"; }
@{ViewBag.HideNav = "true"; }

@{
    ViewBag.GaData.Vpv = "/page-auth-setupaccount";
}

<div class="grid-row">
    <div class="column-full">
        @Html.Partial("_SetupAccount")
    </div>
</div>

