@{ViewBag.PageID = "page-what-youll-need"; }
@{ViewBag.Title = "What you'll need"; }

@{ var errorMessage = TempData["Error"] as string; }

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            What you'll need
        </h1>
        <p>Your levy funds come from HMRC via your PAYE schemes.</p>
        <p>To access your funds you will need:</p>
        <ul class="list-bullet">
            <li>the Government Gateway login details and PAYE scheme numbers used for your payroll</li>
            <li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/" rel="external" target="_blank">find my Companies House number</a></li>
        </ul>        
        <form method="POST" action="@Url.Action("WhatYoullNeed", "Home")" >
            @Html.AntiForgeryToken()
            <div class="form-group" id="what-you-need-form">
                <fieldset>
                    <legend class="form-label-bold">
                        <span>Do you have everything you need?</span>
                        <span class="error-message js-hidden" aria-hidden="true" id="have-not-got-everything">
                            You need your Companies House number and your Government Gateway login details to create an account
                        </span>
                        
                    </legend>
                    <label for="have-everything" class="block-label">
                        <input type="radio" name="choice" id="have-everything" value="2" />
                        Yes, I have everything I need
                    </label>
                    <label for="do-not-have-everything" class="block-label">
                        <input type="radio" name="choice" id="do-not-have-everything" value="1"/>
                        No, I don't have everything I need
                    </label>
                    
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="submit-button">Continue</button>
            </div>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/" class="back-link">Back</a></li>
        </ol>
    </div>
}

@section pageSpecificJS {
    <script type="text/javascript">
        


        $(function () {
            sfa.homePage.init();
        });
    </script>
}