@{ViewBag.PageID = "page-everything-I-need"; }
@{ ViewBag.Title = "Do you have everything you need?"; }

@{ var errorMessage = TempData["Error"] as string; }

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-error  ">
                @errorMessage
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            What you'll need
        </h1>
        <p>Your levy funds come from HMRC via your PAYE schemes.</p>
        <p>To access your funds you will need:</p>
        <ul class="list-bullet">
            <li>the Government Gateway login details and PAYE scheme numbers used for your payroll</li>
            <li>authority to allow HMRC to access your Government Gateway account</li>
        </ul>
        
        <form method="POST" action="@Url.Action("WhatYoullNeed", "Home")" >
            @Html.AntiForgeryToken()
            <div class="form-group ">
                <fieldset>
                    <legend class="form-label-bold">Do you have everything you need?</legend>
                    <label for="have-everything" class="block-label">
                        <input type="radio" name="choice" id="have-everything" value="2" />
                        Yes, I have Government Gateway details
                    </label>
                    <label for="do-not-have-everything" class="block-label" data-target="have-not-got-everything">
                        <input type="radio" name="choice" id="do-not-have-everything" value="1" />
                        No, I don't have Government Gateway details
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="submit-button">Continue</button>
            </div>
        </form>
    </div>
</div>

@section pageSpecificJS {
<script>

    $(function () {
        sfa.homePage.init();
    });

</script>
}