@{
    ViewBag.Title = "Apprenticeship service employer support tool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Apprenticeship service employer support tool</h1>
        <p class="govuk-body">Apprenticeship service support staff can sign in to this service to view employer account details, such as:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
            <li>account balance</li>
            <li>levy transactions</li>
            <li>PAYE scheme</li>
            <li>team members</li>
            <li>commitments and learner details</li>
        </ul>
        <p class="govuk-body">You can also change team members and roles.</p>
        <p class="govuk-body">You’ll need a DfE Sign-in account to use this service. If you don’t have a DfE Sign-in account, you can create one at the next step.</p>
        <a href="/account" class="govuk-button govuk-button--start">Start now</a>
    </div>
</div>


