@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.AddNewPayeScheme

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Choose Company</h1>
        <p>You can choose your existing company to be used for the legal agreement or search for a new one.</p>
    </div>
</div>
