<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.5.1" targetFramework="net462" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FluentAssertions" version="5.9.0" targetFramework="net462" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net462" />
  <package id="IdentityModel" version="1.11.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.Azure.DocumentDB" version="1.22.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.ActiveDirectory" version="3.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Moq" version="4.10.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net462" />
  <package id="NLog.Extensions.Logging" version="1.4.0" targetFramework="net462" />
  <package id="NServiceBus" version="7.0.1" targetFramework="net462" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="8.0.0" targetFramework="net462" />
  <package id="NServiceBus.Heartbeat" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics.ServiceControl" version="3.0.1" targetFramework="net462" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net462" />
  <package id="NServiceBus.NLog" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Persistence.Sql" version="4.1.1" targetFramework="net462" />
  <package id="NServiceBus.StructureMap" version="7.0.0" targetFramework="net462" />
  <package id="NServiceBus.UniformSession" version="2.1.0" targetFramework="net462" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.15.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Polly" version="5.1.0" targetFramework="net462" />
  <package id="SFA.DAS.Authorization" version="6.0.15" targetFramework="net462" />
  <package id="SFA.DAS.Authorization.WebApi" version="6.0.15" targetFramework="net462" />
  <package id="SFA.DAS.AutoConfiguration" version="2.0.1" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.276" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="3.0.75" targetFramework="net462" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="3.0.75" targetFramework="net462" />
  <package id="SFA.DAS.EmployerUsers.WebClientComponents" version="1.0.0.4388" targetFramework="net462" />
  <package id="SFA.DAS.HashingService" version="1.0.183" targetFramework="net462" />
  <package id="SFA.DAS.Logging" version="1.0.5" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.56651" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.47445" targetFramework="net462" />
  <package id="SFA.DAS.NServiceBus" version="2.0.12" targetFramework="net462" />
  <package id="SFA.DAS.NServiceBus.SqlServer" version="2.0.12" targetFramework="net462" />
  <package id="SFA.DAS.OidcMiddleware" version="2.0.0.61553" targetFramework="net462" />
  <package id="SFA.DAS.Sql.Client" version="1.0.0.32930" targetFramework="net462" />
  <package id="SFA.DAS.Testing" version="3.0.121" targetFramework="net462" />
  <package id="SFA.DAS.UnitOfWork" version="1.0.17" targetFramework="net462" />
  <package id="SFA.DAS.UnitOfWork.EntityFramework" version="1.0.17" targetFramework="net462" />
  <package id="SFA.DAS.UnitOfWork.NServiceBus" version="1.0.17" targetFramework="net462" />
  <package id="SFA.DAS.UnitOfWork.WebApi" version="1.0.17" targetFramework="net462" />
  <package id="SFA.DAS.Validation" version="5.1.167" targetFramework="net462" />
  <package id="SFA.DAS.Web.Policy" version="1.1.0.44309" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net462" />
  <package id="StructureMap" version="4.7.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="WebApi.StructureMap" version="1.0.23" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="4.1.0" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net462" />
</packages>