<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You don't have access to this page</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>The page you requested either does not exist or you don't have access to it, from here you can:</p>
        <a class="govuk-button" id="go_back_service_home_page" href="/">Go back to the service home page</a>
    </div>
</div>
