<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EnvironmentName" value="LOCAL" />
    <add key="LegacyEasBaseUrl" value="https://localhost/" />
    <add key="CommitmentsBaseUrl" value="https://localhost/" />
    <add key="AccountsBaseUrl" value="https://localhost:44344/" />
    <add key="FinanceBaseUrl" value="https://localhost:44304/" />
  </appSettings>
</configuration>
