<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Goverment gateway ID</h1>
        <p class="first-para-spacing">You need your goverment gateway ID for at least one of the PAYE schemes you intend to link to this apprenticeship account.</p>
        <p class="bold-small">Do you have at least one goverment gateway ID ready?</p>

        <div class="grid-row">
            <div class="column-one-third">
                <p></p>
                <a class="button" href="@Url.Action("SelectEmployer")">Continue</a>
            </div>

        </div>

        <div style="margin-top:50px"></div>

    </div>

    <div class="column-one-third">

    </div>
</div>