@if (TempData.Keys.Contains("ErrorMessage"))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-danger  ">
                @TempData["ErrorMessage"]
                or you can go back to the <a href="/">Service Home</a> page.
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">What you need</h1>
        <p>To add a levy account you need:</p>
        <ul class="list-bullet">
            <li>the Companies House number for your organisation</li>
            <li>the Government Gateway login details for the PAYE scheme you want to use to clain levy funds</li>
        </ul>
        <p><a href="http://www.gateway.gov.uk/Help/Help.aspx?content=help_more_info_gateway.htm&languageid=0" target="_blank" rel="external">What's Government Gateway?</a></p>
        <form method="POST" action="@Url.Action("Index")">
            <h2 class="heading-medium">Check this statement to continue</h2>
                <div class="form-group  @(TempData?["notunderstood"] != null ? "error" : string.Empty)">
                    @if (TempData["notunderstood"] != null)
                    {
                        <span class="error-message" id="error-message-understand">Please check the box to continue</span>
                    }
                    <label class="block-label" for="understood">
                        <input type="checkbox" id="understood" name="understood" value="understood" @(TempData?["notunderstood"] != null ? "aria-describedby=\"error-message-understand\"" : string.Empty)>
                        I understand that all account users will be able to see financial information from any PAYE schemes I add.  
                    </label>
                </div>
            <button type="submit" class="button button-start" id="start">Start</button>
        </form>
    </div>
</div>