@if (TempData.Keys.Contains("ErrorMessage"))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-danger  ">
                @TempData["ErrorMessage"]
                or you can go back to the <a href="/">Service Home</a> page.
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Register your apprenticeship account</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <p>
            Use this service to:
            <ul class="list-bullet">
                <li>create an apprenticeship account</li>
                <li>associate PAYE schemes with the apprenticeship account</li>
                <li>give the apprenticeship account a name</li>
            </ul>
        </p>

        <h2 class="heading-medium">Before you start</h2>

        <p>
            You need:
            <ul class="list-bullet">
                <li>the email you use at work</li>
                <li>Government Gateway ID</li>
                <li>the PAYE schemes you want to link to the apprenticeship account</li>
            </ul>
        </p>
        <form method="POST" action="employeraccount/index">
            <input type="hidden" name="accepted" value="true"/>
            <button type="submit" class="button button-start">Start</button>
        </form>
    </div>
</div>
