@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Domain.Models.HmrcLevy.HmrcTokenResponse>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirm PAYE Scheme</h1>


        <p>The response from HMRC Government Gateway was not expected.</p>


        <a class="" id="start_again" href="@Url.Action("Index", "EmployerAccount")">Start Again</a>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="/" class="back-link">Back to Your User Profile</a></li>
        </ol>
    </div>
}