@{ViewBag.Title = "Search for your organisation"; }
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Enter Companies House number</h1>
        <p>Use the Companies House number for an organisation that your apprentices will be employed through.</p>
        <p><a href="https://beta.companieshouse.gov.uk/" rel="external" target="_blank">Find my Companies House number</a></p>
            <form method="POST" action="@Url.Action("SelectEmployer")">
                <div class="form-group @(TempData["companyNumberError"] != null ? "error" : "")">
                    @Html.AntiForgeryToken()

                    <label class="form-label" for="EmployerRef">Companies House number</label>

                    @if (TempData["companyNumberError"] != null)
                    {
                        <legend>
                            <span class="error-message">@TempData["companyNumberError"]</span>
                        </legend>
                    }
                    <input class="form-control form-control-3-4" id="EmployerRef" name="EmployerRef" type="text"
                           aria-required="true"/>
                </div>
                <button type="submit" class="button" id="submit">Continue</button>
            </form>     
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="/" class="back-link">Back to Your User Profile</a></li>
        </ol>
    </div>
}