<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c" />
  </configSections>
  <appSettings>
    <add key="ConfigurationStorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="EnvironmentName" value="LOCAL" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="UseDevelopmentStorage=true" />
    <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="das-employeraccounts-messagehandlers" />
    <variable name="simplelayout" value="${longdate} [${uppercase:${level}}] [${logger}] - ${message} ${onexception:${exception:format=tostring}}" />
    <targets>
      <target xsi:type="Console" name="Console" layout="${simplelayout}" />
      <target xsi:type="File" name="File" fileName="${basedir}/logs/${appName}.${shortdate}.log" layout="${simplelayout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Console, File" />
    </rules>
  </nlog>
</configuration>
