
@{
    ViewBag.Title = "Your transactions explained";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your transactions explained</h1>
        <p>You will see a larger combined payment taken from your account on the 9th October. There has been a delay to the payment that was due in September, so we are now going to take both payments together on October 9th.</p>
        <p>We are delaying the expiry of funds due in September until after the combined payment leaves your account.</p>
        <p>To help you understand your payments this month, we have provided an example below.</p>
    </div>
</div>

<p class="lede responsive-detail">This example is for illustrative purposes only.</p>

<h2 class="heading-medium">September 2019</h2>

<table class="small responsive">
    <thead>
        <tr>
            <th scope="col" class="tw-20">Payment date</th>
            <th scope="col" class="tw-20">Description</th>
            <th scope="col" class="tw-10 numeric">Amount</th>
            <th scope="col" class="tw-50">Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Payment date">22 Aug 2019</td>
            <td data-label="Description">Levy credit</td>
            <td data-label="Amount" class="numeric">&pound;xxxxx.xx</td>
            <td data-label="Explanation">Levy account credited</td>
        </tr>
        <tr>
            <td data-label="Payment date">6 Sep 2019</td>
            <td data-label="Description">No levy debit</td>
            <td data-label="Amount" class="numeric">&pound;xxxxx.xx</td>
            <td data-label="Explanation">No levy debit in September, for August payments</td>
        </tr>
        <tr>
            <td data-label="Payment date">17 Sep 2019</td>
            <td data-label="Description">Possible levy debit</td>
            <td data-label="Amount" class="numeric">&pound;xxxxx.xx</td>
            <td data-label="Explanation">Any final provider adjustments relating to the 18/19 academic year</td>
        </tr>
    </tbody>
</table>

<h2 class="heading-medium">October 2019</h2>

<table class="small responsive">
    <thead>
        <tr>
            <th scope="col" class="tw-20">Payment date</th>
            <th scope="col" class="tw-20">Description</th>
            <th scope="col" class="tw-10 numeric">Amount</th>
            <th scope="col" class="tw-50">Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Payment date">22 Sep 2019</td>
            <td data-label="Description">Levy credit</td>
            <td data-label="Amount" class="numeric">&pound;xxxxx.xx</td>
            <td data-label="Explanation">Levy account credited</td>
        </tr>
        <tr>
            <td data-label="Payment date">9 Oct 2019</td>
            <td data-label="Description">Levy credit</td>
            <td data-label="Amount" class="numeric">&pound;xxxxx.xx</td>
            <td data-label="Explanation">Debit in October for August &amp; September payments together</td>
        </tr>
    </tbody>
</table>
