<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions xdt:Transform="Insert">
      <add assembly="SFA.DAS.NLog.Targets.Redis" />
    </extensions>
    <targets>
      <target xsi:type="Redis" name="Redis" appName="${appName}" environmentKeyName="EnvironmentName" connectionStringName="LoggingRedisConnectionString" includeAllProperties="true" layout="${message}" xdt:Transform="Insert" />
    </targets>
    <rules>
      <logger minlevel="Info" writeTo="Redis" xdt:Transform="SetAttributes" />
    </rules>
  </nlog>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="SetAttributes(errorMode, existingResponse)" />
  </system.webServer>
</configuration>