.agreement {
    overflow: hidden;
    header {
        font-weight: 400;
        text-transform: none;
        @include core-19;
        color: #fff;
        background: $govuk-blue;
        padding: 30px 30px 10px;
        margin-top: 15px;
        margin-bottom: 30px;
        @include media(tablet) {
            margin-bottom: 60px;
        }
        
        h1 {
            @include bold-48;
            margin-top: 15px;
            margin-bottom: 5px;
            @include media(tablet) {
                margin-top: 45px;
            }
        }
        .context {
          
            @include core-24;
            line-height: 1.4em;
            @include media(tablet) {
               
            }
        }
        h2 {
            @include bold-19;
        }
        nav {
            margin-bottom: 30px;
        }
        ol {
            padding-left: 30px;
        }
    }
    .headings {
        margin-bottom: 30px;
    }
    a.background {
        margin-top: 10px;
        margin-left: 30px;
        display: inline-block;
        font-weight: normal;
        color: white;
        text-decoration: none;
    }
    ol {
        li {
            list-style: decimal;
            font-weight: bold;
        }
        a {
            font-weight: normal;
            color: white;
            text-decoration: none;
            &:hover, 
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }
    .agreement-contents {
        @include media(tablet) {
            width: 75%;
            float: right;
        }
        h2 {
            font-size: 24px;
            margin-top: 30px;
            font-weight: bold;
            position: relative;
            @include media(tablet) {
                margin-bottom: 40px;
                .number {
                    font-size: 60px;
                    line-height: 1;
                    position: absolute;
                    left: -33%;
                    width: 33%;
                    @include media(desktop) {
                        font-size: 80px;
                        padding-left: 5%;
                        width: 28%;
                    }
                }
            }
        }
        h3 {
            font-weight: bold;
            color: $grey-1;
            @include media(tablet) {
                font-size: 24px;
                line-height: 1;
                position: absolute;
                margin-left: -60px;
                padding-top: 5px;
            }
        }
        ol li {
            font-weight: normal;
        }
        li .list {
            padding-left: 30px;
        }
        .list.letters {
            li {
                list-style: lower-alpha;
            }
        }
        .list.roman {
            li {
                list-style: lower-roman;
            }
        }
    }
}

#publication-banner {
    .download {
        margin-top: 15px;
        display: inline-block;
    }

}

@include media(tablet) {
    #publication-banner {
        display: table;
        width: 100%;
        margin-left: 0;
        .column-third {
            padding-left: 0;
        }
        .column-third, 
        .column-two-thirds {
            display: table-cell;
            float: none;
        }
        .column-two-thirds {
            vertical-align: bottom;
            text-align: right;
            padding-right: 0;
        }
    }
}

.agreement-parties {
    address.party {
        @include media(tablet) {
            margin-top: 45px;
            margin-bottom: 45px;
        }
    }
}

.signed-agreement {
    .attachment {
        position: relative;
        margin: 0;
        padding: 15px 0 0 129px;
        .attachment-thumb {
            position: relative;
            float: left;
            margin-top: 5px;
            margin-left: -124px;
            padding-bottom: 15px;
            img {
                display: block;
                width: 99px;
                height: 140px;
                background: #fff;
                outline: 5px solid rgba(11,12,12,0.1);
                -webkit-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
                -moz-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
                box-shadow: 0 2px 2px rgba(11,12,12,0.4);
            }
        }
        .attachment-details {
            h2 {
                text-transform: none;
                font-size: 20px;
                line-height: 1.1;
                margin: 0;
                @include media(tablet) {
                    font-size: 27px
                }
            }
            .metadata {
                text-transform: none;
                font-size: 12px;
                line-height: 1.25;
                margin: 10px 0;
                @include media(tablet) {
                    font-size: 14px;
                }
            }
        }
    }
}

.legal-warning {
    @include bold-19;
    position: relative;
    padding-left: 50px;
    margin: 30px 0;
    .icon {
        @include icon(icon-important, 35, 35, '../../dist/images');
        position: absolute;
        top: 5px;
        left: 0;
    }
}

/* PDF */
#layout-agreement {
    * {
        overflow: visible;
    }
    margin: 0;
    background: white;
    color: black;
    .grid-row {
        margin: 0;
    }
    .column-full {
        padding: 0;
    }
    #content {
        margin: 0;
    }
    .agreement {
        header {
            background: none;
            padding: 0;
            margin: 0;
        }
        #contents {
            display: block;
            h2 {
                display: none;
            }
            a {
                color: black;
                cursor: text;
            }
            ol {
                list-style: decimal;
                color: black;
            }
        }
        p.updated {
            margin-bottom: 0;
        }
  
        .headings {
            margin: 0;
            border: 5px solid $govuk-blue;
            padding: 20px;
            margin: 30px 0;
            background: white;
            color: black;
        }

        .agreement-contents { 
           padding-left: 50px;
           h2 {
               clear: left;
               border-top: 1px solid white;
               margin-left: -45px;
               
               .number {
                   display: inline-block;
                   width: 35px;
                   margin-left: -40px;
               }
           }
           h3 {
                margin: 0 0 0 -40px;
                position: relative;
                bottom: -20px;
                color: black;
           }
           h2, p {
               margin: 0 0 10px;
           }
           h2 {
               margin-left: -45px;
               margin-bottom: 0;
               margin-top: 40px;
               padding-left: 45px;
           }
          
           p span.point {
               font-weight: bold;
                color: green;
               
                width: 30px;
                display: block;
                margin-bottom: -1.3em;
                margin-left: -40px;
                padding-top: 5px;
           }
           h3 {
              
           }
        }        
    }
    table.sign-agreement {
        th {
            width: 30%;
        }
        td {
            width: 70%;
        }
        span.table-address {
            display: inline-block;
            max-width: 100%;
            min-height: 125px;
            word-wrap: break-word;
        }
    }
    .back-to-contents {
        display: none;
    }
}
