.agreement {
    overflow: hidden;
    header {
        font-weight: 400;
        text-transform: none;
        @include core-19;
        color: #fff;
        background: $govuk-blue;
        padding: 30px 30px 10px;
        margin-top: 15px;
        margin-bottom: 30px;
        @include media(tablet) {
            margin-bottom: 60px;
        }
        .context {
            margin-bottom: 10px;
            @include core-24;
            @include media(tablet) {
                margin-top: 45px;
            }
        }
        h1 {
            @include bold-48;
            margin-bottom: 15px;
            @include media(tablet) {
                margin-bottom: 45px;
            }
        }
        h2 {
            @include bold-19;
        }
        nav {
            margin-bottom: 30px;
        }
        ol {
            padding-left: 30px;
        }
    }
    .headings {
        margin-bottom: 30px;
    }
    ol {
        li {
            list-style: decimal;
            font-weight: bold;
        }
        a {
            font-weight: normal;
            color: white;
            text-decoration: none;
            &:hover, 
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }
    .agreement-contents {
        @include media(tablet) {
            width: 75%;
            float: right;
        }
        h2 {
            font-size: 24px;
            margin-top: 30px;
            font-weight: bold;
            position: relative;
            @include media(tablet) {
                margin-bottom: 40px;
                .number {
                    font-size: 60px;
                    line-height: 1;
                    position: absolute;
                    left: -33%;
                    width: 33%;
                    @include media(desktop) {
                        font-size: 80px;
                        padding-left: 5%;
                        width: 28%;
                    }
                }
            }
        }
        h3 {
            font-weight: bold;
            color: $grey-1;
            @include media(tablet) {
                font-size: 24px;
                line-height: 1;
                position: absolute;
                margin-left: -60px;
                padding-top: 5px;
            }
        }
        ol li {
            font-weight: normal;
        }
        li .list {
            padding-left: 30px;
        }
        .list.letters {
            li {
                list-style: lower-alpha;
            }
        }
        .list.roman {
            li {
                list-style: lower-roman;
            }
        }
    }
}

#publication-banner {
    .download {
        margin-top: 15px;
        display: inline-block;
        @include media(tablet) {
            text-align: right;
        }
    }
}

.agreement-parties {
    address.party {
        @include media(tablet) {
            margin-top: 45px;
            margin-bottom: 45px;
        }
    }
}

.signed-agreement {
    .attachment {
        position: relative;
        margin: 0;
        padding: 15px 0 0 129px;
        .attachment-thumb {
            position: relative;
            float: left;
            margin-top: 5px;
            margin-left: -124px;
            padding-bottom: 15px;
            img {
                display: block;
                width: 99px;
                height: 140px;
                background: #fff;
                outline: 5px solid rgba(11,12,12,0.1);
                -webkit-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
                -moz-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
                box-shadow: 0 2px 2px rgba(11,12,12,0.4);
            }
        }
        .attachment-details {
            h2 {
                text-transform: none;
                font-size: 20px;
                line-height: 1.1;
                margin: 0;
                @include media(tablet) {
                    font-size: 27px
                }
            }
            .metadata {
                text-transform: none;
                font-size: 12px;
                line-height: 1.25;
                margin: 10px 0;
                @include media(tablet) {
                    font-size: 14px;
                }
            }
        }
    }
}

/* PDF */
#layout-agreement {
    margin: 0;
    background: white;
    color: black;
    #content {
        margin: 0;
    }
    .agreement {
        header {
            background: none;
            padding: 0;
            margin: 0;
        }
        #contents {
            display: none;
        }
        p.updated {
            margin-bottom: 0;
        }
  
        .headings {
            margin: 0;
            border: 5px solid $govuk-blue;
            padding: 20px;
            margin: 30px 0;
            background: white;
            color: black;
        }
        
    }
    table.sign-agreement {
        th {
            width: 30%;
        }
        td {
            width: 70%;
        }
        span.table-address {
            display: inline-block;
            max-width: 100%;
            min-height: 125px;
            word-wrap: break-word;
        }
    }
    .back-to-contents {
        display: none;
    }
}
