.agreement {
    overflow: hidden;
    header {
        font-weight: 400;
        text-transform: none;
        @include core-19;
        color: #fff;
        background: #2b8cc4;
        background: $light-blue;
        padding: 30px 30px 10px;
        margin-top: 15px;
        margin-bottom: 30px;
        @include media(tablet) {
            margin-bottom: 60px;
        }
        .context {
            margin-bottom: 10px;
            @include core-24;
            @include media(tablet) {
                margin-top: 45px;
            }
        }
        h1 {
            @include bold-48;
            margin-bottom: 15px;
            @include media(tablet) {
                margin-bottom: 45px;
            }
        }
        h2 {
            @include bold-19;
        }
        nav {
            margin-bottom: 30px;
        }
        ol {
            padding-left: 30px;
        }
    }
    .headings {
        margin-bottom: 30px;
    }
    ol {
        li {
            list-style: decimal;
            font-weight: bold;
        }
        a {
            font-weight: normal;
            color: white;
            text-decoration: none;
            &:hover, 
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }
    .agreement-contents {
        @include media(tablet) {
            width: 75%;
            float: right;
        }
        h2 {
            font-size: 24px;
            margin-top: 30px;
            font-weight: bold;
            position: relative;
            @include media(tablet) {
                margin-bottom: 40px;
                .number {
                    font-size: 60px;
                    line-height: 1;
                    position: absolute;
                    left: -33%;
                    width: 33%;
                    @include media(desktop) {
                        font-size: 80px;
                        padding-left: 5%;
                        width: 28%;
                    }
                }
            }
        }
        h3 {
            font-weight: bold;
            color: $grey-1;
            @include media(tablet) {
                font-size: 24px;
                line-height: 1;
                position: absolute;
                margin-left: -60px;
                padding-top: 5px;
            }
        }
    }
}