.validation-summary-valid,
.form-group .field-validation-valid {
    display: none;
}
b,
strong {
    font-weight: 600;
}
main .column-one-third .spacer {
    margin-top: 60px;
    float: right;
}
details .summary {
    cursor: pointer;
}
.form-group .trainingProvider,
.form-group .apprenticeGroupName,
.form-group .input-validation-error {
    margin-left: 0;
}
.error .form-control {
    padding: 4px;
}
textarea#Message {
    width: 100%;
}
.column-one-third .finishEditingBtn {
    margin-top: 3.35em;
}
.spacerConfirmProvider {
    margin-top: 50px;
}
.spacerConfirmProvider .form-label-bold {
    margin-bottom: 15px;
}
.instructionSent td {
    width: 25%;
}
.instructionSent td.strong {
    font-weight: bold;
    width: 75%;
}
.strong {
    font-weight: bold;
}
.govuk-box-highlight .heading-xlarge {
    margin: 0 0 10px;
}
.field-validation-error {
    font-size: 19px;
    line-height: 1.31579;
    clear: both;
    color: #b10e1e;
    display: block;
    margin: 0;
    padding: 2px 0;
    text-transform: none;
    font-weight: 700;
}
.emptyStateAlert {
    background-color: #eaf4f9;
    border-left: 8px solid #2b8cc4;
    margin: 0 auto;
    min-height: 110px;
    width: 85%;
}
.emptyStateCopy {
    padding-top: 40px;
    text-align: center;
}
.emptyStateCopyDetails {
    padding-top: 25px;
    text-align: center;
}
.emptyStateButton {
    margin-top: 30px;
}
.finishEditingBtn {
    float: right;
}
.reviewApprove {
    p {
        margin-bottom: 0.25em;
    }
    .trainingProvider {
        font-weight: bold;
        text-decoration: underline;
        font-size: 20px;
    }
    .deleteRequest {
        float: right;
        margin-bottom: 1.25em;
    }
    hr {
        clear: both;
    }
}
a.links {
    margin-top: 30px;
    display: block;
}
#instructions-sent-end {
    aside {
        margin-top: 10px;
    }
}
span.helpText {
    color: #6f777b;
    display: block;
    clear: both;
}
.trainingCost {
    width: 25%;
}
.employer-details p {
    margin-bottom: 5px;
}
.column-two-thirds .green-box {
    margin-top: 50px;
}
.form-date {
    input#StartYear, input#EndYear {
        width: 60px;
    }
}
.form-group {
    input#Cost {
        width: 200px;
    }
}
//dropdown styles
.select2-container--default {
    .select2-selection--single {
        border: 2px solid $black;
        border-radius: 0;
        height: 37px;
    }
    .select2-dropdown {
        border: 2px solid $black;
        border-radius: 0;
        border-top: 1px solid $black;
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: #ddd;
        color: #000;
    }
}
//adding focus to span element using jquery in dropdown.js file 
.form-group {
    .select2-selection--single:focus {
        outline: 3px solid #ffbf47;
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered:focus,
.select2-container--default .select2-selection--single:focus,
.select2-container:focus {
    outline: 3px solid #ffbf47;
    height: 37px;
}
// select box arrow/border color/spacing
.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 3px;
    color: $black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}
.select2-container--default .select2-selection--single {
    border: 2px solid $black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: $black transparent;
}

#app-status{
    td{
        border-top:1px solid $border-colour;
    }
}

table, h2 {
    .float-right{
        float:right;
        font-weight:normal;
    }
}

#confirm-edited-changes,
#view-changes{
    .changed-item{
        font-weight:bold;
    }
}



//all mobile media query breakpoints
//==================================
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
    // select box mobile fix
    .select2-container--default {
        width: 100% !important;
        .select2-selection--single .select2-selection__rendered {
            width: 200px !important;
        }
    }
    #instructions-sent-end {
        aside {
            margin-top: 30px;
        }
    }
    .finishEditingBtn {
        margin-top: 0px;
    }
    /* Force table to not be like tables anymore */
    
    table.tableResponsive,
    .tableResponsive thead,
    .tableResponsive tbody,
    .tableResponsive th,
    .tableResponsive td,
    .tableResponsive tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    
    .tableResponsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .tableResponsive tr {
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }
    .tableResponsive td {
        /* Behave  like a "row" */
        
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        font-weight: bold;
    }
    .tableResponsive td:before {
        /* Now like a table header */
        
        position: absolute;
        /* Top/left values mimic padding */
        
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .finishEditingBtn {
        margin-left: 0px;
        margin-top: 20px;
    }
    /*
	Label for the data
	*/
    
    .viewCommitment td:nth-of-type(1):before {
        content: "Apprentice";
        font-weight: normal;
        margin-top: 5px;
        min-height: 30px;
    }
    .viewCommitment td:nth-of-type(2):before {
        content: "Training course";
        font-weight: normal;
        margin-top: 5px;
    }
    .viewCommitment td:nth-of-type(3):before {
        content: "Training dates";
        font-weight: normal;
        margin-top: 5px;
    }
    .viewCommitment td:nth-of-type(4):before {
        content: "Cost";
        font-weight: normal;
        margin-top: 5px;
    }
    .cohort td:nth-of-type(1):before {
        content: "Training provider";
        font-weight: normal;
        margin-top: 5px;
    }
    .cohort td:nth-of-type(2):before {
        content: "Organisation";
        font-weight: normal;
        margin-top: 5px;
    }
    .cohort td:nth-of-type(3):before {
        content: "Cohort reference";
        font-weight: normal;
        margin-top: 5px;
    }
    .cohort td:nth-of-type(4):before {
        content: "Status";
        font-weight: normal;
        margin-top: 5px;
    }
    .levyAccountsListing td:nth-of-type(1):before {
        content: "Account name";
        font-weight: normal;
        margin-top: 5px;
    }
    .levyAccountsListing td:nth-of-type(2):before {
        content: "What you can do";
        font-weight: normal;
        margin-top: 5px;
    }
    .orgListing td:nth-of-type(1):before {
        content: "Name";
        font-weight: normal;
        margin-top: 5px;
    }
    .orgListing td:nth-of-type(2):before {
        content: "Agreement status";
        font-weight: normal;
        margin-top: 5px;
    }
    .tasksList td:nth-of-type(1):before {
        content: "Created on";
        font-weight: normal;
        margin-top: 5px;
    }
    .tasksList td:nth-of-type(2):before {
        content: "Name";
        font-weight: normal;
        margin-top: 5px;
    }
    .tasksList td:nth-of-type(3):before {
        content: "Status";
        font-weight: normal;
        margin-top: 5px;
    }

    //manage all apprentices
      #manage-all-apprentices td:nth-of-type(1):before {
        content: "Name";
        font-weight: normal;
        margin-top: 5px;
        min-height: 30px;
    }
        #manage-all-apprentices td:nth-of-type(2):before {
        content: "Date of birth";
        font-weight: normal;
        margin-top: 5px;
    }
        #manage-all-apprentices td:nth-of-type(3):before {
        content: "Status";
        font-weight: normal;
        margin-top: 5px;
    }
       #manage-all-apprentices td:nth-of-type(4):before {
        content: "Alerts";
        font-weight: normal;
        margin-top: 5px;
    }


} // mobile view ends