
@mixin green-tick {
    background:url(/dist/images/icon-green-tick.png) no-repeat 0 -4px;
    width: 30px;
    height: 22px;
    margin-left: -2px;
    margin-right: 10px;
    display: inline-block;
    float: left;
}

// custom to overwrite the GDS defaults
.hr-double {
    border-bottom: 4px solid $grey-2;
    margin-bottom: 20px;
}
.hr-top {
    margin-bottom: 20px;
}
.hr-bottom {
    margin-top: 20px;
}
// add apprentice entry
#add-apprentice-entry,
#edit-apprentice {
    hr {
        margin-top: 0;
        margin-bottom: 22px;
    }
}
.button.text-link {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    color: $link-colour;
    text-decoration: underline;
}
.alert-default {
    background-color: $light-blue-25;
    border-color: $light-blue;
}

//validation styles
.missingForApproval{
    	border-left: 5px solid $error-colour;
	    padding-left:15px;

    .form-label-bold{
	    color:$error-colour;
    }
}

.cant-approve{     
    .panel{
	    border-color:$error-colour;
	    color:$error-colour;     
        p {
            font-weight:bold;
            font-size:19px;
        }
    }
}



#apprentice-details{
     .flash-alert{
        border-color: $turquoise;
        background: mix(white, $turquoise, 90%);
        .icon-green-tick{
            @include green-tick;
        }
    }
    .apprentice-count-heading{
        margin-top:4.5em;
        @include media(tablet) {margin-top:1.875em;}
    }
    #empty-alert-top{margin-top:30px;}
    .finishEditingBtn{
        float:none;
        margin-bottom:3px;
        margin-right:10px;
    }
}

.form-group {
    #StartDate_Month,
    #EndDate_Month{
        width:40px;
    }   
    #StartDate_Year,
    #EndDate_Year{
        width:60px;
    }
}
.tableResponsive{
     td{font-size:16px;}   
}

//review cohorts page styles
#review-cohorts{
    .heading-small{font-size:24px;}
    color:#fff;
    margin:30px 0;
    .all-apps{
        background:#2e3391;
        padding:20px;
        margin:20px 0;       
         @include media(tablet) {
            margin:auto;
            width:31%;
            
            }
    }
    .incomplete-apps{
        background:#8e2a8d;
        padding:20px;
        margin-bottom:20px;     
        @include media(tablet) {
            margin:auto;            
            margin-left:3.3333%;
            width:31%;
            }
    }
    .total-cost{
        background:#d03a84;
        padding:20px;
        margin-bottom:30px;      
        @include media(tablet) {
            margin:auto;
            margin-left:3.3333%;
             width:31%;
            }
    }

}


//cohors summary block styles
.js-enabled{
    .clickable{cursor:pointer;}
}
#cohorts-landing-page{
    .heading-small{font-size:24px;}
    .bingo-background{
            background:#2e358b;
            color:#fff; 
            margin-bottom: 20px;
            padding: 10px 15px;
            
           
              @include media(tablet) {
                    min-height:210px;
                    width:48%;
                    padding: 0 15px;
              }
              h2{margin-top:20px;
                 a{
                     text-decoration:none;
                     color:#fff;
                 }
              }
              .heading-small{margin-bottom:20px;}
        }
 
  .block-one, .block-two{
       @include media(tablet) {
            margin-bottom:30px;
            }
  }

  .block-one,.block-three{
       @include media(tablet) {
      margin-right:2%;
      }
  }
  .block-two, .block-four{
     @include media(tablet) {
      margin-left:2%;
      }
  }
}

//delete cohort
#apprentice-details,
#edit-apprentice{
     .delete-button{
        background-color:$error-colour;
        float:right;
        margin:15px 0;
        @include media(tablet){margin:auto;}
        }
}

.grid-row{
    .flash-alert{
        border-color:$turquoise;
        background: mix(white, $turquoise,90%);
        .icon-green-tick{
            @include green-tick;
        }
    } 
}

#agreement-not-signed{
    .notice{
        margin:60px 0;
        .icon-important{
            background-image: url('/dist/images/icon-important.png');
            top:13%;
        }
    }
}
 
.grey-background,
.funding-cap-notification{
    background:$panel-colour;
    padding:20px 20px 10px;  
    .heading-medium{margin-top:10px;}  
}
.bubble-arrow{    
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid $panel-colour;
    content: "";
    float: right;
    margin-right: 75px;
    }
.overlap-arrow{    
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid $panel-colour;
    content: "";
    float: right;
    margin-right:180px;
    @include media(tablet) {margin-right: 320px;} 
    }
.funding-cap-alert{
    border-left:10px solid $govuk-blue;
          a{
                text-decoration:none;
                color:$text-colour;
            }    
}
.funding-cap-alert-td{
     border-bottom:5px solid $govuk-blue;
      a{
                text-decoration:none;
                color:$text-colour;
            }    
}
#add-provider-reference{
    .ukprn-help{
        margin-bottom:30px;
    }
}

#service-help{
    margin-top:30px;
}

// safari on mac icon bug on input fields fix
body {
    input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  }
}

#apprentice-details{
    .overlap-notification{
        border-left:10px solid $red;
    }
}

.overlap-alert{
      border-bottom: 5px solid $red;
    a{
        text-decoration:none;
        color:$text-colour;
    }
}
#finish-editing{
    .alert-default{
        border-color:$purple;
        .heading-medium{
            font-size:24px;
        }
    }
}

.validation-summary-max-funding{
    border-color:$purple;
    #warning-summary{
        margin-top:0;
    }
 }

//character count error
.form-group {
    .limit-reached{
        color:$error-colour;
        font-weight:bold;
      
    }
}
  #apprentice-stopped{ 
    .apprentice-to-stop{
        margin-top:30px;
        margin-bottom:40px;      
    }
    .stopped-flash-message{
        border-color:$turquoise;
    }
}

 #charCount{
     margin-bottom:0;
  }


 h2{     
  .float-right{font-size:19px;}
 } 

#review-cohorts{ 
    .column-one-third{
         @include media(tablet) {height:190px;}
    }
    .all-apps{
        h2.bold-xlarge{
             @include media(tablet) {font-size:80px;}
        }
    }
    .incomplete-apps{
        h2.bold-xlarge{
             @include media(tablet) {font-size:80px;}
        }
     }
}

.purple-border{
    border:5px solid $purple;
    margin-bottom: 20px;
    padding: 20px;
}


//dynamic-class-mobile-views
.dynamic-cost-display{
    .bold-xlarge{     
          line-height: 82px;
           @include media(tablet) { font-size:80px;}
        
    }
     @include media(tablet) { 
       
       .short{
             font-size:67px;
       }
      .long {
            font-size: 48px;
            line-height: 82px;
        }
        .longer {
            font-size: 38px;
            line-height: 82px;
        }
    }

}


// payment order styles
#order-payment{
    margin:30px 0 40px 20px;
    li{
       list-style-type:decimal;
       margin-bottom:20px;
        .provider-list{
            width:350px;
            
        }
    }
}

.updated-alert{
    padding:20px 15px 15px;
    border:5px solid $turquoise;
}

/*Email notification settings*/
#notification-settings{
    .alert-default {
        background: $panel-colour;
        margin-bottom:40px;
        p{font-weight:bold;}
    }

    h1{
        margin-bottom:0;
    }
    table{
        margin-bottom:40px;
    }
    .notification-row{
        padding:20px 0 30px 0;
    }
}

//start -- Apprentice Filter Styles
.filter-option-select 
{ 
    margin-bottom: 30px;
    background-color:$panel-colour;
    padding: 5px;
        .container-head {
            padding-left: 5px;
            background: url(/dist/css/images/option-select-toggle-sprite.png) no-repeat right 5px;
            cursor: pointer;
            display: block;
            position: relative;
            }
        .option-select-label{
            margin-right: 40px;
            font-weight: bold;
            padding: 5px;
            text-transform:none;
            display: block;
            margin-top: 0;
            }
        .options-container {
            position: relative;
            background-color: #fff;          
            height:200px; //container height
            overflow:auto;
            .item{ border-bottom: 1px solid #bfc1c3; } //// wrap labels per item for borders
                label{
                    font-size: 16px;
                    line-height: 1.25; 
                    padding-right: 10px;
                    display:block;  
                    font-weight: 400;
                    text-transform: none;  
                    padding: 7px 0 7px 2px;                   
                    cursor: pointer;       
                    margin-left:20px; // wrap labels         
                    }
                  input{
                    margin-left:-16px; // wrap labels
                }
            }
          .showHide {
             background: url(/dist/css/images/option-select-toggle-sprite.png) no-repeat;
             background-position: right -77px;
             cursor: pointer;
             display: block;
             position: relative; 

            }
            .hideOptions {
                display: none; 
            }
}

#manage-all-apprentices {
    .tableResponsive{
        th{font-size:16px;}
    }
    .reset-link{
        padding-left:0;
        margin-top:10px;
    }
    li{
       list-style-type:none;
       margin-bottom:10px;
    
    }
}



#edit-apprentices-detail{
      hr{margin-top:0;}
    .optional-ref{
        margin-bottom:0;
    }
    .end-point-assessment{
      

    }
}

//datalock styles
#review-datalock-changes{ 
    h2.heading-small{margin-top:40px;}
    .core-detail{
        margin-bottom:30px;
       
           td.first-child{
            border-top:1px solid $grey-2;
        }
    }
    .changes{
        .current{
            font-size:16px;
            vertical-align:middle;
        }
        .changed{font-weight:bold;}
    }
    #approve-changes{
        a.break-line{
            clear: both;
            display: block;
            padding-left: 0;
            margin-top: 20px;
        }
    }
}
//edit-started-apprentice
#edit-started-apprentice{
    .approve-alert{   
        margin-top:30px;
            .alert-blue{border-color:$link-hover-colour;}
    }
    .last-child{
        margin-bottom:0px;
    }
    strong{
        font-weight:bold;
    }
}



// pagination 
#manage-all-apprentices{
.previous-next-navigation {
  padding-left: 0;
  position: relative;
  overflow: hidden;
  margin: 60px 0 0;
  width: 100%; 
    li 
    {
      font-family: "nta", Arial, sans-serif;
      font-size: 20px;
      line-height: 1.11111;
      font-weight: 400;
      text-transform: none;
      font-size-adjust: 0.5;
      display: block;
      padding: 0;
      margin: 0;
      width: 50%;
      float: left; 
      a 
      {
      display: block;
      text-decoration: none; 
      font-size: 24px;
      line-height: 0.9em;
          span {
          display: block;
          font-family: "nta", Arial, sans-serif;
          font-size: 12px;
          line-height: 1.25;
          font-weight: 400;
          text-transform: none;
          font-size-adjust: 0.5; 
          }
          &:hover {
               background:$highlight-colour;
              .page-numbers {text-decoration: underline;}
          }
          &:focus{
               .page-numbers {text-decoration: underline;}
          }
      }
      
   }
    li.next 
    {
      float: right;
      text-align: right; 
          a {padding: 15px 35px 15px 0;}
          a:before {
          background: transparent url("/dist/css/images/pagination-arrow-sprite.png") no-repeat -102px -11px;
          margin: -4px -32px 0 0;
          display: block;
          float: right;
          width: 30px;
          height: 38px;
          content: " "; }
      }
    li.previous
        { 
        a{padding: 15px 0 15px 35px; }
        a:before 
        {
          background: transparent url("/dist/css/images/pagination-arrow-sprite.png") no-repeat -20px -11px;
          margin: -4px 0 0 -32px;
          display: block;
          float: left;
          width: 30px;
          height: 38px;
          content: " "; 
        }
        }
    }
}
// END -pagination styles


//all mobile media query breakpoints
//==================================
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {

#apprentice-details {
    .tableResponsive{
        margin-top:30px;
        .funding-cap-alert-td
            {
                border-left:10px solid $govuk-blue;
                background:#fff;
                  a{
                    text-decoration:none;
                    color:$text-colour;
                     cursor:pointer;
                }          
            }
        .overlap-alert
             {
                border-left:10px solid $error-colour;
                background:#fff;
                  a{
                    text-decoration:none;
                    color:$text-colour;
                    cursor:pointer;
                }          
              }
    }
    .finishEditingBtn{margin-bottom:20px;}
}  

.bubble-arrow,.overlap-arrow {display:none;} 
      
.manage-all-apprentices{
  td:nth-of-type(1):before {
        content: "Name";
        font-weight: normal;
        margin-top: 5px;
        min-height: 30px;
        }
        td:nth-of-type(2):before {
        content: "Date of birth";
        font-weight: normal;
        margin-top: 5px;
        }
        td:nth-of-type(3):before {
        content: "Satus";
        font-weight: normal;
        margin-top: 5px;
        word-wrap:break-word;
        } 
    }

.to-be-sent-list{
     td:nth-of-type(1):before {
        content: "Employer";
        font-weight: normal;
        margin-top: 5px;
        min-height: 30px;
        }
        td:nth-of-type(2):before {
        content: "Cohort reference";
        font-weight: normal;
        margin-top: 5px;
        }
        td:nth-of-type(3):before {
        content: "Last message";
        font-weight: normal;
        margin-top: 5px;
        word-wrap:break-word;
        } 
    }
}

