// custom to overwrite the GDS defaults
.hr-double {
    border-bottom: 4px solid $grey-2;
    margin-bottom: 20px;
}
.hr-top {
    margin-bottom: 20px;
}
.hr-bottom {
    margin-top: 22px;
}
// add apprentice entry
#add-apprentice-entry,
#edit-apprentice {
    hr {
        margin-top: 0;
        margin-bottom: 22px;
    }
}
.button.text-link {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    color: $link-colour;
    text-decoration: underline;
}
.alert-default {
    background-color: #eaf4f9;
    border-color: #2b8cc4;
}

//validation styles


.incompleted{

    .row-bg{
        background: $highlight-colour;
	    border-bottom: 2px solid $alpha-colour;
        border-top: 2px solid $alpha-colour;
    }

}

.missingForApproval{
    	border-left: 5px solid $alpha-colour;
	    padding-left:15px;

    .form-label-bold{
	    color:$alpha-colour;
    }

}

.cant-approve{ 
    
    .panel{
	    border-color:$alpha-colour;
	    color:$alpha-colour;
        
        p{
            font-weight:bold;
        }

        }
}





//mobile first approach needed later - using mixins
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
    #empty-alert-top .alert-default {
        margin-top: 50px;
    }
    #apprentice-details table.viewCommitment {
        margin-top: 50px;
    }
} // mobile view ends