// custom to overwrite the GDS defaults
.hr-double {
    border-bottom: 4px solid $grey-2;
    margin-bottom: 20px;
}
.hr-top {
    margin-bottom: 20px;
}
.hr-bottom {
    margin-top: 22px;
}
// add apprentice entry
#add-apprentice-entry,
#edit-apprentice {
    hr {
        margin-top: 0;
        margin-bottom: 22px;
    }
}
.button.text-link {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    color: $link-colour;
    text-decoration: underline;
}
.alert-default {
    background-color: $light-blue-25;
    border-color: $light-blue;
}

//validation styles
.missingForApproval{
    	border-left: 5px solid $error-colour;
	    padding-left:15px;

    .form-label-bold{
	    color:$error-colour;
    }

}

.cant-approve{ 
    
    .panel{
	    border-color:$error-colour;
	    color:$error-colour;
        
        p{
            font-weight:bold;
            font-size:19px;
        }

        }
}

#apprentice-details{
    .apprentice-count-heading{
        margin-top:4.5em;
        @include media(tablet) {margin-top:1.875em;}
    }

}


.form-group {
    #StartDate_Month,
    #EndDate_Month{
        width:40px;
    }
    
    #StartDate_Year,
    #EndDate_Year{
        width:60px;
    }
}

.tableResponsive{
     td{font-size:16px;}
    
}

//cohors summary block styles
.js-enabled{
    .clickable{cursor:pointer;}
}
#cohorts-landing-page{
  .bingo-background{
            background:#2e358b;
            color:#fff; 
            margin-bottom: 20px;
            padding: 10px 15px;
            
              @include media(tablet) {
                    min-height:160px;
                    width:48%;
                    padding: 0 15px;
              }
              h2{margin-top:20px;
                 a{
                     text-decoration:none;
                     color:#fff;
                 }
              }
              .heading-small{margin-bottom:20px;}
        }
 
  .block-one, .block-two{
       @include media(tablet) {
            margin-bottom:30px;
            }
  }

  .block-one,.block-three{
       @include media(tablet) {
      margin-right:2%;
      }
  }
  .block-two, .block-four{
     @include media(tablet) {
      margin-left:2%;
      }
  }
}
