.radios-inline {  
    @include media(tablet) {
        margin-left: 20px;
        h3 {
            margin-top: 0;
        }
        .block-label {
            display: inline-block;
            clear: none;
            margin-right: 5px;
            margin-bottom: 5px;
        }   
    }
 }