.govuk-box-highlight {
    padding: 1.8em 15px 1.5em;
    margin-bottom: 0;
    p {
        margin-bottom: 0;
    }
}

legend {
    margin-bottom: 10px;
}

.radios-inline {  
    @include media(tablet) {
        margin-left: 20px;
        h3 {
            margin-top: 0;
        }
        .block-label {
            display: inline-block;
            clear: none;
            margin-right: 5px;
            margin-bottom: 5px;
        }   
    }
    .error {
        clear: both;
    }
 }

.button-start {
    background-image: url('/dist/images/icon-pointer.png');
}

.button-secondary {
    @include button($grey-3);
}

.button-link {
    @extend .button;
    @include button($white);
    text-decoration:underline;
    color: $govuk-blue;
    @include box-shadow(0 2px 0 $white);
    @include ie-lte(8) {
        border-bottom: 2px solid $white;
    }
    &:link {
        color: $link-colour;
    }
    &:visited {
        color: $link-visited-colour;
    }
    &:hover, 
    &:focus {
        background: $white;
        color: $link-hover-colour;
    }
}

.link-button {
    padding: 0;
    color: $link-colour;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: inherit;
    cursor: pointer;
    &:hover, 
    &:focus {
        background: $white;
        color: $link-hover-colour;
    }
}

.search-results .link-button {
    text-align: left;
}

.form-group {
    form {
        display: inline-block;
    }
}

.search-field {
    position: relative;
    margin-bottom: 15px;
    fieldset {
        width: auto;
    }
    .search-input {
        padding: 0 50px 0 0;
        input {
            border-radius: 0;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 400;
            width: 100%;
            padding: 0 0 0 10px;
            display: block;
            height: 50px;
            border-color: $grey-2;
            border-right: none;
            line-height: 48px;
        }
        label {
            display: block;
        }
    }
    .search-submit {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 50px;
        overflow: visible;
        button {
            border-radius: 0;
            box-shadow: none;
            position: absolute;
            z-index: 4;
            right: 0;
            top: 0;
            width: 50px;
            height: 50px;
            border: none;
            overflow: hidden;
            text-indent: -5000px;
            color: #fff;
            background-color: $govuk-blue;
            background-image: url(/dist/images/icon-search.png);
            background-repeat: no-repeat;
            background-position: 12px 13px;
        }
    }
}

.search-results {
    li {
        margin-bottom: 10px;
    }
}