#unsupported-browser-message {
    padding: 15px 0;
    background: $light-blue-25;
    width: 100%;
    border-bottom: 1px solid $light-blue;
    p {
        margin: 0 15px;
        @include core-16;
        @include media(tablet) {
            margin: 0 30px;
        }
        @include media(1020px) {
            max-width: 960px;
            margin: 0 auto;
        }
    }
}

@include media(tablet) {
    #global-header.with-proposition .header-wrapper {
        .header-global {
            float: left;
            width: 33.33%;
        }
        .header-proposition {
            float: left;
            width: 66.66%;
            padding-top: 0;
        }
    }
}

#global-header .header-proposition #proposition-name {
    @include media(tablet) {
        margin-top: 5px;
        display: inline-block;
    }
}

.phase-banner {
    position: relative;
    margin-bottom: -1px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    @include media(tablet) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}


#global-header-bar {
    background: $grey-1;
}

.breadcrumbs {
    li {
        background-image:  url('/dist/images/separator.png');
    }
    a {
        font-size: 14px;
        @include media(tablet) {
            font-size: 16px;
        }
    }
    .link-back {
        margin: 0;
    }
}

.back-link {
    padding-left: 15px;
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
}

.govuk-box-highlight {
    padding-left: 10px;
    padding-right: 10px;
    a {
        color: $white;
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $white;
        }
    }
}


// Navigation

.header-inner {
    @extend main;
    margin-bottom: 0;
    font-size: 14px;
    @include media(tablet) {
        font-size: 19px;
    }
}

nav {
    ul {
        list-style: none;
        margin: 0;
    }
}

.header-user {
    background: $grey-4;
    border-top: 10px solid $govuk-blue;
    border-bottom: 1px solid $grey-2;
    h2 {
        margin: 10px 0;
    }
    @include media(tablet) {
        h2 {
            float: left;
        }
        #user-nav {
            float: right;
        }
    }
}

#user-nav {
    @include media(tablet) {
        font-size: 16px;
        margin: 5px 0;
    }
    > ul {
        margin-left: -15px;
        margin-right: -15px;
        > li {
            float: left;
            @include media(tablet) {
                border: none;
                float: left;
            }
            > a {
                color: $black;
                text-decoration: none;
              
            }
            ul {
                float: left;
            }
        }
    }
    a {
        padding: 12px 15px 10px;
        display: block;
        float: left;
        &:focus {
            outline:0;
        }
    }
}

.account-information {
    @extend %contain-floats;
    text-align: right;
}

.header-organisation {
    border-bottom: 1px solid $grey-1;
    font-size: 14px;
    ul {
        @extend %contain-floats;
        margin: 0 -15px;
        li {
            @include media(tablet) {
                float: left;
                width: 50%;
                font-size: 16px;
            }
            @include media(desktop) {
                width: auto;
            }
            @include media(1000px) {
                font-size: 19px;
            }
            a {
                padding: 12px 15px 10px;
                display: block;
                position: relative;
                &.selected {
                    text-decoration: none;
                    font-weight: 700;
                    color: $black;
                    &:after {
                        background: $govuk-blue;
                        bottom: -1px;
                        content: "";
                        display: block;
                        left: 0;
                        top: 0;
                        width: 5px;
                        position: absolute;
                        z-index: 0;
                        @include media(desktop) {
                            left: 15px;
                            right: 15px;
                            height: 5px;
                            top: auto;
                            width: auto;
                        }
                    }
                }
                &:focus {
                    outline:0;
                }
            }
        }
    }
}

.js-enabled {
    #user-nav {
        text-align: left;
        li, a, li ul {
            float: none;
        }
        > ul > li {
            @include media(tablet) {
                float: left;            
            }
        }
        &.close {
            display: none;
            @include media(tablet) {
                display: block;
            }
        }
        > ul > li > a {
            @include media(tablet) {
                border: 1px solid $grey-4;
            }
            z-index: 2;
        }
        li.has-sub-menu {
            position: relative;
            > a {
                // With arrow 
                position: relative;
                padding-left: 25px;
                &:before {
                    @include closed-arrow;
                }
            }
            &.open > a {
                background: $grey-4;
                border-color: $grey-2;
                border-bottom-color: $grey-4;
                &:before {
                    @include open-arrow;
                }
            }
            @include media(tablet) {
                ul {
                    position: absolute;
                    background: $grey-4;
                    width: 200px;
                    right: 0;
                    z-index: 1;
                    border: 1px solid $grey-2;
                    margin-top: -1px;
                    padding: 0 10px;
                    li:first-child {
                        border-top: none;
                    }
                }
            }
        } 
    }
}

.js-enabled { 
    .header-organisation  {
        ul {
            position: relative;
            li { 
                float: left;
                @include media(tablet) {
                    width: auto;
                }
                @include media(desktop) {
                    
                }
                @include media(1000px) {
                   
                }
                a.selected {
                    &:after {
                        left: 15px;
                        right: 15px;
                        height: 5px;
                        top: auto;
                        width: auto;
                    }
                }
                &.menu-link.sub-menu-open { 
                clear: left;
                width: 100%;
                    ul {
                        li {
                            border-top: 1px solid $grey-3;
                             a.selected {
                                &:after {
                                    left: 0;
                                    right: auto;
                                    height: auto;
                                    width: 5px;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



li.menu-link {
    ul {
        display: none;
    }
    &.sub-menu-open ul {
        display:block;
        margin: 0;
        
        li {
            display: block;
            float:none;
            a {
                display: block;
            }
        }
    }

}

.header-organisation ul li.menu-link > a {
    position: absolute;
    padding-left: 25px;
    right: 0;
    top: 0;
    &:before {
        @include closed-arrow;
    }
}

.header-organisation ul li.menu-link.sub-menu-open > a {
    &:before {
        @include open-arrow;
    }
}

#page-onboard-companies-house {
    .govuk-box-highlight {
        display: none;
    }
}

a#link-settings {
    display: none;
    position: relative;
    padding: 8px 15px 6px 25px;
    margin: 5px -15px 5px 5px;
    clear: both;
    color: $black;
    text-decoration: none;
    &:before {
        @include closed-arrow;
    }
    &.open {
        &:before {
            @include open-arrow;
        }
    }
    &:focus {
        outline: 0;
    }
}


.js-enabled {  
    a#link-settings {
        display:inline-block;
        @include media(tablet) {
            display: none;
        }
    }
}

.sfa-logo {
    border-left: 2px solid $department-for-education;
    padding-top: 20px;
    padding-left: 6px;
    background: url(/dist/images/org_crest_13px.png) no-repeat 5px 0;
    @include media(tablet) {
        padding-top: 30px;
        padding-left: 7px;
        background: url(/dist/images/org_crest_18px.png) no-repeat 5px 0;
    }
    @include media(desktop) {
        padding-top: 45px;
        padding-left: 10px;
        background: url(/dist/images/org_crest_27px.png) no-repeat 10px 0;
    }
}

.organisation-logo {
    position: relative;
    line-height: 1.1em;
    top: 3px;
    display: block;
}