main {
    margin-bottom: 30px;
}

@include media(tablet) {
    .pull-right {
        float: right;
    }
}

aside.sidebar {
    font-size: 14px;
    @include media(tablet) {
        border-top: 10px solid $govuk-blue;
        margin-top: 60px;
        font-size: 16px;
    }
    li {
        margin-bottom: 5px;
    }
}

table.top-border {
    border-top: 1px solid $grey-2;
}

.action-add {
    margin-bottom: 20px;
    @include media(tablet) {
        margin-top: 60px;
        float: right;
        clear: both;
    }
}