main {
    max-width: 960px;
    margin: 0 15px;
    margin-bottom: 30px;  
    @include media(tablet) {
        margin: 0 30px 30px;
    }
    @include media(1020px) {
        margin: 0 auto 50px;
    }
}

@include media(tablet) {
    .pull-right {
        float: right;
    }
}

.hgroup {
    margin-bottom: 40px;
}

aside.sidebar {
    font-size: 14px;
    @include media(tablet) {
        border-top: 10px solid $govuk-blue;
        margin-top: 60px;
        font-size: 16px;
        h2.heading-medium {
            margin-top:.5em;
            margin-bottom: .5em;
        }
    }
    li {
        margin-bottom: 5px;
    }
}

table.top-border {
    border-top: 1px solid $grey-2;
}

.action-add {
    margin-bottom: 20px;
    @include media(tablet) {
        margin-top: 60px;
        float: right;
        clear: both;
    }
}

.data {
    h2.bold-xlarge {
        margin-bottom: 30px;
    }
}

.page-dashboard {
    h3.heading-medium,
    h2.heading-medium {
        margin-top: 0;
    }
}

.org-type-search {
    section {
        @extend .block-label;
        padding-top: 0;
        &.last {
            margin-bottom: 20px;
        }
        width: 100%;
        box-sizing:border-box;
    }
    .search-form {
        display: none;
        @include ie-lte(8) {
            display: block;
        }
        clear: both;
        margin-left: -50px;
        input[type='text'] {
            position: static;
            top: auto;
            left: auto;
            width: inherit;
            height: inherit;
            cursor: text;
            opacity: 1;
        }
    }
    input[type='radio'] {
        z-index: 1;
    }
    label {
        display: block;
        min-height: 38px;
        margin-left: -50px;
        padding-left: 50px;
        padding-top: 7px;
        z-index: 2;
    }
    input:checked ~ div {
       display:block;
    }
    .panel {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .form-group {
        margin-bottom: 10px;
    }
}