$info-colour:       $purple;
$success-colour:    $turquoise;
$warning-colour:    $orange;

.error-summary, .info-summary, .success-summary, .warning-summary {
    border-width: 4px;
    border-style: solid;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
    padding: $gutter-half 10px;

    @include media(tablet) {
        border-width: 5px;
        margin-top: $gutter;
        margin-bottom: $gutter;
        padding: $gutter-two-thirds $gutter-half $gutter-half;
    }

    // Use the GOV.UK outline focus style
    &:focus {
        outline: 3px solid $focus-colour;
    }

    p {
        margin-bottom: 10px;
    }

    &-heading {
        margin-top: 0;
    }
    
    @for $index from 1 through 6 {
        h#{$index}{
        }
        h#{$index}[class^="heading-"] {
            margin: 0;
        }
    }
    
    &-list {
        padding-left: 0;
        li {
            @include media(tablet) {
            margin-bottom: 5px;
            }
        }
        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }  
}

.notification-wrapper {
    .error-summary, .info-summary, .success-summary, .warning-summary {
        margin-top: 30px;
        margin-bottom: 30px;
        @include media(tablet) {
            margin-top: 60px;
            margin-bottom: 0;
        }
    }
}

.breadcrumbs + .notification-wrapper {
    .error-summary, .info-summary, .success-summary, .warning-summary {
        margin-top: 15px;
        @include media(tablet) {
            margin-top: 30px;
        }
    }
}

.error-summary:not(.validation-summary-max-funding) {
    h1 {
        display: none;
        & + p {
            display: none;
        }
    }
}

.error-summary-standalone {
    .error-summary {
        margin-bottom: 0
    }
}

.info-dismiss, .success-dismiss, .warning-dismiss {
    font-weight: bold;
    text-decoration: underline;
}

// Info notification styles
.info-summary {
  border-color:$info-colour;
  .info-summary-list {
    a {
      color: $info-colour;
    }
  }
  .info-dismiss {
    color: $info-colour;
  }
}

// Success notification styles
.success-summary {
  border-color:$success-colour;
  .success-summary-list {
    a {
      color: $success-colour;
    }
  }
  .success-dismiss {
    color: $success-colour;
  }
}

// Warning notification styles
.warning-summary {
  border-color:$warning-colour;
  .warning-summary-list {
    a {
      color: $warning-colour;
    }
  }
  .warning-dismiss {
    color: $warning-colour;
  }
}

// ==========================================================================
// This is a modifiation of the GDS pattern .govuk-box.highlight to include
// padding on the inside of the box, incase of a long title
// ==========================================================================

.sfa-govuk-box-highlight {
    padding-left:0.5em;
    padding-right:0.5em;
}                
      