.panel {
    p, li {
        font-size: 14px;
        @include media(tablet) {
            font-size: 16px;    
        }      
    }

    @include media(tablet) {
        .heading-medium {
            margin-bottom: 10px;
        }
    }
}

.panel-filled {
    background: $panel-colour;
}

.panel-filled-purple {
    border-color: $purple;
    background: mix(white,$purple,90%);
    margin-bottom: 30px;
}

.panel-top-margin {
    margin-top: 20px;
}

.panel-warning {
    border-top: 10px solid $govuk-blue;
    padding-left: 50px;
    padding-top: 15px;
    position: relative;
    .icon {
        @include icon(icon-important, 35, 35, '../../dist/images');
        position: absolute;
        top: 20px;
        left: 0;
    }
    p {
        font-weight: 600;
    }
}

