.search-results {
    section {
        @include grid-column( 2/3 );
    }
    aside {
        @include grid-column( 1/3 );
        h2 {
            margin-top: 15px;
        }
    }
}

.results-list {
    ol li {
        border: 3px solid #fff;
        border-bottom: 1px solid $border-colour;
        padding: 10px 15px;
        margin: 0;
        &.added {
            background: $grey-4;
            border: 3px solid $border-colour;
        } 
        h1, button {
            margin: 5px 0;
        }
        p {
            margin: 10px -15px -10px;
            border-top: 1px solid $border-colour;
            @include core-16;
            padding: 10px 15px;
        }
        &.other {
            border-bottom: none;
            h2 {
                margin-top: 10px;
            }
            p {
                border-top: none;
                padding-top: 0;
            }
        }
    }
    dl {
        margin-bottom: 5px;
        dt {
            font-weight: bold;
        }
        dd {
            font-weight: normal;
            
        }
    }
}

.filter {
    margin-bottom: 20px;
    border: 1px solid $border-colour;
    padding: 15px;
    @extend %contain-floats;
    h3 {
        background: $grey-3;
        padding: 5px 10px;
        margin: -15px;
        margin-bottom: 15px;
        @include bold-19;
    }
    .form-group {
        margin-top: 20px;
        margin-bottom: 0;
    }
}