table {
    margin-bottom: 20px;
    td.numeric {
        font-size:inherit
    }
    caption {
        text-align: left;
    }
}

td.link-right {
    text-align: right;
    padding-right: 0;
    width: 10%;
}

td.link-action {
    text-align: right;
    width: 10%;
}

table th, table td {
    vertical-align: top;
    @include media(tablet) {

    }
}