@mixin dot() {
    position: absolute;
    top: 5px;
    left: -4px;
    background: $border-colour;
    width:9px;
    height:9px;
    content: "";
    display: block;
    border-radius: 50%;
}

.timeline {
    position: relative;
    &:before {
        content: "";
        background: $border-colour;
        width: 1px;
        position: absolute;
        top: 40px;
        bottom: 0;
        display: block;
    }
    li {
        position: relative;
        /*&:last-child {
            padding-left: 15px;
            border-left: 1px solid white;
            &:before {
                @include dot;
                left: -5px;
            }
            &:after {
                content: "";
                background: $border-colour;
                width: 1px;
                height: 10px;
                position: absolute;
                top: 0;
                left: -1px;
                display: block;
            }
        }*/
    }
    h4 {
        padding-left: 15px;
        color: $grey-1;
        position: absolute;
        display: none;
        top: 3px;
    }
    li.first {
        padding-top: 30px;
        h4 {
            display: block;
        }
    }
    p {
        margin: 0;
        padding-left: 15px;
    }
    p.activity {
        position: relative;
        &:before {
            @include dot;
        }
    }
    .meta {
        color: $grey-1;
        padding-bottom: 15px;
        a {
            display: block;
        }
    }
}

.timeline--complete {
    @include media(tablet) {
        margin-left: 200px;
        h4 {
            width: 180px;
            margin-left: -200px;
            top: auto;
            text-align: right;
            padding-left: 0;
            padding-right: 20px;
        }
        .meta {
            a {
                display: inline-block;
                padding-left: 10px;
                position: relative;
                &:before {
                    content: "-";
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

.task-list {
    li {
        border-bottom: 1px solid $border-colour;
        padding: 10px 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
        p {
            margin: 0;
        }
        a {
            display: block;
        }
    }
}