
@include media(tablet) {
    .heading-xlarge {
        margin-bottom: 0.625em;
        margin-top: 1.25em;
    }
}

.list-bullet {
    margin-bottom: 40px;
    list-style: disc;
}

dl.inline {
    dt, dd {
        display: inline;
    }
    dt {
        &:before {
            content: "";
            display: block;
        }
    }
    dd {
        font-weight: bold;
    }
}

.responsive-detail {
    color: $grey-1;
}

.heading-dashboard {
    border-bottom: 5px solid $grey-2;
    padding-bottom: .25em;
    @include media(tablet) { 
        padding-bottom: .5em;
    }
}


.account-id, 
.secondary-text {
    @include core-16;
    display: block;
    color: $secondary-text-colour;
    margin: 0;
}