<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Page not found</h1>

        <p>If you entered a web address please check it was correct.</p>
        <p>You can return to the <a href="@Url.Action("Index","Home")">start page</a> to try again.</p>
    </div>
</div>