@using SFA.DAS.EmployerFinance.Authorisation

@model TransferConnectionInvitationAuthorizationViewModel


<p>Employers who pay the apprenticeship levy can connect with other employers and transfer up to @Model.TransferAllowancePercentage.ToString("N0")% of their previous year's annual funds.</p>

@if (Model.AuthorizationResult.IsAuthorized)
{
    <p>Before starting a connection both the sending and receiving employers need to read and understand the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018" class="govuk-link" rel="nofollow">rules for sending and receiving transfers</a>.</p>
    <div class="govuk-inset-text">
        <p>Only the sending employer can start a connection.</p>
    </div>

    if (Model.IsValidSender)
    {
        <a class="govuk-button" href="@Url.Action("Index", "TransferConnectionInvitations" )">Connect to a receiving employer</a>
    }
}
else if (Model.AuthorizationResult.HasError<EmployerFeatureAgreementNotSigned>())
{
    <p>Before starting a connection both the sending and receiving employers need to read and understand the <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules" class="govuk-link" rel="nofollow">rules for sending and receiving transfers</a> and accept the updated organisation agreement with DfE.</p>
    <a class="govuk-button" href="@Url.Action("Index", "EmployerAgreement" )">Accept agreement</a>
}
else
{
    throw new ArgumentOutOfRangeException();
}
