@using System.Globalization

@model SFA.DAS.EmployerFinance.Web.ViewModels.TransferAllowanceViewModel

@{
    var culture = new CultureInfo("en-GB");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="das-highlight">
            <p class="govuk-heading-s govuk-!-margin-0">Remaining transfer allowance</p>
            <p class="govuk-heading-l govuk-!-margin-0 govuk-!-padding-0">@Model.RemainingTransferAllowance.ToString("C0", culture)</p>
        </div>
    </div>
</div>