@{
    ViewBag.PageID = "page-org-and-paye-added";
    ViewBag.Title = "Organisaction and PAYE scheme added";
    ViewBag.GaData.Vpv = "/page-org-and-paye-added";
    ViewBag.ShowNav = false;
    string hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId].ToString();
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    Organisation and <abbr>PAYE</abbr> scheme added
                </p>
            </div>
        </div>
        <h1 class="govuk-heading-xl">You've added your organisation and <abbr>PAYE</abbr> scheme</h1>
        <p>Before you can add apprentices or reserve funds, you still need to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>set your account name</li>
            <li>accept the employer agreement</li>
            <li>add a training provider</li>
        </ul>

        <p>You can continue creating your account now or at a later date.</p>
        <div class="govuk-button-group">
            <a asp-route="@RouteNames.CreateAccountSuccess" asp-route-hashedAccountId="@hashedAccountId" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </a>
            <a asp-route="@RouteNames.PartialAccountSaveProgress"
               asp-route-hashedAccountId="@hashedAccountId"
               class="govuk-body govuk-button govuk-button--secondary app-save-return__link">Save and come back later</a>
        </div>
    </div>
</div>
