@using SFA.DAS.Common.Domain.Types
@using SFA.DAS.EmployerAccounts.Web.Helpers

@{
    ViewBag.PageID = "page-onboard-paye-scheme-in-use";
    ViewBag.ZenDeskLabel = "eas-paye-scheme-already-in-use";
    ViewBag.Title = "PAYE scheme already in use";
    ViewBag.ShowNav = false;
    ViewBag.GaData.Vpv = "/onboarding/address/update/page-extra-paye-error";
}


@if (ViewBag.NotFound)
{
    ViewBag.PageID = "page-onboard-paye-scheme-not-linked-to-credentials";
    ViewBag.Title = "PAYE scheme not linked to credentials";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewBag.NotFound)
        {
            <h1 class="govuk-heading-xl">These details are already in use</h1>
            <p class="govuk-body">The details you added are already attached to a <abbr>PAYE</abbr> scheme.</p>
            <a asp-controller="@ControllerConstants.EmployerAccountControllerName" asp-action="@ControllerConstants.GatewayInformActionName" class="govuk-button" id="search_again">Use different details</a>
        }
        else
        {
            @await Html.PartialAsync("_PayeNotFound", @Url.Action("Gateway", "EmployerAccount"))
        }
    </div>
</div>

@section breadcrumb {
    <div class="das-js-back-link"></div>
}
