<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">You don't have access to this page</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <p class="bold-medium">
            The page you requested either does not exist or you don't
         have access to it, from here you can:            
        </p>
        <a class="button button-start" id="go_back_service_home_page" href="/">Go back to the service home page</a>
    </div>
</div>
