
<div class="grid-row">
    <div class="column-two-thirds">


        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge" id="changeHeadline">
                Sent to provider
            </h1>
            <p id="changeRefNumber">
                Your reference number is <br>
                <strong class="heading-medium">98HGS3F</strong>
            </p>
        </div>
        <h2 class="heading-medium">What happens next?</h2>
        <p id="changeMainCopy">The employer will log on to their account and see the changes you’ve made. They’ll then either approve them or send the cohort back to you to make changes.</p>


    </div>

    <div class="column-one-third">

    </div>
</div>