<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-xlarge">
                Request sent
            </h1>
            <p>
                Your reference number is <br>
                <strong class="heading-medium">98HGS3F</strong>
            </p>
        </div>

        <div style="">
            <h2 class="heading-medium">What happens next?</h2>
            <p class="">Your training provider will log on to their account and start adding apprentice details to the cohort. They’ll then send the cohort back to you for review and approval.</p>


        </div>

    </div>
    <div class="column-one-third">
    </div>
</div>
