

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your training provider</h1>
        <p class="">Your search for <span style="font-weight:700">'9021055566'</span> has found the following:</p>

        <h2 class="heading-large" style="margin-bottom:0; ">Hackney Skills and Training Ltd</h2>
        <h3 class="heading-small" style="margin-top:0px; margin-bottom:0px;color:#6F777B ">93 Hackney Rd, London, EC1V 3QJ</h3>
        <h3 class="heading-small" style="margin-top:0px;  color:#6F777B ">UKPRN: 90 21 05 55 66</h3>

        <form action="provider-contact">
            <fieldset>
            <legend class="visuallyhidden">Training provider</legend>
            <div class="form-group">
                <label class="form-label-bold" for="">Will this training provider be training the apprentices you’re about to add?</label>
                <label class="block-label" for="provider-1">
                    <input id="provider-1" type="radio" name="radio-group" value="provider-1">
                    Yes, use Hackney Skills & Training Ltd
                </label>
                <label class="block-label" for="provider-2">
                    <input id="provider-2" type="radio" name="radio-group" value="provider-2">
                    No, search again
                </label>
            </div>
            </fieldset>
            <div style="margin-top:50px"></div>
            <input class="button" id="saveAndContinue" type="button" onclick="whereNow()" value="Save and continue">
        </form>
        <div style="margin-top:50px"></div>
    </div>
    <div class="column-one-third">
    </div>
</div>
