@model String

<div class="grid-row">
    <form method="POST" action="@Url.Action("SetLegalEntity")">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Add Apprenticeships</h1>

            <div class="grid-row">
                <div class="column-half ">
                    <h3 class="heading-medium"><a href="@Url.Action("Inform")">Add new apprenticeships</a></h3>
                    <p class="rj-home-spacer">Add new apprenticeships to your account</p>

                </div>
                <div class="column-half">
                    <h3 class="heading-medium">Apprenticeships in progress</h3>
                    <p class="rj-home-spacer">Check the status of an apprenticeship program being added to your account</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-half ">
                    <h3 class="heading-medium"><a href="@Url.Action("Cohorts")">View in-progress apprenticeships</a></h3>
                    <p class="rj-home-spacer">Add new apprenticeships to your account</p>
                </div>
                <div class="column-half">
                </div>
            </div>
        </div>
    </form>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = ViewBag.HashedAccountId })">Employer Account Homepage</a></li>
            <li>Add Apprenticeships</li>
        </ol>
    </div>
}
