@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model CommitmentInformViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Create commitment</h1>
        <hr />
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>Use this service to:</p>
            <ul class="list-bullet">
                <li>add a new apprentice to your account</li>
                <li>make sure your training provider gets paid</li>
            </ul>
        <p>You will need to know:</p>
            <ul class="list-bullet">
                <li>the name or UKPRN (UK provider reference number) of your training provider</li>
                <li>who your apprentice will be employed by, if your business has more than one legal entity</li>
             </ul>        
        <form action="@Url.Action("Create")" method="GET">
            <input type="hidden" name="accountId" value="@Model.AccountId"/>
            <button type="submit" name="commitment" class="button">Start</button>
        </form>
        <h2 class="heading-medium">Before you start</h2>
        <p>You must make sure you have:</p>
            <ul class="list-bullet" >
                <li>an agreement in place with the Skills Funding Agency</li>
                <li>an agreement in place with your training provider</li>
                <li>recruited and know the names of your apprentices</li>
            </ul>
    </div>
</div>
