@using SFA.DAS.EmployerApprenticeshipsService.Web
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model OrchestratorResponse<ExtendedCreateCommitmentViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Choose employer</h1>
        <hr />
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("SetLegalEntity")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" for="LegalEntityCode">Organisation</label>
                    <div class="form-group">
                        <p>Choose the organisation that's entered into the contract for the apprentices you're adding.</p>
                    </div>
                    <select name="LegalEntityCode" id="LegalEntityCode" class="form-control" aria-label="Legal Entity">
                        <option value=""></option>
                        @foreach (var legalEntity in Model.Data.LegalEntities)
                        {
                            <option value="@legalEntity.Code">@legalEntity.Name</option>
                        }
                    </select>
            </div>
            <button type="submit" class="button">Next</button>
        </form>
    </div>
</div>
