@{
    ViewBag.PageID = "page-help";
    ViewBag.Title = "Manage apprenticeships service help";
    ViewBag.ShowNav = false;
    ViewBag.GaData.Vpv = "/page-help";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @ViewBag.Title
        </h1>
        <p><a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></p>
        <p class="govuk-body margin-bottom-small">
            Telephone: 08000 150 600
        </p>
        <p class="govuk-body">
            8am to 8pm, Monday to Friday
        </p>
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a href="/" class="govuk-breadcrumbs__link">Your accounts</a></li>
            <li class="govuk-breadcrumbs__list-item">@ViewBag.Title</li>
        </ol>
    </div>
}