@model bool

@{
    Layout = null;
}
@* >>>>>>>>>>>>>>>> This file is for creating the PDF <<<<<<<<<< *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Legal Agreement Template</title>

    <link href="~/dist/css/fonts.css" media="all" rel="stylesheet" />
    <link href="~/dist/css/screen.css" media="all" rel="stylesheet" />

</head>
<body id="layout-agreement">

    <main role="main" id="content">

        @if (Model)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Signed by:</th>
                            <td class="govuk-table__cell">__SignedByName__</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header"><span class="das-no-wrap">On behalf of:</span></th>
                            <td class="govuk-table__cell">__LegalEntityName__</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Address:</th>
                            <td class="govuk-table__cell">
                                <span>__LegalEntityAddress_0__</span><br/>
                                <span>__LegalEntityAddress_1__</span><br />
                                <span>__LegalEntityAddress_2__</span><br />
                                <span>__LegalEntityAddress_3__</span><br />
                                <span>__LegalEntityAddress_4__</span>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Signed on:</th>
                            <td class="govuk-table__cell">__SignedDate__</td>
                        </tr>
                    </table>
                </div>
            </div>
        }

        <div class="govuk-grid-row" id="publication-banner">
            <div class="govuk-grid-column-one-third">
                <div class="sfa-logo">
                    <h1>
                        <span class="organisation-logo">
                            <span>
                                Education &amp; Skills  <br>
                                Funding Agency
                            </span>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
        @Html.Partial("_Agreement_v3")
        
    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">
        
    </footer>
    

</body>
</html>
