@model ServiceStartPageViewModel
@{
    ViewBag.PageID = "page-service-start";
    ViewBag.Title = "Create an account to manage apprenticeships";
    ViewBag.MetaDesc = "Manage your funding for apprenticeships in England";
    ViewBag.ShowNav = false;
    ViewBag.GaData.Vpv = "/page-service-start";
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @ViewBag.Title
        </h1>
        <p class="govuk-body">
            You need to create or 
            @if (Model.GovSignInEnabled)
            {
                <a asp-controller="Home" asp-action="GovSignIn" class="govuk-link govuk-link--no-visited-state">sign in</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignIn" class="govuk-link govuk-link--no-visited-state">sign in</a>
            }
             to an apprenticeship account, then you'll be able to get funding to pay for apprenticeship training and assessment costs.
        </p>
        <p class="govuk-body">
            You’ll use your account to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>get apprenticeship funding</li>
            <li>find and save apprenticeships</li>
            <li>find, save and manage training providers</li>
            <li>recruit apprentices</li>
            <li>add and manage apprenticeships</li>
        </ul>
        @if (Model.GovSignInEnabled)
        {
            <a asp-controller="Home" asp-action="GovSignIn" id="service-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Create account
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        }
        else
        {
            <a href="@Url.Action(ControllerConstants.RegisterUserActionName)" id="service-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Create account
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        }
    </div>
</div>