@{ViewBag.PageID = "page-service-start"; }
@{ViewBag.Title = "Manage apprenticeships"; }
@{ViewBag.MetaDesc = "Manage your funding for apprenticeships in England"; }
@{ViewBag.HideNav = "true"; }

@{
    ViewBag.GaData.Vpv = "/page-service-start";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            @ViewBag.Title
        </h1>
        <p class="lede">This service is for organisations that want to take on apprentices.</p>
        <p>Use this service to:</p>
        <ul class="list list-bullet">
            <li>set up and manage apprenticeship training</li>
            <li>pay for apprenticeship training</li>
        </ul>
        <p>
            To access funds to pay for apprenticeship training you need to register on the apprenticeship service.
            <strong>If you already have an account <a href="@Url.Action("SignIn", "Home")">sign in</a></strong>
        </p>
        <p><a class="button button-start" id="service-start" href="@Url.Action("UsedServiceBefore", "Home")">Start</a></p>
        <h2 class="heading-medium">Before you start</h2>
        <p>You will need:</p>
        <ul class="list list-bullet">
            <li>the legal name of you organisation for example, the name you've used to register with Companies House</li>
            <li>the authority to enter an agreement the Education and Skills Funding Agency (ESFA)</li>
        </ul>
    </div>
</div>