@using SFA.DAS.EmployerAccounts.Web.Helpers
@{ViewBag.PageID = "page-service-start"; }
@{ViewBag.Title = "Create an account to manage apprenticeships"; }
@{ViewBag.MetaDesc = "Manage your funding for apprenticeships in England"; }
@{ViewBag.HideNav = true; }

@{
    ViewBag.GaData.Vpv = "/page-service-start";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            @ViewBag.Title
        </h1>     
        <p>
            You need to create or <a href="@Url.Action("SignIn", "Home")">sign in</a> to an apprenticeship account, then you'll be able to get funding to pay for apprenticeship training and assessment costs.
        </p>
        <p>
            You’ll use your account to:
        </p>
        <ul class="list list-bullet">
            <li>get apprenticeship funding</li>
            <li>find and save apprenticeships</li>
            <li>find, save and manage training providers</li>
            <li>recruit apprentices</li>
            <li>add and manage apprenticeships</li>
        </ul>
        <p><a class="button button-start" id="service-start" href="@Url.Action(ControllerConstants.RegisterUserActionName)">Create account</a></p>             
    </div>
</div>
@Html.SetZenDeskLabels(ZenDeskLabels.RegisterForAnApprenticeshipServiceAccount)