@{
    ViewBag.PageID = "page-terms-and-conditions-overview";
    ViewBag.Section = "home";
    ViewBag.Title = "Terms and Conditions";
    ViewBag.ShowNav = false;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Terms of use</h1>
        <p class="govuk-body-l">By using this service, you agree to these terms and conditions.</p>
        <h2 class="govuk-heading-m">Responsibility for the service</h2>
        <p class="govuk-body">
            To use this service you agree to
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>sign out at the end of each session</li>
            <li>input truthful and accurate information</li>
            <li>adhere to the <a href="http://www.legislation.gov.uk/ukpga/1990/18/contents" rel="noopener" target="_blank" class="govuk-link">Computer Misuse Act 1990</a></li>
            <li>use only a legitimate email address that you or people in your organisation has access to</li>
            <li>keep your sign in details secure and do not share them with third parties</li>
            <li>not use discriminatory wording as set out in the <a href="https://www.gov.uk/guidance/equality-act-2010-guidance#equalities-act-2010-legislation" rel="noopener" target="_blank" class="govuk-link">Equality Act 2010</a></li>
            <li>make sure the published rates of pay comply with the <a href="https://www.gov.uk/national-minimum-wage-rates" rel="noopener" target="_blank" class="govuk-link">National Minimum Wage</a> guidelines and are not misleading to candidates</li>
            <li>adhere to all relevant <a href="https://www.gov.uk/browse/employing-people" rel="noopener" target="_blank" class="govuk-link">UK employment law</a></li>
            <li>if you are a commercial organisation as defined in <a href="https://www.legislation.gov.uk/ukpga/2015/30/section/54/enacted" rel="noopener" target="_blank" class="govuk-link">section 54 of the Modern Slavery Act 2015</a>, adhere to the annual reporting requirements</li>
            <li>your apprenticeship and traineeship adverts being publicly accessible, including the possibility of partner websites displaying them</li>
            <li>comply with the government safeguarding policies for <a href="https://www.gov.uk/government/publications/ofsted-safeguarding-policy" rel="noopener" target="_blank" class="govuk-link">children</a> and <a href="https://www.gov.uk/government/publications/safeguarding-policy-protecting-vulnerable-adults" target="_blank" rel="noopener" class="govuk-link">vulnerable adults</a></li>
            <li>not provide feedback on a training provider when you are an employer provider</li>
            <li>be an active and trading business at the point of creating an apprenticeship service account</li>
            <li>only add apprentices that are linked to the PAYE scheme registered in your employer account</li>
            <li>when recruiting an apprentice, you must at all times comply with the Apprenticeship Agreement for Employers and Apprenticeship Funding Rules</li>
        </ul>
        <p class="govuk-body">When you sign up for an apprenticeship service account we may need to verify and validate your company. You may not be granted an account if you fail the checks conducted by the Department for Education.</p>
        <p class="govuk-body">Your contact details and information associated with your account will be collected and used for the support and administration of your account.</p>
        <p class="govuk-body">We will not:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>use or disclose this information for other purposes (except where we’re legally required to do so)</li>
            <li>use your details for any marketing purposes or for any reason unrelated to the use of your account</li>
        </ul>
        <p class="govuk-body">We may update these terms and conditions at any time without notice. You’ll agree to any changes if you continue to use this service after the terms and conditions have been updated.</p>
    </div>
</div>

