@{ ViewBag.PageID = "page-terms-and-condition"; }
@{ ViewBag.Section = "home"; }
@{ ViewBag.Title = "Term and Conditions"; }
@*@{ ViewBag.HideNav = true; }
@{ ViewBag.HideAccounts = "true"; }*@
@*@{ ViewBag.GaData.Vpv = "/page-auth-homepage"; }*@
@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Terms of use</h1>

        <p class="govuk-body govuk-!-padding-bottom-3">
            To use this service you agree&nbsp;to:&nbsp;
        </p><p>

        </p><h2 class="govuk-heading-l">New for this release</h2>

        <!--NEW TERMS START-->
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
            <li>
                Use only a legitimate email address&nbsp;that you or people in your organisation&nbsp;has access to
            </li>
            <li>
                Keep your sign in details secure and do not share them with third parties&nbsp;
            </li>
            <li>
                If you are a commercial organisation as defined in <a href="#" class="govuk-link">section 54 of the Modern Slavery Act 2015</a>, adhere to the annual reporting requirements
            </li>
            <li>
                Not provide feedback on a training provider when you are an employer provider
            </li>
            <li>
                Be an active and trading business at the point of creating an apprenticeship service&nbsp;account
            </li>
            <li>
                Only add apprentices that are&nbsp;linked&nbsp;to&nbsp;the PAYE&nbsp;scheme&nbsp;registered in your employer account
            </li>
            <li>
                Comply at all times with the&nbsp;Apprenticeship Agreement for Employers and Apprenticeship Funding&nbsp;Rules
            </li>
        </ul>
        <!--NEW TERMS END-->

        <h2 class="govuk-heading-l">
            Existing terms

        </h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                Sign out at the end of each session&nbsp;
            </li>
            <li>
                Input truthful and accurate information &nbsp;
            </li>
            <li>
                Adhere to the <a href="#" class="govuk-link">Computer Misuse Act 1990</a>
            </li>

            <li>
                Not use discriminatory wording set out in the&nbsp;<a href="#" class="govuk-link">Equality Act 2010</a>
            </li>
            <li>
                Make sure the published rates of pay comply with the <a href="#" class="govuk-link">National minimum wage</a> guidelines and are not misleading to candidates &nbsp;
            </li>
            <li>
                Adhere to all relevant <a href="#" class="govuk-link">UK employment laws</a>&nbsp;
            </li>

            <li>
                Your apprenticeship adverts being publicly accessible,&nbsp;including the possibility of partner websites displaying them &nbsp;
            </li>
            <li>
                Comply with the&nbsp;government safeguarding policies&nbsp;for <a href="#" class="govuk-link">children&nbsp;</a> and&nbsp;<a href="#" class="govuk-link">vulnerable adults</a>
            </li>

        </ul>
        <p class="govuk-body">
            When you sign up for an apprenticeship service account we&nbsp;may&nbsp;need&nbsp;to verify&nbsp;and validate your company.&nbsp;&nbsp;You may not be granted an account if you fail the checks conducted by ESFA.
        </p><p>
        </p><p class="govuk-body">
            Your contact details and information associated with your account will be collected and used for the support and administration of your account. &nbsp;
        </p><p>
        </p><p class="govuk-body">
            We will not:&nbsp;
        </p><p>
        </p><ul class="govuk-list govuk-list--bullet">
            <li>
                Use or disclose this information for other purposes (except where we’re legally required to do so)&nbsp;
            </li>
            <li>
                Use your details for any marketing purposes or for any reason unrelated to the use of your account &nbsp;
            </li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-9">
            We may update these terms and conditions at any time without notice. You’ll agree to any changes if you continue to use this service after the terms and conditions have been updated. &nbsp;
        </p>
        <form method="POST">
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
        <br>
        <p>
            <a href="select-account-with-banner" class="govuk-link govuk-!-margin-top-1 govuk-!-margin-bottom-9">Cancel</a>
        </p>

        <br><br>
    </div>
</div>

