@using SFA.DAS.EmployerAccounts.Web.Helpers
@{
    ViewBag.PageID = "unsubscibe-from-emails";
    ViewBag.Title = "Unsubscribe from emails"; ViewBag.MetaDesc = "Unsubscribe from emails";
    ViewBag.ShowNav = false;

    var inError = Model?.GetType().GetProperty("InError") != null;
    ViewBag.GaData.Vpv = "/unsubscibe-from-emails";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <p class="govuk-body">If you would like to unsubscribe, please select the option below.</p>
        @using (Html.BeginForm("Unsubscribe", "Home", FormMethod.Post))
        {
            <div class="govuk-form-group @(inError ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    @if (inError)
                    {
                        <span class="govuk-error-message" aria-hidden="false" id="have-not-got-everything">
                            Tick the box to unsubscribe
                        </span>
                    }
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="unsubscribe" name="unsubscribe" type="checkbox" value="true">
                            <label class="govuk-label govuk-checkboxes__label" for="unsubscribe">Unsubscribe from invitation emails from this training provider</label>
                            <label class="govuk-label govuk-checkboxes__label" for="unsubscribe">This will not affect the regular emails you receive as a registered user of our digital service. The training provider won't be told you have unsubscribed.</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <p class="govuk-body"><button class="govuk-button" type="submit">Unsubscribe</button></p>
        }
    </div>
</div>