@{
    ViewBag.PageID = "unsubscibed-from-emails";
    ViewBag.Title = "Unsubscribed from emails";
    ViewBag.MetaDesc = "Unsubscribed from emails";
    ViewBag.ShowNav = false;
    ViewBag.GaData.Vpv = "/unsubscibed-from-emails";
}

<div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            You are now unsubscribed
        </h1>
        <div class="govuk-panel__body">
            You have now been unsubscribed and will no longer receive invitation emails from this training provider.
        </div>
    </div>
</div>