@{ViewBag.PageID = "page-what-youll-need"; }
@{ViewBag.Title = "What you'll need"; }
@{ViewBag.HideNav = "true"; }

@{
    ViewBag.GaData.Vpv = "/service/whatYoullNeed/page-what-youll-need";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            What you'll need
        </h1>
        <p>To set up an account you'll need:</p>
        <ul class="list list-bullet">
            <li>at least one PAYE scheme</li>
            <li>the Government Gateway login details for your PAYE scheme(s) - ask your payroll department if you don't have access to this information</li>
        </ul>
        <p><a rel="external" target="_blank" href="https://www.gov.uk/log-in-register-hmrc-online-services/problems-signing-in">Can't find your Government Gateway details?</a></p>
        <form method="POST" action="@Url.Action("WhatYoullNeed", "Home")" >
            @Html.AntiForgeryToken()
            <div class="form-group" id="what-you-need-form">
                <fieldset>
                    <legend class="form-label-bold">
                        <span>Do you have everything you need?</span>
                        <span class="error-message js-hidden" aria-hidden="true" id="have-not-got-everything">
                            You need your Government Gateway login details to create an account
                        </span>
                    </legend>
                    <label for="have-everything" class="block-label">
                        <input type="radio" name="choice" id="have-everything" value="2" />
                        Yes, I have everything I need
                    </label>
                    <label for="do-not-have-everything" class="block-label">
                        <input type="radio" name="choice" id="do-not-have-everything" value="1"/>
                        No, I don't have everything I need
                    </label>
                    
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="submit-button">Continue</button>
            </div>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("UsedServiceBefore", "Home")" class="link-back">Back</a>
    </div>
}

@section pageSpecificJS {
    <script type="text/javascript">
        $(function () {
            sfa.homePage.init();
        });
    </script>
}

