@using SFA.DAS.Authorization
@using SFA.DAS.Authorization.Mvc
@using SFA.DAS.EmployerAccounts.Models.TransferConnections
@using SFA.DAS.EmployerAccounts.Web.Extensions

@model SFA.DAS.EmployerAccounts.Web.ViewModels.TransferConnectionInvitationsViewModel

@if (Model.TransferConnectionInvitations.Any())
{
    <div class="grid-row">
        <div class="column-full">
            <table class="responsive">
                <caption class="heading-medium">Connection requests</caption>
                <thead>
                    <tr>
                        <th>Employer</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transferConnectionInvitation in Model.TransferConnectionInvitations)
                    {
                        var peerAccount = transferConnectionInvitation.GetPeerAccount(Model.AccountId);
                        <tr>
                            <td data-label="Employer">@peerAccount.Name</td>
                            <td data-label="Status">@transferConnectionInvitation.Status.ToString()</td>
                            <td>
                                @if (Html.IsAuthorized(FeatureType.TransferConnectionRequests))
                                {
                                    if (Model.AccountId == transferConnectionInvitation.ReceiverAccount.Id && transferConnectionInvitation.Status == TransferConnectionInvitationStatus.Pending)
                                    {
                                        <a href="@Url.Action("Receive", "TransferConnectionInvitations", new {transferConnectionInvitationId = transferConnectionInvitation.Id})">Details</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Details", "TransferConnectionInvitations", new {transferConnectionInvitationId = transferConnectionInvitation.Id})">Details</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h2 class="heading-medium">Connection requests</h2>
    <p>You have no pending or approved requests</p>
}