@model OrchestratorResponse<PayeSchemeNextStepsViewModel>
@{ViewBag.PageID = "page-paye-scheme-next-steps";}
@{ViewBag.Title = "What's next";}
@{ViewBag.Section = "paye";}
@{
    ViewBag.GaData.Vpv = "/accounts/schemes/page-paye-scheme-next-steps";
    ViewBag.ZenDeskLabel = "eas-paye-scheme-has-been added";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			What's next
		</h1>
		<form method="POST" action="@Url.Action("NextSteps")">
            <div class="govuk-form-group  @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <span class="govuk-visually-hidden">What's next?</span>
                        @if (!string.IsNullOrWhiteSpace(Model.Data.ErrorMessage))
                        {
                        <span class="govuk-error-message" id="select-option">@Model.Data.ErrorMessage</span>
                        }
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="choice1" type="radio" name="choice" value="1" class="govuk-radios__input" />
                            <label for="choice1" class="govuk-label govuk-radios__label">
                            Add another PAYE scheme
                            </label>
                        </div>
                        @if (!Model.Data.ShowWizard)
                        {
                        <div class="govuk-radios__item">
                            <input id="choice2" type="radio" name="choice" value="2" class="govuk-radios__input" />
                            <label for="choice2" class="govuk-label govuk-radios__label">
                            Check finances
                            </label>
                        </div>
                        }
                        <div class="govuk-radios__item">
                            <input id="choice3" type="radio" name="choice" value="3" class="govuk-radios__input" />
                            <label for="choice3" class="govuk-label govuk-radios__label">
                            @(Model.Data.ShowWizard ? "Continue account setup" : "Return to homepage")
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" id="accept">Continue</button>
            </div>
        </form>
    </div>
</div>