@model OrchestratorResponse<PayeSchemeNextStepsViewModel>
@{ViewBag.PageID = "page-paye-scheme-next-steps";}
@{ViewBag.Title = "What's next";}
@{ViewBag.Section = "paye";}
@{
    ViewBag.GaData.Vpv = "/accounts/schemes/page-paye-scheme-next-steps";
    ViewBag.ZenDeskLabel = "eas-paye-scheme-has-been added";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            What's next
        </h1>
        <form method="POST" action="@Url.Action("NextSteps")">
            <div class="form-group  @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? "error" : "")">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">What's next?</span>
                        @if (!string.IsNullOrWhiteSpace(Model.Data.ErrorMessage))
                        {
                            <span class="error-message" id="select-option">@Model.Data.ErrorMessage</span>
                        }
                    </legend>
                    <label for="choice1" class="block-label">
                        <input id="choice1" type="radio" name="choice" value="1" />
                        Add another PAYE scheme
                    </label>
                    @if (!Model.Data.ShowWizard)
                    {
                        <label for="choice2" class="block-label">
                            <input id="choice2" type="radio" name="choice" value="2" />
                            Check finances
                        </label>
                    }
                    <label for="choice3" class="block-label">
                        <input id="choice3" type="radio" name="choice" value="3" />
                        @(Model.Data.ShowWizard ? "Continue account setup" : "Return to homepage")
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="accept">Continue</button>
            </div>
        </form>
    </div>
</div>
