@using SFA.DAS.EmployerAccounts.Web.Helpers
@{ViewBag.PageID = "page-paye-scheme-ways-to-add"; }
@{ViewBag.Title = "Ways to add your PAYE scheme"; }
@{ViewBag.Section = "paye";}
@{ViewBag.HideNav = true; }
@{
    ViewBag.GaData.Vpv = "/accounts/schemes/ways-to-add";
    var hiddenClass = ViewBag.InError != null && ViewBag.InError ? "" : "hidden";
    var errorClass = ViewBag.InError != null && ViewBag.InError ? "error" : "";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Ways to add your PAYE scheme
        </h1>
        <strong class="bold-small">If you know the annual payroll for you organisation is under £3 million, you can either:</strong>
        <ul class="list list-bullet">
            <li>Government Gateway login for your PAYE scheme</li>
            <li>accounts office reference number and employer PAYE scheme reference</li>
        </ul>
        <strong class="bold-small">If you know the annual payroll for you organisation is over £3 million, you can use:</strong>
        <ul class="list list-bullet">
            <li>Government Gateway login for your PAYE scheme</li>
        </ul>
        <div class="panel panel-border-wide">If you've not sure how much you annual payroll is, choose Government Gateway.</div>
        <form method="POST" action="@Url.Action(ControllerConstants.WaysToAddPayeSchemeActionName)">
            @Html.AntiForgeryToken()
            <div class="form-group @errorClass" id="how-do-you-want-to-add-paye-scheme-form">
                <fieldset>
                    <legend class="form-label-bold">
                        <span class="error-message @hiddenClass" aria-hidden="true" id="have-not-got-everything">
                            You must select an option to continue.
                        </span>
                    </legend>
                    <label for="want-to-use-gov-gateway" class="block-label">
                        <input type="radio" name="choice" id="want-to-use-gov-gateway" value="1" />
                        I want to use Government Gateway
                    </label>
                    <label for="want-to-use-aorn" class="block-label">
                        <input type="radio" name="choice" id="want-to-use-aorn" value="2" />
                        I want to use my accounts office reference number and employer PAYE scheme reference
                    </label>
                </fieldset>
                <p>
                    <div class="notice">
                        <i class="icon icon-important">
                            <span class="visuallyhidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                            Before you continue, you must make sure you have authority to add PAYE schemes to the account for this organisation.
                        </strong>
                    </div>
                </p>
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="submit-how-to-add-payescheme">Continue</button>
            </div>
        </form>
    </div>
</div>
@section pageSpecificJS {
    <script type="text/javascript">
        $(function () {
            sfa.homePage.init();
        });
    </script>
}
