<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.16.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NLog" version="4.3.7" targetFramework="net45" />
  <package id="SFA.DAS.Apprenticeships.Api.Client" version="0.10.29-prerelease" targetFramework="net45" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.10.29" targetFramework="net45" />
  <package id="SFA.DAS.Audit.Client" version="1.0.0.20553" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Client" version="1.68.0.34798" targetFramework="net45" />
  <package id="SFA.DAS.Commitments.Api.Types" version="1.68.0.34798" targetFramework="net45" />
  <package id="SFA.DAS.Events.Api.Client" version="1.20.0.26497" targetFramework="net45" />
  <package id="SFA.DAS.Events.Api.Types" version="2.0.0.36524" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="1.0.0.35742" targetFramework="net45" />
  <package id="SFA.DAS.Messaging" version="3.0.0.42847" targetFramework="net462" />
  <package id="SFA.DAS.Messaging.AzureServiceBus" version="3.0.0.42847" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.34273" targetFramework="net45" />
  <package id="SFA.DAS.Notifications.Api.Client" version="2.0.0.35919" targetFramework="net45" />
  <package id="SFA.DAS.Notifications.Api.Types" version="2.0.0.35919" targetFramework="net45" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.0.0.34401" targetFramework="net462" />
  <package id="SFA.DAS.Providers.Api.Client" version="0.10.29-prerelease" targetFramework="net45" />
  <package id="SFA.DAS.Tasks.Api.Types" version="1.7.0.39323" targetFramework="net462" />
  <package id="SFA.DAS.TimeProvider" version="1.0.0.3956" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net45" />
</packages>