@using SFA.DAS.EmployerAccounts.Web.Helpers
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header">
            <div>
                <h1 class="heading-xlarge">
                    Details about our cookies
                </h1>
            </div>
        </header>

        <p>
            This service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site. Find out more about the cookies we use, what they’re for and when they expire.
        </p>

        <h2 class="heading-medium">
            Cookies that measure website usage
        </h2>

        <p>
            We use Google Analytics software (Universal Analytics) to collect anonymised information about how you use the service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
        </p>

        <p>
            We do not allow Google to use or share the data about how you use this site.
        </p>

        <p>
            Google Analytics stores information about:
        </p>

        <ul class="list list-bullet">
            <li>
                how you got to the site
            </li>
            <li>
                the pages you visit on this service and how long you spend on them
            </li>
            <li>
                what you click on while you’re visiting the site
            </li>

        </ul>
        <p>
            We may also set our own cookies to understand how people move through the site.
        </p>

        <table>
            <thead>
                <tr>
                    <th scope="col" class="cell-width-20">
                        Name
                    </th>
                    <th scope="col" class="cell-width-50">
                        Purpose
                    </th>
                    <th scope="col" class="cell-width-30">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        _ga
                    </td>
                    <td>
                        Used by Google Analytics, this registers a unique ID to generate statistics about how you use the website
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        _gat
                    </td>
                    <td>
                        This enables tracking information generated about how you visitors the website
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        _gat_gtag_
                    </td>
                    <td>
                        This enables tracking information generated about how you visitors the website
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        _gid
                    </td>
                    <td>
                        This registers a unique ID to generate statistics about how you use the website
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        _pendo_accountid.PENDO_API_KEY
                    </td>
                    <td>
                        This enables tracking information generated about how visitors use the helpcentre
                    </td>
                    <td>
                        100 days
                    </td>
                </tr>

                <tr>
                    <td>
                        _pendo_meta.PENDO_API_KEY
                    </td>
                    <td>
                        This enables tracking information generated about how visitors use the helpcentre
                    </td>
                    <td>
                        100 days
                    </td>
                </tr>

                <tr>
                    <td>
                        _pendo_visitorld.PENDO_API_KEY
                    </td>
                    <td>
                        This enables tracking information generated about how visitors use the helpcentre
                    </td>
                    <td>
                        100 days
                    </td>
                </tr>

                <tr>
                    <td>
                        ai_session
                    </td>
                    <td>
                        This monitors the performance of the website
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        ai_user
                    </td>
                    <td>
                        This monitors the performance of the website
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="heading-medium">
            Cookies that help with our communications and marketing
        </h2>

        <p>
            Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called ‘third party’ services. This tells us how many people are seeing the content and whether it’s useful.
        </p>

        <p>
            In addition, if you share a link to one of our pages, the service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on other websites - you can turn them off, but not through us.
        </p>


        This cookie is set by Marketo. This allows a website to track visitor behavior on the sites on which the cookie is installed and to link a visitor to the recipient of an email marketing campaign, to measure campaign effectiveness. Tracking is performed anonymously until a user is identified by submitting a form.
        <table>
            <thead>
                <tr>
                    <th scope="col" class="cell-width-20">
                        Name
                    </th>
                    <th scope="col" class="cell-width-50">
                        Purpose
                    </th>
                    <th scope="col" class="cell-width-30">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        _fbp
                    </td>
                    <td>
                        This helps deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising after visiting our website
                    </td>
                    <td>
                        3 months
                    </td>
                </tr>
                <tr>
                    <td>
                        _gcl_au
                    </td>
                    <td>
                        Used by Google AdSense, this experiments with advertisement efficiency across websites that use their services
                    </td>
                    <td>
                        3 months
                    </td>
                </tr>
                <tr>
                    <td>
                        ANON
                    </td>
                    <td>
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td>
                        1 month
                    </td>
                </tr>
                <tr>
                    <td>
                        MUID
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>
                <tr>
                    <td>
                        NAP
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        1 month
                    </td>
                </tr>
                <tr>
                    <td>
                        SRCHD
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        2 months
                    </td>
                </tr>
                <tr>
                    <td>
                        SRCHHPGUSR
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        4 months
                    </td>
                </tr>
                <tr>
                    <td>
                        SRCHUID
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        2 months
                    </td>
                </tr>
                <tr>
                    <td>
                        SRCHUSR
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        4 months
                    </td>
                </tr>
                <tr>
                    <td>
                        _RwBf
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        4 months
                    </td>
                </tr>
                <tr>
                    <td>
                        MUIDB
                    </td>
                    <td>
                        <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                    </td>
                    <td>
                        1 month
                    </td>
                </tr>
                <tr>
                    <td>
                        _fbp
                    </td>
                    <td>
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td>
                        3 months
                    </td>
                </tr>
                <tr>
                    <td>
                        act
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        When you close your browser
                    </td>
                </tr>
                <tr>
                    <td>
                        c_user
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>
                <tr>
                    <td>
                        datr
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        18 months
                    </td>
                </tr>
                <tr>
                    <td>
                        fr
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>
                <tr>
                    <td>
                        presence
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        When you close your browser
                    </td>
                </tr>
                <tr>
                    <td>
                        sb
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        spin
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        wd
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        xs
                    </td>
                    <td>
                        <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        _ga
                    </td>
                    <td>
                        <span> Snapchat uses Google Analytics to help improve their services. For example, they can use these cookies to learn more about which features are the most popular with their users and which ones might need some tweaks.</span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        sc_at
                    </td>
                    <td>
                        <span> Snapchat uses this cookie to deliver advertisements, to make them more relevant and meaningful to consumers, and to track the efficiency of advertising campaigns. </span>
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>
                <tr>
                    <td>
                        Personalization_id
                    </td>
                    <td>
                        <span> Twitter uses this cookie for integration of its services and sharing capabilities from the website to social media, as well as tracking and targeting. </span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        i/adsct
                    </td>
                    <td>
                        <span> Twitter uses this cookie to allow tailored advertising based on our actions on this website.</span>
                    </td>
                    <td>
                        Session
                    </td>
                </tr>
                <tr>
                    <td>
                        ad_id
                    </td>
                    <td>
                        <span> Amazon uses this cookie to allow tailored advertising based on our actions on this website. </span>
                    </td>
                    <td>
                        9 months
                    </td>
                </tr>
                <tr>
                    <td>
                        ad_privacy
                    </td>
                    <td>
                        <span> Amazon uses this cookie to allow tailored advertising based on our actions on this website</span>
                    </td>
                    <td>
                        9 months
                    </td>
                </tr>
                <tr>
                    <td>
                        _ppcMktoCmp
                    </td>
                    <td>
                        <span> This cookie is set by Marketo with an ID from the link that brought you to the page. </span>
                    </td>
                    <td>
                        30 days
                    </td>
                </tr>
                <tr>
                    <td>
                        _mkto_trk
                    </td>
                    <td>
                        <span> This cookie is set by Marketo. This allows a website to track visitor behavior on the sites on which the cookie is installed and to link a visitor to the recipient of an email marketing campaign, to measure campaign effectiveness. Tracking is performed anonymously until a user is identified by submitting a form. </span>
                    </td>
                    <td>
                        2 years
                    </td>
                </tr>
                <tr>
                    <td>
                        L1c
                    </td>
                    <td>
                        <span>Linkedin uses this cookie to allow tailored advertising based on our actions on this website. </span>
                    </td>
                    <td>
                        Session
                    </td>
                </tr>
                <tr>
                    <td>
                        BizoID
                    </td>
                    <td>
                        <span>Linkedin uses this cookie to allow tailored advertising based on our actions on this website. </span>
                    </td>
                    <td>
                        6 months
                    </td>
                </tr>
                <tr>
                    <td>
                        BizoData
                    </td>
                    <td>
                        <span>Linkedin uses this cookie to allow tailored advertising based on our actions on this website. </span>
                    </td>
                    <td>
                        6 months
                    </td>
                </tr>
                <tr>
                    <td>
                        BizoUserMatchHistory
                    </td>
                    <td>
                        <span> Linkedin uses this cookie to allow tailored advertising based on our actions on this website.</span>
                    </td>
                    <td>
                        6 months
                    </td>
                </tr>
                <tr>
                    <td>
                        BizoNetworkPartnerIndex
                    </td>
                    <td>
                        <span> Linkedin uses this cookie to allow tailored advertising based on our actions on this website.</span>
                    </td>
                    <td>
                        6 months
                    </td>
                </tr>

            </tbody>
        </table>

        <h2 class="heading-medium">
            Strictly necessary cookies
        </h2>

        <p>
            These cookies carry out essential tasks to help the service perform correctly. For example, we might save a cookie to let us know how many times you’ve seen a message we’ve shown on a page, or if you’ve dismissed it.
        </p>

        <table>
            <thead>
                <tr>
                    <th scope="col" class="cell-width-20">
                        Name
                    </th>
                    <th scope="col" class="cell-width-50">
                        Purpose
                    </th>
                    <th scope="col" class="cell-width-30">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        __ForecastingRequestVerification
                    </td>
                    <td>
                        Stores a session key that protects against cross site request forgery (CSRF) attacks.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        __RequestVerificationToken
                    </td>
                    <td>
                        Stores a session key that protects against cross site request forgery (CSRF) attacks.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        __RequestVerificationToken
                    </td>
                    <td>
                        To store an encrypted value used to verify that page actions are made from the same website that issued the form page.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        _help_center_session
                    </td>
                    <td>
                        Stores unique session key for the Help Center product
                    </td>
                    <td>
                        Session
                    </td>
                </tr>

                <tr>
                    <td>
                        _RequestVerificationToken
                    </td>
                    <td>
                        Stores a session key that protects against cross site request forgery (CSRF) attacks.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        _zendesk_cookie
                    </td>
                    <td>
                        Stores settings information for help features
                    </td>
                    <td>
                        20 years
                    </td>
                </tr>

                <tr>
                    <td>
                        _zendesk_session
                    </td>
                    <td>
                        Stores unique session key for Zendesk Classic application
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        _zendesk_shared_session
                    </td>
                    <td>
                        Stores a unique session key for a session shared across Zendesk products
                    </td>
                    <td>
                        1 day
                    </td>
                </tr>

                <tr>
                    <td>
                        .AspNet.Cookies
                    </td>
                    <td>
                        To temporarily store information about your account. All the information is encrypted.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        .AspNetCore.Cookies
                    </td>
                    <td>
                        To temporarily store data between pages, for example when filling out forms or selecting actions.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        AnalyticsConsent
                    </td>
                    <td>
                        This lets us know whether you've given us permission to track your activity for analytics purposes
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        ApprenticeshipFiltersViewModel
                    </td>
                    <td>
                        To temporarily store information about your searches
                    </td>
                    <td>
                        1 day
                    </td>
                </tr>

                <tr>
                    <td>
                        ASP.NET_SessionId
                    </td>
                    <td>
                        Stores the session id and settings of a signed in user that are lost when the session ends.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        AspNetCore.Antiforgery.w5W7x28NAIs
                    </td>
                    <td>
                        This enables the security of the website
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        AspNetCore.Mvc.CookieTempDataProvider
                    </td>
                    <td>
                        To temporarily store data between pages, for example when filling out forms or selecting actions.
                    </td>
                    <td>
                        Next Page or action
                    </td>
                </tr>

                <tr>
                    <td>
                        BNES__
                    </td>
                    <td>
                        This enables the security of the website
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        CookieConsent
                    </td>
                    <td>
                        This lets us know whether you've seen the cookie permission message
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        forecasting
                    </td>
                    <td>
                        Store user’s session id. For authentication and session resume
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        gsScrollPos
                    </td>
                    <td>
                        To display Google Maps
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        IDS
                    </td>
                    <td>
                        Required for identity management, i.e. sign-in and sign-out.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        idsrv
                    </td>
                    <td>
                        Required for identity management, i.e. sign-in and sign-out.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        idsvr.clients
                    </td>
                    <td>
                        Required for identity management, i.e. sign-in and sign-out.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        idsvr.partial
                    </td>
                    <td>
                        Required for identity management, i.e. sign-in and sign-out.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        idsvr.session
                    </td>
                    <td>
                        Required for identity management, i.e. sign-in and sign-out.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        MarketingConsent
                    </td>
                    <td>
                        This lets us know whether you've given us permission to track your activity for marketing purposes
                    </td>
                    <td>
                        1 year
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-dashboard-filter
                    </td>
                    <td>
                        To temporarily store user's selected dashboard filter.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-recruit-data
                    </td>
                    <td>
                        To temporarily store information about your account. All the information is encrypted.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-recruit-seen-outage-message
                    </td>
                    <td>
                        To temporarily store user's dismissal of the system outage message.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-recruit-setup-provider-{ukprn}
                    </td>
                    <td>
                        To temporarily store information about your current session.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-recruit-temp-data
                    </td>
                    <td>
                        To temporarily store data for the next server request.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-recruit-x-csrf
                    </td>
                    <td>
                        To store an encrypted value used to verify that page actions are made from the same website that issued the form page.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-vacancy-closingDate-{vacancyId}
                    </td>
                    <td>
                        Stored for temporary form data between pages when editing a date for a specific vacancy.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-vacancy-employer-info
                    </td>
                    <td>
                        To temporarily store user selection of legal entity and its name.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        prov-vacancy-startDate-{vacancyId}
                    </td>
                    <td>
                        Stored for temporary form data between pages when editing a date for a specific vacancy.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        recruit-data
                    </td>
                    <td>
                        To temporarily store information about your account. All the information is encrypted.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        recruit-temp-data
                    </td>
                    <td>
                        To temporarily store data for the next server request.
                    </td>
                    <td>
                        Immediately on next request.
                    </td>
                </tr>

                <tr>
                    <td>
                        recruit-x-csrf
                    </td>
                    <td>
                        To store an encrypted value used to verify that page actions are made from the same website that issued the form page.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        samesite
                    </td>
                    <td>
                        This enables the website to function properly
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        setup-employer
                    </td>
                    <td>
                        To temporarily store information about your current session.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        sfa-das-employerapprenticeshipsservice-apprentices
                    </td>
                    <td>
                        To store temporarily, information about your individual apprentices. We only store this apprentice information while you're editing it on the website. All the information is encrypted.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        sfa-das-employerapprenticeshipsservice-employeraccount
                    </td>
                    <td>
                        To store temporarily, information about your company that you have entered and information that we have recieved from HMRC about your PAYE scheme through the account creation process. All the information is encrypted.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        sfa-das-employerapprenticeshipsservice-flashmessage
                    </td>
                    <td>
                        To store temporarily, a record of your activity on the website; for example, when you progress to a new page, or when you enter correct or incorrect data. All the information is encrypted.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        sfa-das-employerapprenticeshipsservice-lastCohortPage
                    </td>
                    <td>
                        To store temporarily, a record of your activity on the website; for example, to know which page to return you to after deleting a cohort. All the information is encrypted.
                    </td>
                    <td>
                        1 day
                    </td>
                </tr>

                <tr>
                    <td>
                        SFA.DAS.Reservations.Web.Auth
                    </td>
                    <td>
                        To store the logged in information for a current session
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        SignInMessage
                    </td>
                    <td>
                        Required for identity management, i.e. sign-in and sign-out.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        TempData
                    </td>
                    <td>
                        To temporarily store data for the next server request.
                    </td>
                    <td>
                        Immediately on next request
                    </td>
                </tr>

                <tr>
                    <td>
                        vacancy-closingDate-{vacancyId}
                    </td>
                    <td>
                        Stored for temporary form data between pages when editing a specific vacancy’s dates.
                    </td>
                    <td>
                        30 minutes
                    </td>
                </tr>

                <tr>
                    <td>
                        vacancy-startDate-{vacancyId}
                    </td>
                    <td>
                        Stored for temporary form data between pages when editing a specific vacancy’s dates.
                    </td>
                    <td>
                        30 minutes
                    </td>
                </tr>

                <tr>
                    <td>
                        vacancyStatusFilter
                    </td>
                    <td>
                        To store the last filter applied by the user on their dashboard of the vacancies under a specified status.
                    </td>
                    <td>
                        when you close your browser
                    </td>
                </tr>

                <tr>
                    <td>
                        wsid
                    </td>
                    <td>
                        Store user’s session id. For authentication and session resume
                    </td>
                    <td>
                        Session or 30 day
                    </td>
                </tr>
            </tbody>
        </table>


        <h3 class="heading-small">
            Change your settings
        </h3>

        <p>You can&nbsp;<a href="@Url.Action(ControllerConstants.Settings)">change which cookies you're happy for us to use</a>.</p>

    </div>
</div>
