@model OrchestratorResponse<TransfersIndexViewModel>

@{
    ViewBag.PageID = "transfers";
    ViewBag.Section = "transfers";
    ViewBag.Title = "Transfers";
    ViewBag.AnalyticsData.Vpv = $"/finance/transfers";
    ViewBag.ZenDeskLabel = "eas-finance";
}

<h1 class="heading-xlarge">Your Transfers</h1>

@if (Model.Data.RenderCreateTransfersPledgeButton)
{
<div class="govuk-button-group">
    <a class="govuk-button" data-module="govuk-button" href="@Url.LevyMatchingTransfersAction("pledges/create/inform")" id="CreateTransfersPledgeButton">Create a transfers pledge</a>
</div>
}

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction("teams")">Home</a></li>
            <li><a href="@Url.LegacyEasAccountAction("finance")">Finance</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}

@section pageSpecificJS {
}