@using System.Globalization

@model SFA.DAS.EmployerFinance.Web.ViewModels.TransferAllowanceViewModel

@{
    var culture = new CultureInfo("en-GB");
}

<div class="grid-row">
    <div class="column-full">
        <div class="data-wrap">
            <div class="data">
                <dl class="transfer-funds">
                    <dt>Remaining transfer allowance</dt>
                    <dd>@Model.TransferAllowance.ToString("C0", culture)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>