@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel

@{
    var previousAgreement = Model.PreviouslySignedEmployerAgreement;
   
    
}

@if (previousAgreement != null)
{
    var pdfLinkParameters = new RouteValueDictionary
    {
        {"agreementId", Model.PreviouslySignedEmployerAgreement.HashedAgreementId}
    };

    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-border-wide panel-filled-purple panel-top-margin">
                <span class="font-small bold">What's in your updated agreement?</span>
                <p>Your agreement was updated on 30 April 2018 to include information on:</p>
                <ul class="list list-bullet list-standard-margin">
                    <li>sending and receiving transfers to fund apprenticeship training (clause 7)</li>
                    <li>using this service as a non-levy paying employer</li>
                </ul>
                <p class="margin-bottom-small">A previous version of this agreement was signed by @previousAgreement.SignedByName on behalf of @previousAgreement.LegalEntityName on @previousAgreement.SignedDate.Value.ToGdsFormatFull()</p>
                <p><a href="@Url.Action("GetSignedPdfAgreement", "EmployerAgreement", pdfLinkParameters)" target="_blank" class="download">View previous version</a> (PDF)</p>
            </div>
        </div>
    </div>
}