<article class="agreement">
    <header>
        <div class="headings">
            <div class="agreement-title">
                
                <h1>ESFA Apprenticeship Agreement for Employers</h1>
                <p class="context">For the provision of levy-funded apprenticeship training</p>
            </div>
            <p class="updated">23 April 2018</p>
        </div>
        <nav id="contents">
            <h2>Contents</h2>
            <div class="contents">

                <a href="#background" class="background">Background</a>
                <ol>
                    <li><a href="#1">PlaceHolder</a></li>
                    </ol>
            </div>
        </nav>
    </header>
    <div class="agreement-contents">
        <h2 id="background">Background</h2>
        <p>This Agreement sets out the terms for use of the Apprenticeship Service by the Employer and the obligations by which the Employer agrees to be bound.</p>
        
        <h1 class="heading-medium">AGREED TERMS</h1>
        <h2 id="1"><span class="number">1.</span>Placeholder</h2>
        <h3>1.1</h3>
        <p>This is a placeholder for the new agreement</p>
    </div>
</article>

<a href="#contents" class="back-to-contents">Back to contents</a>