<article class="agreement">
    <header>
        <div class="headings">
            <div class="agreement-title">
                
                <h1>ESFA Apprenticeship Agreement for Employers</h1>
                <p class="context">For the provision of levy-funded apprenticeship training</p>
            </div>
            <p class="updated">1 May 2017</p>
        </div>
        <nav id="contents">
            <h2>Contents</h2>
            <div class="contents">

                <a href="#background" class="background">Background</a>
                <ol>
                    <li><a href="#1">Definitions and Interpretation </a></li>
                    <li><a href="#2">Purpose and Use of Funding</a></li>
                    <li><a href="#3">Commencement and Duration</a></li>
                    <li><a href="#4">Payment of Funding</a></li>
                    <li><a href="#5">Employer's Obligations</a></li>
                    <li><a href="#6">Employer Co-Investment</a></li>
                    <li><a href="#7">Withholding, Suspension and repayment of Funding</a></li>
                    <li><a href="#8">State Aid</a></li>
                    <li><a href="#9">Information, Audit and Reporting</a></li>
                    <li><a href="#10">Intellectual Property Rights</a></li>
                    <li><a href="#11">Confidentiality</a></li>
                    <li><a href="#12">Freedom of information</a></li>
                    <li><a href="#13">Data protection</a></li>
                    <li><a href="#14">Anti-discrimination</a></li>
                    <li><a href="#15">Limitation of liability</a></li>
                    <li><a href="#16">Warranties</a></li>
                    <li><a href="#17">Termination</a></li>
                    <li><a href="#18">Force Majeure</a></li>
                    <li><a href="#19">Assignment</a></li>
                    <li><a href="#20">Variation</a></li>
                    <li><a href="#21">Waiver</a></li>
                    <li><a href="#22">Notices</a></li>
                    <li><a href="#23">Dispute resolution</a></li>
                    <li><a href="#24">No partnership or agency</a></li>
                    <li><a href="#25">Joint and several liability</a></li>
                    <li><a href="#26">Contracts (Rights of Third Parties) Act 1999</a></li>
                    <li><a href="#27">Governing law</a></li>
                </ol>
            </div>
        </nav>
    </header>
    <div class="agreement-contents">
        <h2 id="background">Background</h2>
        <p>This Agreement sets out the terms for use of the Apprenticeship Service by the Employer and the obligations by which the Employer agrees to be bound.</p>
        
        <h1 class="heading-medium">AGREED TERMS</h1>
        <h2 id="1"><span class="number">1.</span> Definitions and Interpretation</h2>
        <h3>1.1</h3>
        <p>In this Agreement the following terms shall have the following meanings:</p>
        <p><strong>Apprentice: </strong>a person who works under an Apprenticeship Agreement.</p>
        <p><strong>Apprentice Assessment Organisation:</strong> any organisation on the Register of Apprentice Assessment Organisations which is selected by an Employer and contracted by a Training Provider to carry out End-Point Assessment.</p>
        <p><strong>Apprenticeship:</strong> the training and (where applicable) end-point assessment for an employee as part of a job with an accompanying skills development programme.</p>
        <p><strong>Apprenticeship Agreement: </strong>(a) an approved English apprenticeship agreement; or (b) an apprenticeship agreement within the meaning given in section 32 of the Apprenticeship, Skills, Children and Learning Act 2009 as it applies in relation to England by virtue of provision made under section 115(9) of the Deregulation Act 2015. </p>
        <p><strong>Apprenticeship Levy: </strong>the levy payable by all employers with an annual pay bill of more than £3 million which is used to support the funding of Apprenticeships.</p>
        <p><strong>Apprenticeships Logo: </strong>the logo consisting of the word &ldquo;Apprenticeships&rdquo; in plain black type face with a semi-circle of orange brush strokes to the left hand side of the letter A, the Intellectual Property Rights in which are owned by the Crown.</p>
        <p><strong>Apprenticeship Service: </strong>the service provided by the ESFA to fund apprenticeship training undertaken by approved training providers using government funds. </p>
        <p><strong>Bribery Act: </strong>the Bribery Act 2010 and any subordinate legislation made under that Act from time to time together with any guidance or codes of practice issued by the relevant government department concerning the legislation.</p>
        <p><strong>Change of Control:</strong> has the meaning given in section 1124 of the Corporation Tax Act 2010.</p>
        <p><strong>Connected Employer: </strong>any entity (being a distinct legal entity from the Employer) which is connected with the Employer within the meaning of Schedule 1 Parts 1 and 2 of the National Insurance Contributions Act 2014, and which, not being a contracting party to this Agreement, carries out activities on behalf of the Employer in relation to the Apprenticeship Service or employs an Apprentice whose Training is Funded in whole or in part from the Employer's Digital Account.</p>
        <p><strong>Employer: </strong>the employer which enters into a contract with a Training Provider to commission Training (a) for its own Apprentices and/or (b) on behalf of a Connected Employer for the Connected Employer's Apprentices, to be funded in whole or in   part from the Employer's Digital Account.</p>
        <p><strong>Employer Co-Investment:</strong> a financial contribution towards the cost of Training which is payable by the Employer to the Training Provider when there are insufficient funds in the Employer's Digital Account. </p>
        <p><strong>Employer's Digital Account: </strong>the part of the Apprenticeship Service which shows the amount of Funding available to the Employer or a Connected Employer to spend on Training of Apprentices in accordance with this Agreement.</p>
        <p><strong>End-Point Assessment:</strong> the independent assessment of the Apprentice's knowledge, skills and behaviours carried out by an Apprentice Assessment Organisation at the end of the Training to confirm that the Apprentice has met the requirements of any relevant Approved Apprenticeship Standard.</p>
        <p><strong>Funding:</strong> the funding paid to the Training Provider on behalf of the Employer towards the cost of Training and End-Point Assessment in accordance with this Agreement.</p>
        <p><strong>Funding Rules:</strong> the ESFA's &ldquo;<a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018" target="_blank">Apprenticeship Funding: Rules and Guidance for Levy-Paying Employers</a>&rdquo;, as revised and amended from time to time. </p>
        <p><strong>Insolvency Event: </strong>means any of the following circumstances:</p>
        <ol type="a" class="list letters">
            <li>a party suspends or threatens to suspend payment of its debts or is unable to pay its debts as they fall due or is deemed unable to pay its debts within the meaning of any relevant provision of the Insolvency Act 1986;</li>
            <li>a party commences negotiations with all or any class of its creditors with a view to rescheduling any of its debts, or makes a proposal for or enters into any compromise or arrangement with any of its creditors (other than for the sole purpose of a bona fide reconstruction or amalgamation);</li>
            <li>a petition is filed, a notice is given, a resolution is passed, or an order is made, for or in connection with the winding up of the relevant party (other than for the sole purpose of a bona fide reconstruction or amalgamation);</li>
            <li>a receiver, administrative receiver or similar officer is appointed over the whole or any part of the relevant party's business or assets;</li>
            <li>an application order is made either for the appointment of an administrator or for an administration order, an administrator is appointed, or notice of intention to appoint an administrator is given;</li>
            <li>any event occurs, or proceeding is taken, with respect to the relevant party in any jurisdiction to which it is subject that has an effect equivalent or similar to any of the events mentioned in (a)-(e) (inclusive); or</li>
            <li>
                <p>the relevant party suspends or ceases, or threatens to suspend or cease, carrying on all or a substantial part of its business.</p>

                <p><strong>Intellectual Property Rights:</strong><strong></strong> all patents, trademarks, logos (including the Apprenticeships Logo), copyrights and design rights (whether registered or not) and all applications for any of the foregoing and all rights of confidence and Know-How however arising for their full term and any renewals and extensions.</p>
                <p><strong>Know-How:</strong> information, data, know-how or experience whether patentable or not and including but not limited to any technical and commercial information relating to research, design, development, manufacture, use or sale.</p>
                <p><strong>Prohibited Act:</strong> means:</p>

            </li>
            <li>
                offering, giving or agreeing to give to any servant of the Crown any gift or consideration of any kind as an inducement or reward for:
                <ol type="i" class="list roman">
                    <li>doing or not doing (or for having done or not having done) any act in relation to the obtaining or performance of this Agreement or any other contract with the Crown; or</li>
                    <li>showing or not showing favour or disfavour to any person in relation to this Agreement or any other contract with the Crown;</li>
                </ol>
            </li>
            <li>entering into this Agreement or any other contract with the Crown where a commission has been paid or has been agreed to be paid by the Employer or on its behalf, or to its knowledge, unless before the relevant contract is entered into particulars of any such commission and of the terms and conditions of any such contract for the payment thereof have been disclosed in writing to the ESFA;</li>
            <li>
                committing any offence:
                <ol type="i" class="list roman">
                    <li>under the Bribery Act;</li>
                    <li>under legislation creating offences in respect of fraudulent acts; or</li>
                    <li>at common law in respect of fraudulent acts in relation to this Agreement or any other contract with the Crown; or</li>
                </ol>
            </li>
            <li>defrauding or attempting to defraud or conspiring to defraud the Crown.</li>
        </ol>
        <p><strong>Register of Apprentice Assessment Organisations:</strong> the online register of Apprentice Assessment Organisations from which the Employer may select an organisation to carry out End-Point Assessment of Apprentices.</p>
        <p><strong>Register of Apprenticeship Training Providers:</strong> the online register of apprenticeship training providers which lists the organisations approved to deliver Training to Apprentices under this Agreement.</p>
        <p><strong>ESFA:</strong> the Secretary of State for Education, acting through the Education and Skills Funding Agency, an executive agency of the Department for Education, whose principal address is at Cheylesmore House, Quinton Road, Coventry, CV1 2WT.</p>
        <p><strong>Technical Funding Guide:</strong> the Education and Skills Funding Agency's  Apprenticeship Technical Funding Guide as revised and amended from time to time. </p>
        <p><strong>Training: </strong>the delivery of training and on-programme assessment by the Training Provider to one or more Apprentices.</p>
        <p><strong>Training Provider: </strong>an organisation registered on the Register of Apprenticeship Training Providers which has a contract with the Employer to provide Training to one or more Apprentices.</p>
        <h3>1.2</h3>
        <p data-point="1.2">Unless the context otherwise requires, words in the singular shall include the plural and in the plural shall include the singular.</p>
        <h3>1.3</h3>
        <p>Unless the context otherwise requires, a reference to one gender shall include a reference to the other genders.</p>
        <h3>1.4</h3>
        <p>A reference to a statute or statutory provision is a reference to it as amended, extended or re-enacted from time to time.</p>
        <h3>1.5</h3>
        <p>A reference to a person or body includes a reference to its successor.</p>
        <h3>1.6</h3>
        <p>Any words following the terms including, include, in particular, for example or any similar expression shall be construed as illustrative and shall not limit the sense of the words, description, definition, phrase or term preceding those terms.</p>
        <h2 id="2"><span class="number">2.</span> Purpose and Use of Funding</h2>
        <h3>2.1</h3>
        <p>The Employer acknowledges and accepts that the Funding available in the Employer's Digital Account is to support the Training and End-Point Assessment of Apprentices and shall be paid directly to the Training Provider in accordance with the Funding Rules. The Employer understands that the Funding may not be used for any other purpose.</p>
        <h2 id="3"><span class="number">3.</span> Commencement and Duration</h2>
        <h3>3.1</h3>
        <p>Except where otherwise specified or as agreed in writing between the parties, the terms of this Agreement shall apply from 1st May 2017 or the date of the Employer's electronic acceptance of these terms and conditions on <a href="http://www.gov.uk">www.gov.uk </a> (whichever is later) and shall continue in force until it is terminated in accordance with clause 17 of this Agreement.</p>
        <h3>3.2</h3>
        <p>By electronically accepting these terms and conditions, the Employer confirms it is authorised to use funds in the Employer's Digital Account and agrees to be legally bound by this Agreement.</p>
        <h2 id="4"><span class="number">4. </span>Payment of Funding</h2>
        <h3>4.1</h3>
        <p>Subject to any other provision of this Agreement, the ESFA shall pay the Funding to the Training Provider in accordance with the Technical Funding Guide. </p>
        <h3>4.2</h3>
        <p>The ESFA reserves the right to change or discontinue all or any part of the Apprenticeship Service at any time.</p>
        <h2 id="5"><span class="number">5.</span> Employer's Obligations</h2>
        <h3>5.1</h3>
        <p>In order for the ESFA to pay Funding to a Training Provider on behalf of the Employer, the Employer agrees to:</p>
        <ol type="a" class="list letters">
            <li>comply (and procure that any Connected Employer carrying out activities in connection with this Agreement complies) at all times with the requirements detailed in the Funding Rules;</li>
            <li>have a contract for services with a Training Provider for the provision of Training to one or more Apprentices; and</li>
            <li>assist and cooperate with the Training Provider to enable them to deliver the Training in compliance with the Funding Rules and, upon request, to supply the Training Provider with any information they may reasonably require in relation to any Apprentice or the delivery of any Training.</li>
        </ol>
        <h2 id="6"><span class="number">6. </span>Employer Co-Investment</h2>
        <h3>6.1</h3>
        <p>The Employer agrees to pay the Training Provider directly for any Employer Co-Investment which is or becomes payable in accordance with the Funding Rules.</p>
        <h3>6.2</h3>
        <p>Where the Employer's liability to pay an Employer Co-Investment occurs after the cost of Training has been paid in full from the Employer's Digital Account, (for example, where a change in the Employer or a Connected Employer's tax liability reduces the amount of funds that were previously in the Employer's Digital Account), the Employer agrees to pay the Employer's Co-Investment to the ESFA upon request.</p>
        <h2 id="7"><span class="number">7. </span>Withholding, Suspension and repayment of Funding</h2>
        <h3>7.1</h3>
        <p>Without prejudice to the ESFA's other rights and remedies, the ESFA may at its discretion withhold or suspend payment of funds from the Employer's Digital Account if:</p>
        <ol type="a" class="list letters">
            <li>the ESFA becomes aware of any fraud or financial irregularity by the Employer, a Connected Employer or the Training Provider in connection with this Agreement; </li>
            <li>any employee or other individual carrying out activities on behalf of the Employer or a Connected Employer has (a) acted dishonestly or negligently at any time in connection with this Agreement or (b) taken any actions which, in the reasonable opinion of the ESFA, bring or are likely to bring the ESFA's name or reputation into disrepute;</li>
            <li>the Employer or a Connected Employer provides the ESFA with any materially misleading or inaccurate information;</li>
            <li>the Employer or a Connected Employer commits or committed a Prohibited Act;</li>
            <li>there occurs, in respect of the Employer or a relevant Connected Employer, any Insolvency Event or Change of Control which, in the reasonable opinion of the ESFA, may affect the Employer's ability to comply with its obligations under this Agreement; or</li>
            <li>the Employer fails to comply with any of the terms and conditions set out in this Agreement and fails to rectify any such failure within 30 days of receiving written notice detailing the failure.</li>
        </ol>
        <h3>7.2</h3>
        <p>The ESFA reserves the right to recover from the Employer any Funding paid to a Training Provider from the Employer's Digital Account where the payment of Funding or any arrangement between the Employer and the Training Provider does not comply with the Funding Rules. The ESFA will act reasonably and proportionately in exercising its discretion to recover any sum from the Employer under this clause.</p>
        <h3>7.3</h3>
        <p>The ESFA may retain or set off any sums owed to it by the Employer which have fallen due and payable against any sums due to the Employer under this Agreement or any other agreement pursuant to which the Employer provides goods or services to the ESFA.</p>
        <h3>7.4</h3>
        <p>The Employer shall make any payments due to the ESFA without any deduction whether by way of set-off, counterclaim, discount, abatement or otherwise.</p>
        <h3>7.5</h3>
        <p>Should the Employer be subject to financial or other difficulties which are capable of having a material impact on its ability to comply with its obligations under this Agreement it will notify the ESFA as soon as possible so that, if possible, and without creating any legal obligation, the ESFA will have an opportunity to provide assistance in resolving the problem or to take action to protect the ESFA and any Funding spent from the Employer's Digital Account.</p>
        <h2 id="8"><span class="number">8. </span>State Aid</h2>
        <h3>8.1</h3>
        <p>Where the Employer is notified that any Funding paid on its behalf or on behalf of a Connected Employer to a Training Provider constitutes de minimis state aid, the Employer must keep a record of all de minimis state aid received during the current and two previous financial years (from any source) and notify the ESFA if it has any reason to believe it may have received or is at risk of receiving more than their permitted allowance of de minimis state aid over any three consecutive financial years. (Further information on state aid is set out in the Funding Rules.)</p>
        <h2 id="9"><span class="number">9.</span> Information, Audit and Reporting</h2>
        <h3>9.1</h3>
        <p>The Employer shall, upon request, supply any documents, information, data, reports, accounts, records or written or verbal explanations which may be reasonably required by the ESFA or its authorised representatives or auditors in connection with this Agreement or the Apprenticeship Service, including in relation to any Apprentice or PAYE scheme of the Employer or any Connected Employer. </p>
        <h3>9.2</h3>
        <p>The Employer shall assist and cooperate with the ESFA in relation to any audit or investigation and shall grant the ESFA or its authorised representatives or auditors access to its premises at any reasonable time, with or without notice, to examine, remove and/or copy any relevant documents and records (including electronic records) and to interview the Employer's and any Connected Employer's employees or staff carrying out activities in connection with this Agreement or any Apprentice receiving Training under this Agreement.</p>
        <h2 id="10"><span class="number">10.</span> Intellectual Property Rights</h2>
        <h3>10.1</h3>
        <p>The ESFA and the Employer agree that all rights, title and interest in or to any information, data, reports, documents, procedures, forecasts, technology, Know-How and any other Intellectual Property Rights whatsoever owned by either the ESFA or the Employer before the Commencement Date or developed by either party during the Grant Period, shall remain the property of that party.</p>
        <h3>10.2</h3>
        <p>Subject to clause 10.3 below, the Employer or any Connected Employer may not use any Intellectual Property Rights belonging to the ESFA or the Crown without prior written consent from the ESFA.</p>
        <h3>10.3</h3>
        <p>The Employer or any Connected Employer may use the Apprenticeships Logo for the purposes of advertising and marketing its Apprenticeships without obtaining prior consent from the ESFA.</p>
        <h3>10.4</h3>
        <p>Where the ESFA has allowed the Employer or a Connected Employer to use any of its Intellectual Property Rights in connection with this Agreement, the Employer shall immediately cease to use such Intellectual Property Rights upon request or upon on termination of this Agreement, and shall either return or destroy such Intellectual Property Rights as requested by the ESFA and, where relevant, shall procure that any Connected Employer also complies with the provisions of this clause 10.</p>
        <h2 id="11"><span class="number">11.</span> Confidentiality</h2>
        <h3>11.1</h3>
        <p>Subject to clause 12 (Freedom of Information), each party shall during the term of this Agreement and thereafter keep secret and confidential all Intellectual Property Rights or Know-How or other business, technical or commercial information disclosed to it as a result of the Agreement and shall not disclose the same to any person save to the extent necessary to perform its obligations in accordance with the terms of this Agreement or save as expressly authorised in writing by the other party.</p>
        <h3>11.2</h3>
        <p>The obligation of confidentiality contained in this clause shall not apply or shall cease to apply to any Intellectual Property Rights, Know-How or other business, technical or commercial information which:</p>
        <ol type="a" class="list letters">
            <li>at the time of its disclosure by the disclosing party is already in the public domain or which subsequently enters the public domain other than by breach of the terms of this Agreement by the receiving party;</li>
            <li>is already known to the receiving party as evidenced by written records at the time of its disclosure by the disclosing party and was not otherwise acquired by the receiving party from the disclosing party under any obligations of confidence; or</li>
            <li>is at any time after the date of this Agreement acquired by the receiving party from a third party having the right to disclose the same to the receiving party without breach of the obligations owed by that party to the disclosing party.</li>
        </ol>
        <h3>11.3</h3>
        <p>Notwithstanding the provisions of this clause 11, the ESFA may disclose confidential information obtained from the Employer:</p>
        <ol type="a" class="list letters">
            <li>to any other Central Government Body, Non-Departmental or Quasi Government Body or agency, central or local;</li>
            <li>to Parliament and Parliamentary Committees or if required by any Parliamentary reporting requirement; or</li>
            <li>to any professional adviser, consultant, contractor or other person engaged by the ESFA directly in connection with this Agreement, provided that such information is treated as confidential by the receiving party.</li>
        </ol>
        <h3>11.4</h3>
        <p>The Employer shall, where relevant, procure that any Connected Employer complies with the provisions of this clause 11 as though it were a party to this Agreement.  </p>
        <h2 id="12"><span class="number">12.</span> Freedom of information</h2>
        <h3>12.1</h3>
        <p>The Employer acknowledges that the ESFA is subject to the requirements of the Freedom of Information Act 2000 (<strong>FOIA</strong>) and the Environmental Information Regulations 2004 (<strong>EIRs</strong>).</p>
        <h3>12.2</h3>
        <p>The Employer shall:</p>
        <ol type="a" class="list letters">
            <li>provide all necessary assistance and cooperation as reasonably requested by the ESFA to enable the ESFA to comply with its obligations under the FOIA and EIRs;</li>
            <li>transfer to the ESFA all requests for information relating to this agreement that it receives as soon as practicable and in any event within 2 working days of receipt;</li>
            <li>provide the ESFA with a copy of all information belonging to the ESFA requested in the request for information which is in its possession or control in the form that the ESFA requires within 5 working days (or such other period as the ESFA may reasonably specify) of the ESFA's request for such information; and  </li>
            <li>not respond directly to a request for information unless authorised in writing to do so by the ESFA.</li>
        </ol>
        <h3>12.3</h3>
        <p>The Employer acknowledges that the ESFA may be required under the FOIA and EIRs to disclose information without consulting or obtaining consent from the Employer. The ESFA shall take reasonable steps to notify the Employer of a request for information (in accordance with the Secretary of State's section 45 Code of Practice on the Discharge of the Functions of Public Authorities under Part 1 of the FOIA) to the extent that it is permissible and reasonably practical for it to do so but (notwithstanding any other provision in this agreement) the ESFA shall be responsible for determining in its absolute discretion whether any information is exempt from disclosure in accordance with the FOIA and/or the EIRs.</p>
        <h3>12.4</h3>
        <p>Where the Employer is also subject to the requirements of FOIA and the EIRs, the ESFA agrees to assist and cooperate with the Employer in relation to any request for information, in the same manner described in clauses 12.1 to 12.3 above.</p>
        <h3>12.5</h3>
        <p>The Employer shall, where relevant, procure that any Connected Employer complies with the provisions of this clause 12 as though it were a party to this Agreement.  </p>
        <h2 id="13"><span class="number">13.</span> Data protection</h2>
        <h3>13.1</h3>
        <p>The Employer shall (and shall procure that any of its staff involved in connection with the activities under the Agreement shall) comply with any notification requirements under the Data Protection Act 1998 (<b>DPA</b>).</p>
        <h3>13.2</h3>
        <p>Both Parties will duly observe all their obligations under the DPA, which arise in connection with the Agreement.</p>
        <h3>13.3</h3>
        <p>The Employer shall, where relevant, procure that any Connected Employer complies with the provisions of this clause 13 as though it were a party to this Agreement.  </p>
        <h2 id="14"><span class="number">14. </span>Anti-discrimination</h2>
        <h3>14.1</h3>
        <p>The Employer shall not unlawfully discriminate within the meaning and scope of any law, enactment, order, or regulation relating to discrimination (whether in race, gender, religion, disability, sexual orientation, age or otherwise) in employment.</p>
        <h3>14.2</h3>
        <p>The Employer shall take all reasonable steps to secure the observance of clause 14.1 by all servants, employees or agents of the Employer and all suppliers and sub-contractors involved in delivering Training to its Apprentice(s).</p>
        <h3>14.3</h3>
        <p>The Employer shall, where relevant, procure that any Connected Employer complies with the provisions of this clause 14 as though it were a party to this Agreement.  </p>
        <h2 id="15"><span class="number">15.</span> Limitation of liability</h2>
        <h3>15.1</h3>
        <p>The ESFA accepts no liability for any consequences, whether direct or indirect, that may come about from the Employer or a Connected Employer running any Apprenticeship. The Employer shall indemnify and hold harmless the ESFA, its employees, agents, officers or sub-contractors with respect to all claims, demands, actions, costs, expenses, losses, damages and all other liabilities arising from or incurred by reason of the actions and/or omissions of the Employer or a Connected Employer in relation to this Agreement, the non-fulfilment of obligations of the Employer or a Connected Employer under this Agreement or its obligations to third parties.</p>
        <h3>15.2</h3>
        <p>Neither party seeks to limit or exclude its own liability for death or personal injury caused by its own negligence, fraud, fraudulent misrepresentation or any other liability which cannot be limited or excluded by law.</p>
        <h3>15.3</h3>
        <p>Subject to clauses 15.1 and 15.2 above, the ESFA's liability under this Agreement is limited to the amount of the Funding for the training of an Apprentice.</p>
        <h2 id="16"><span class="number">16.</span> Warranties</h2>
        <h3>16.1</h3>
        <p>The Employer warrants, undertakes and agrees that:</p>
        <ol type="a" class="list letters">
            <li>it has all necessary resources and expertise to offer Apprenticeships and use  the Apprenticeship Service as envisaged in this Agreement and the Funding Rules;</li>
            <li>where it is commissioning Training on behalf of a Connected Employer, it shall procure that the Connected Employer complies with any relevant provisions of this Agreement or the Funding Rules;</li>
            <li>it has not committed, nor shall it commit, any Prohibited Act;</li>
            <li>it shall at all times comply with all relevant legislation and all applicable codes of practice and other similar codes or recommendations when carrying out activities in connection with this Agreement, and shall notify the ESFA immediately of any significant departure from such legislation, codes or recommendations;</li>
            <li>it shall comply with the requirements of the Health and Safety at Work etc. Act 1974 and any other acts, orders, regulations and codes of practice relating to health and safety, which may apply to Apprentices and any other employees or persons carrying out activities in connection with the Training of Apprentices;</li>
            <li>it has and shall keep in place adequate procedures for dealing with any conflicts of interest;</li>
            <li>it has and shall keep in place systems to deal with the prevention of fraud and/or administrative malfunction;</li>
            <li>all financial and other information concerning the Employer which has been disclosed to the ESFA is to the best of its knowledge and belief, true and accurate;</li>
            <li>it is not subject to any contractual or other restriction imposed by its own or any other organisation's rules or regulations or otherwise which may prevent or materially impede it from meeting its obligations under this Agreement; and</li>
            <li>as of the date on which it enters into this Agreement there has been no material change in its financial position or prospects since the date of its last accounts.</li>
        </ol>
        <h2 id="17"><span class="number">17.</span> Termination</h2>
        <h3>17.1</h3>
        <p>Without affecting any other right or remedy available to it, the ESFA may terminate this Agreement with immediate effect by giving written notice to the Employer if:</p>
        <ol type="a" class="list letters">
            <li>the Employer or a Connected Employer commits a material breach of any term of this Agreement;</li>
            <li>the Employer or a Connected Employer commits a breach of this Agreement which is irremediable or which it fails to remedy before the deadline specified in a written request from the ESFA requiring the breach to be remedied; </li>
            <li>the Employer or a Connected Employer repeatedly breaches any of the terms of this Agreement in such a manner as to reasonably justify the opinion that its conduct is inconsistent with it having the intention or ability to give effect to the terms of this Agreement;</li>
            <li>the ESFA becomes aware of any fraud or financial irregularity by the Employer or a Connected Employer in connection with this Agreement;</li>
            <li>any employee or other individual carrying out activities on behalf of the Employer or a Connected Employer has (a) acted dishonestly or negligently at any time in connection with this Agreement or (b) taken any actions which, in the reasonable opinion of the ESFA, bring or are likely to bring the ESFA's name or reputation into disrepute;</li>
            <li>the Employer commits or committed a Prohibited Act;</li>
            <li>there occurs, in respect of the Employer or any relevant Connected Employer, any Insolvency Event or Change of Control which, in the reasonable opinion of the ESFA, may affect the Employer's ability to comply with its obligations under this Agreement.</li>
        </ol>
        <h3>17.2</h3>
        <p>For the purposes of clause 17.1(a), material breach means a breach (including an anticipatory breach) that is serious in the widest sense of having a serious effect on the benefit which the ESFA would otherwise derive from a substantial portion of this Agreement. In deciding whether any breach is material no regard shall be had to whether it occurs by some accident, mishap, mistake or misunderstanding.</p>
        <h3>17.3</h3>
        <p>Without affecting any other right or remedy available to it, either party may terminate this Agreement for any reason by giving not less than 30 days' notice in writing to the other party, or such shorter or longer notice period as may be mutually agreed in writing between them.</p>
        <h3>17.4</h3>
        <p>Following the termination of this Agreement, the following clauses shall remain in full force and effect: 1 (Definitions and Interpretation); 7 (Withholding, Suspension and Repayment of Funding); 9 (Information, Audit and Reporting), 10 (Intellectual Property Rights), 12 (Freedom of Information), 13 (Data Protection), 15 (Limitation of Liability), 22 (Notices), 23 (Dispute Resolution), 25 (Joint and Several Liability), 26 (Contracts (Rights of Third Parties) Act 1999) and 27 (Governing Law).</p>
        <h2 id="18"><span class="number">18.</span> Force Majeure</h2>
        <h3>18.1</h3>
        <p>Neither party shall be in breach of this Agreement nor liable for delay in performing, or failure to perform, any of its obligations under this Agreement if such delay or failure result from events, circumstances or causes beyond its reasonable control. In such circumstances the affected party shall be entitled to a reasonable extension of the time for performing such obligations.</p>
        <h2 id="19"><span class="number">19.</span> Assignment</h2>
        <h3>19.1</h3>
        <p>The Employer may not, without the prior written consent of the ESFA, assign, transfer, sub-contract, or in any other way make over to any third party the benefit and/or the burden of this Agreement.</p>
        <h2 id="20"><span class="number">20.</span> Variation</h2>
        <h3>20.1</h3>
        <p>The ESFA reserves the right to vary the terms of this Agreement at its absolute discretion.  The Employer will receive an electronic notification of the change when it accesses the Employer's Digital Account and will be asked to confirm its acceptance of the new terms and conditions.</p>
        <h2 id="21"><span class="number">21.</span> Waiver</h2>
        <h3>21.1</h3>
        <p>No failure or delay by either party to exercise any right or remedy under this Agreement shall be construed as a waiver of any other right or remedy.</p>
        <h2 id="22"><span class="number">22.</span> Notices</h2>
        <h3>22.1</h3>
        <p>All notices and other communications in relation to this Agreement shall be in writing and shall be deemed to have been duly given if personally delivered, e-mailed, or mailed (first class postage prepaid) to the address of the relevant party, as referred to above or otherwise notified in writing. If personally delivered or if e-mailed all such communications shall be deemed to have been given when received (except that if received on a non-working day or after 5.00 pm on any working day they shall be deemed received on the next working day) and if mailed all such communications shall be deemed to have been given and received on the second working day following such mailing.</p>
        <h2 id="23"><span class="number">23.</span> Dispute resolution</h2>
        <h3>23.1</h3>
        <p>Any complaint or dispute arising in relation to this Agreement shall be resolved in accordance with ESFA's official complaints procedure. </p>
        <h2 id="24"><span class="number">24.</span> No partnership or agency</h2>
        <h3>24.1</h3>
        <p>This Agreement shall not create any partnership or joint venture between the ESFA and the Employer, nor any relationship of principal and agent, nor authorise any party to make or enter into any commitments for or on behalf of the other party.</p>
        <h2 id="25"><span class="number">25.</span> Joint and several liability</h2>
        <h3>25.1</h3>
        <p>Where the Employer is not a company nor an incorporated entity with a distinct legal personality of its own, the individuals who enter into and sign this Agreement on behalf of the Employer shall be jointly and severally liable for the Employer's obligations and liabilities arising under this Agreement.</p>
        <h2 id="26"><span class="number">26.</span> Contracts (Rights of Third Parties) Act 1999</h2>
        <h3>26.1</h3>
        <p>This Agreement does not and is not intended to confer any contractual benefit on any person pursuant to the terms of the Contracts (Rights of Third Parties) Act 1999.</p>
        <h2 id="27"><span class="number">27.</span> Governing law</h2>
        <h3>27.1</h3>
        <p>This Agreement shall be governed by and construed in accordance with the law of England and Wales and the parties irrevocably submit to the exclusive jurisdiction of the English and Welsh courts.</p>
    </div>
</article>

<a href="#contents" class="back-to-contents">Back to contents</a>