
@model string


<h1 class="heading-xlarge">No PAYE scheme found</h1>
<p>The Government Gateway details you entered aren't linked to any PAYE schemes</p>
<p>
    <a class="button" href="@Model">Enter different details</a>
</p>


