<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" id="Levy-accounts">Set up your account</h1>
        <p>To access funds you need to set up an account.</p>
        <p>To do this you'll need:</p>
        <ul class="list list-bullet" aria-labelledby="Levy-accounts">
            <li>the Government Gateway login details for your PAYE schemes (ask your payroll department if you don't have access to this)</li>
            <li>your organisation's Companies House number or Charity number (only if your organisation has one)</li>
        </ul>
        <p>
            <a href="@Url.Action("SelectEmployer", "EmployerAccount")" class="button" id="add_new_account" aria-label="Add new account">Continue</a>
        </p>
        <p>Search for <a href="https://beta.companieshouse.gov.uk/" rel="external" target="_blank">your Companies House number</a> or <a href="https://www.gov.uk/find-charity-information" rel="external" target="_blank">your Charity number</a></p>
        <h2 class="heading-medium">If your organisation already has an account</h2>
        <p>If someone in your organisation has already created an account, you'll need to ask them to invite you to the account.</p>
    </div>
</div>