<details id="inform-english-percentage" class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            What is English percentage? 
        </span>
    </summary>
    <div class="govuk-details__text">
        Your English percentage is provided by <abbr>HMRC</abbr> based on the data in your payroll submissions. It represents the proportion of your payroll that's paid to your employees that live in England.<br>
        If you think there are any issues with your English percentage, check your payroll data to make sure your employees' address information is correct.
    </div>
</details>