<details>
    <summary><span class="summary">What is English percentage?</span></summary>
    <div class="panel">
        <p>Your English percentage is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that's paid to your employees that live in England.</p>
        <p>If you think there are any issues with your English percentage, check your payroll data to make sure your employees' address information is correct.</p>
    </div>
</details>