@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.GatewayInformViewModel>

@{ViewBag.PageID = "page-onboard-gov-gateway-inform"; }
@{ViewBag.Title = "Check details"; }
@{ViewBag.Section = "paye"; }
@{ViewBag.HideNav = "true"; }

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Allowing your tax details to be used</h1>
        <p>When you enter your Government Gateway details you'll be asked to 'grant authority' to allow your tax details to be used.</p>
        <p>This means you allow HMRC to send the Education and Skills Funding Agency details of the levy that you've paid - no other payroll information will be shared.</p>
        <h2 class="heading-medium">By continuing you agree to the following:</h2>
        <div class="panel">
            <p>I have authority to add PAYE schemes to this account.</p>
            <p>I understand that all account users will be able to see funds from any PAYE schemes I add.</p>
            <p>I'll only add PAYE schemes that are used by my organisation or used by a <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" rel="external" target="_blank">connected organisation</a>.</p>
        </div>
        <p><a href="@Model.Data.ConfirmUrl" id="agree_and_continue" class="button">Agree and continue</a></p>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="@Model.Data.BreadcrumbUrl" class="back-link">Back</a></li>
        </ol>
    </div>
}


