@model dynamic

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Error!</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <p class="bold-medium">
            @Model.Exception.Message
        </p>
        <a class="button" href="/" id="back_to_service_home_page">Go back to the service home page</a>
    </div>
</div>
