@model ModelStateDictionary

<div class='@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") error-summary' role="group" data-valmsg-summary="true" >
    <h1 id="error-summary" class="heading-medium error-summary-heading">
        Errors to fix
    </h1>
    <p>Check the following details:</p>
    <ul class="error-summary-list">

        @foreach (var stateItem in ViewContext.ViewData.ModelState)
        {
            var elementId = ViewData.TemplateInfo.GetFullHtmlFieldId(stateItem.Key) ?? stateItem.Key;

            foreach (var error in stateItem.Value.Errors)
            {
                <li>
                    <a href="#error-message-@elementId"  data-focuses="error-message-@elementId">@error.ErrorMessage </a> 
                    <!-- comment to lee :  to modify error message control-->
                </li>
            }
        }

    </ul>
</div>
