<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net462" />
  <package id="HMRC.ESFA.Levy.Api.Client" version="1.0.43" targetFramework="net462" />
  <package id="HMRC.ESFA.Levy.Api.Types" version="1.0.43" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.18.0" targetFramework="net462" />
  <package id="Moq" version="4.5.23" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.3.7" targetFramework="net462" />
  <package id="NUnit" version="3.5.0" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Client" version="1.0.0.54190" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.0.0.54237" targetFramework="net462" />
  <package id="SFA.DAS.HashingService" version="1.0.0.57835" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.56651" targetFramework="net462" />
  <package id="SFA.DAS.TokenService.Api.Client" version="1.0.0.26382" targetFramework="net462" />
</packages>